{% extends 'base.html' %}
{% load static %}
{% block nav_item_roles %}active{% endblock nav_item_roles %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#employees_table').DataTable({paging:false});
    var table = $('#subs_table').DataTable({paging:false});
    document.getElementById("check_booked_jobs").style.display = "none"
})

function show_check_booked_jobs(){
document.getElementById("check_booked_jobs").style.display = "block"
}

	</script>
</head>
<body>
{% if user.is_superuser %}
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Admin Page</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link active" href="#">Home</a></li>
    </ul>
  </div>
</nav>


<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingZero" style="background-color:hsla(128,100%, 80%);">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false"
                        aria-controls="collapseZero">
                   Employees Awaiting Registration
                </button>
            </h5>
        </div>
        <div id="collapseZero" class="collapse hide" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="card-body">
			<div class="demo-html" style="width:90%">
					<table id="employees_table" class="display" style="width:90%">
						<thead>
							<tr>
								<th>Name </th>
								<th>Pin </th>
							</tr>
						</thead>
						<tbody>
						{% for x in employees %}
						<tr><td>{{x.first_name}} {{x.middle_name}} {{x.last_name}}</td><td>{{x.pin}}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
			</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne" style="background-color:hsla(128,100%, 80%);">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                    Subcontractor PINs
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
					<table id="subs_table" class="display" style="width:90%">
						<thead>
							<tr>
								<th>Name </th>
								<th>Pin </th>
								<th>Username </th>
							</tr>
						</thead>
						<tbody>
						{% for x in subs %}
						<tr><td>{{x.company}}</td><td>{{x.pin}}</td><td>{{x.username}}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
                </div>

            </div>
        </div>

    <div class="card">
        <div class="card-header" id="headingOne" style="background-color:hsla(128,100%, 80%);">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                        aria-controls="collapse2">
                    Admin Tools
                </button>
            </h5>
        </div>
        <div id="collapse2" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
<a href = "{% url 'grant_web_access' %}">
							<div style="height:100%;width:100%">
								Give Employee Web Access	</div>
						</a>
<br>
<a href = "{% url 'upload_new_job' %}">
							<div style="height:100%;width:100%">
								Upload New Job	</div>
						</a>
<br>
<a href = "{% url 'grant_subcontractor_web_access' %}">
							<div style="height:100%;width:100%">
								Give Subcontractor Web Access	</div>
						</a>
<br>
<a href = "{% url 'build_subcontractor_approvers' %}">
							<div style="height:100%;width:100%">
								Build Approvers for All Subcontractors	</div>
						</a>
<br>
<a href = "{% url 'client_info' 'ALL' %}">
							<div style="height:100%;width:100%">
								Change Client Info	</div>
						</a>
<br>
<a href = "javascript:show_check_booked_jobs()">Compare Open Jobs to MC </a>
<div id="check_booked_jobs">
<p>Run a booked jobs report. Include all jobs, not just open jobs.  Save it and upload it here. This will Open and Close jobs in Trinity, then produce a report showing what it did</p>

<form name = add_file action="{% url 'audit_MC_open_jobs' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	Open Jobs Spreadsheet: <input type= "file" name="upload_file" id="upload_file" />
	<br>
	<br>
	<input type="submit" value="Upload Booked Jobs List" />
</form>

</div>

<br>
<br>
<form action="{% url 'admin_home' %}" method="post">
	{% csrf_token %}
	<input type="submit" class="btn btn-primary btn-sm" name="email_test" value="Doug Click To Test External Email" />
</form>
{% if emailconfirmation %}
Test Email Sent!
{% endif %}

<br>
<a href = "{% url 'closed_equipment_report' %}">
							<div style="height:100%;width:100%">
								Closed Equipment Report	</div>
						</a>
<br>
<!--<a href = "{% url 'reset_databases' %}">-->
<!--							<div style="height:100%;width:100%">-->
<!--								Reset Databases-Don't Click	</div>-->
<!--						</a>-->
<!--<br>-->
<!--<a href = "{% url 'create_folders' %}">-->
<!--							<div style="height:100%;width:100%">-->
<!--								Create Folders	</div>-->
<!--						</a>-->
<!--<br>-->

<!--<a href = "{% url 'customize' %}">-->
<!--							<div style="height:100%;width:100%">-->
<!--								Custom (dont click)	</div>-->
<!--						</a>-->
<!--<br>-->
                </div>

            </div>
        </div>
</div>






{% else %}
<div style="padding-top: 25px">Unauthorized</div>
{% endif %}
</body>
</html>

{% endblock %}
