{% extends 'base.html' %}
{% load static %}
{% block nav_item_roles %}active{% endblock nav_item_roles %}


{% block extra_head %}
        <style type="text/css" class="init">

.colored-header th { background-color: lightblue; padding: 5px; border: solid 1px #777;}

.dataTables_wrapper {
    font-family: tahoma;
    font-size: 13px;
}



        label {
            margin-left: 10px;
            margin-right: 10px;
        }
        input {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        tr th {
            width: fit-content !important;
        }
        .tab-content * {
          color : black;
          background-color: white !important;
        }
        .active * {
            background-color: white !important;
        }
                .list-items {
        border-bottom: 1px solid black; display: flex; justify-content: space-between;
        }
        .text-wrap{
    white-space:normal;
}
.width-200{
    width:200px;
}
.dataTables_filter {
   float: left !important;
}
.tb { border-collapse: collapse; width:300px; }

.tb th, .tb td { padding: 5px; border: solid 1px #777; }
.tb th { background-color: lightblue; }

.table td {
        }

            .modal-content {
                width: fit-content;
            }


    </style>
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">
{% endblock %}

{% block content %}

<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="{% url 'admin_home' %}">Admin Page</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'vendor_management' %}">Vendor Management</a></li>
             <li><a class="nav-item nav-link active" href="{% url 'client_info' 'ALL' %}">Client Management</a></li>
    </ul>
  </div>
</nav>
    <!--combine companies modal-->
<div class="modal fade" id="combinecompanies-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title1"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                                <form name="client_info_form" id="client_info_form" action="{% url 'client_info' 'ALL' %}" method="post">
    {% csrf_token %}
            Move this Company<select id="select_client1" name="select_client1" class="form-control combine-company-select" >
                       <option value="please_select">Select Client</option>
                {% for x in all_clients %}
                        <option value={{x.id}}>{{x.company}}-{{x.id}}</option>
						{% endfor %}
            </select>
                <br>
                          To this Company<select id="select_client2" name="select_client2" class="form-control combine-company-select" >
                       <option value="please_select">Select Client</option>
                {% for x in active_clients %}
                        <option value={{x.id}}>{{x.company}}-{{x.id}}</option>
						{% endfor %}
            </select>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <input type="submit" class="btn btn-primary" name="combine_companies_now" value="Combine Now" />
                </form>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'client_cleanup_report' %}"
   class="btn btn-warning btn-sm">
    Client Cleanup Report
</a>

<form name="form2" id="form2" action="{% url 'client_info' 'ALL' %}" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <label for="select_client">Select Client</label>

        <select class="form-control searchable-client"
                id="select_client"
                name="select_client"
                onchange="search_now(2)">
            {% if selected_client %}
                <option value="{{ selected_client.id }}">{{ selected_client.company }}</option>
            {% else %}
                <option value="please_select">Select Client</option>
            {% endif %}

            {% for x in clients %}
                <option value="{{ x.id }}">{{ x.company }}</option>
            {% endfor %}
        </select>
    </div>
</div>
</form>
<br>
{% if selected_client %}

<!--combine people modal-->
<div class="modal fade" id="combinepeople-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="client_info_form" id="client_info_form" action="{% url 'client_info' selected_client.id %}" method="post">
    {% csrf_token %}
            Move this Person<select id="select_person1" name="select_person1" >
                       <option value="please_select">Select Person</option>
                {% for x in client_employees %}
                        <option value={{x.person_pk}}>{{x.name}}- {{x.email}}- {{x.phone}}</option>
						{% endfor %}
            </select>
                <br>
            To this Person<select id="select_person2" name="select_person2" >
                       <option value="please_select">Select Person</option>
                {% for x in client_employees %}
                        <option value={{x.person_pk}}>{{x.name}}- {{x.email}}- {{x.phone}}</option>
						{% endfor %}
            </select>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-primary" name="combine_people_now" value="Combine Now" />
                </form>
            </div>
        </div>
    </div>
</div>

<form name="form3" id="form3" action="{% url 'client_info' selected_client.id %}" method="post">
    {% csrf_token %}

<br>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <label for="select_job">Job</label>

        <select id="select_job"
                name="select_job"
                class="form-control searchable-job"
                onchange="search_now(3)">
            <option value="please_select">Select a job</option>

            {% for x in jobs %}
                <option value="{{ x.job_number }}">
                    {{ x.job_number }} - {{ x.job_name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
    </form>
<br>
    <br>
<form name="form4" id="form4" action="{% url 'client_info' selected_client.id %}" method="post">
    {% csrf_token %}
{% if selected_client.is_active %}<input type="submit" class="btn btn-danger btn-sm" name="make_client_inactive" value="De-Activate Client" />
{% else %}<h2>THIS CLIENT IS NO LONGER ACTIVE!</h2><br><input type="submit" class="btn btn-primary btn-sm" name="make_client_active" value="Make this Client Active Again" />
{% endif %}
</form>
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#combinepeople-modal" >Combine People</button>
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#combinecompanies-modal" >Combine Companies</button>
<br>

<form name="form5" id="form5" action="{% url 'client_info' selected_client.id %}" method="post">
        {% csrf_token %}

    Company Name: <input type="text" name="company_name" value = "{{selected_client.company}}" size="50" onchange="search_now(5)" /><br>
    Email to Send Bids: <input type="email" name="company_email" value = "{{selected_client.bid_email}}" size="50"  onchange="search_now(5)" /><br>
    Main Phone: <input type="phone" name="company_phone" value = "{{selected_client.phone}}" size="50" onchange="search_now(5)" /><br>
    Address: <input type="text" name="company_address" value = "{{selected_client.address}}" size="40" onchange="search_now(5)" /> City:  <input type="text" name="company_city" value = "{{selected_client.city}}" size="25" onchange="search_now(5)" />State:  <input type="text" name="company_state" value = "{{selected_client.state}}" size="15" onchange="search_now(5)" />
</form>
    <br>
    <hr>

<div class="table-responsive">
<form name="form6" id="form6" action="{% url 'client_info' selected_client.id %}" method="post">
{% csrf_token %}
    <input type="hidden" name="people_form" value = "YES" />
<table id="jobs_table" class="display table table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">No Longer There</th>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color:hsla(52, 100%, 88%);">
        <td> <input type="text" name="add_name" placeholder = "Name of New Person" size="50" /></td>
        <td><input type="email" name="add_email" placeholder = "Email" size="50"  /></td>
        <td><input type="phone" name="add_phone" placeholder = "Phone" /></td>
        <td><input type="submit" class="btn btn-primary btn-sm" name="add_new_person" value="Add" /></td>
    </tr>
    {% for x in client_employees %}
        <tr>
        <td> <input type="text" name="name{{x.person_pk}}" value="{{x.name}}" size="50" onchange="search_now(6)" /></td>
        <td>
            {% if x.email %}
            <input type="email" name="email{{x.person_pk}}" value="{{x.email}}" size="50" onchange="search_now(6)" />
        {% else %}
            <input type="email" name="email{{x.person_pk}}" placeholder="Email" size="50" onchange="search_now(6)" />
            {% endif %}
            </td>
            <td>
            {% if x.phone %}
            <input type="phone" name="phone{{x.person_pk}}" value="{{x.phone}}" onchange="search_now(6)" />
        {% else %}
                <input type="phone" name="phone{{x.person_pk}}" placeholder="Phone" onchange="search_now(6)" />
            {% endif %}
            </td>
            <td>
        {% if x.is_active %}
            <input type="checkbox" name="closed{{x.person_pk}}" onchange="search_now(6)" />
        {% else %}
            <input type="checkbox" name="closed{{x.person_pk}}" checked onchange="search_now(6)" />
        {% endif %}
        </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</form>
</div>
{% endif %}

{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript" class="init">
            var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
function new_filter_now(){
    document.getElementById('filter_form').submit();
}

function search_now(formnumber){
    selected_form = document.getElementById('form'+formnumber)
    selected_form.submit();
}

window.onload = function() {
    var table = $('#jobs_table').DataTable({paging: false, info:false, ordering:false, searching:false})
};
    $(document).ready(function () {
        $('.searchable-client').select2({
            width: '100%',
            placeholder: 'Search for a client'
        });
        $('.combine-company-select').select2({
            width: '100%',
            placeholder: 'Search for a client',
            dropdownParent: $('#combinecompanies-modal')
        });
    });
    $(document).ready(function () {
    $('.searchable-job').select2({
        width: '100%',
        placeholder: 'Search for a job'
    });
});
</script>
{% endblock %}
