{% extends 'base.html' %}
{% load static %}
{% block nav_item_roles %}active{% endblock nav_item_roles %}
{% block content %}



	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link active" href="#">Home</a></li>
    </ul>
  </div>
</nav>
<div style="padding-top: 50px; padding-bottom: 50px" class="row align-items-center justify-content-center align-middle">
    <div class="col-6" >
		{% if user.is_superuser %}
<form action="{% url 'grant_web_access' %}" method="post" class="form-group">
    {% csrf_token %}

    <label for="select_employee">Select Employee</label>

    <select id="select_employee" name="select_employee" class="form-control">
        <option value="not_selected">Select Employee</option>

        {% if employees %}
            {% for x in employees %}
                <option value="{{ x.id }}"
                    {% if selected_employee and selected_employee.id == x.id %}
                        selected
                    {% endif %}
                >
                    {{ x.first_name }} {{ x.last_name }}
                </option>
            {% endfor %}
        {% endif %}
    </select>

    <input type="submit"
           style="margin-top: 10px"
           class="btn btn-primary btn-sm"
           name="add_new"
           value="Submit Now">

</form>
		{% else %}
			<div style="padding-top: 25px">Unauthorized</div>
		{% endif %}
    </div>
</div>


{% endblock %}

	{% block extra_scripts %}
	<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#select_employee').select2({
            width: '100%',
            placeholder: 'Select Employee'
        });
    });

	</script>
	{% endblock %}