{% extends 'base.html' %}
{% load static %}
{% block nav_item_roles %}active{% endblock nav_item_roles %}
{% block content %}

	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link active" href="#">Home</a></li>
    </ul>
  </div>
</nav>
<div style="padding-top: 50px; padding-bottom: 50px" class="row align-items-center justify-content-center align-middle">
    <div class="col-6" >
		{% if user.is_superuser %}
			<form action = "{% url 'grant_subcontractor_web_access' %}" method = "post" class="form-group">
				{% csrf_token %}

				 <label for="select_employee">Select Subcontractor</label>
				<select id="select_employee" name="select_employee" class="form-control">
					<option value="not_selected">Select Subcontractor</option>
					{% if subcontractors %}
						{% for x in subcontractors %}
							<option value={{x.id}}>{{x.company}}</option>
						{% endfor %}
					{% endif %}
				</select>

				<input type="submit" style="margin-top: 10px" class="btn btn-primary btn-sm" name="add_new" value="Submit Now" >
			</form>
		{% else %}
			<div style="padding-top: 25px">Unauthorized</div>
		{% endif %}
    </div>
</div>


{% endblock %}
