{% extends 'base.html' %}
{% load static %}
{% block nav_item_index %}active{% endblock nav_item_index %}

{% block extra_head %}
    <style type="text/css" class="init">
        .dataTables_wrapper {
    font-family: tahoma;
    font-size: 13px;
}



        .table td {

        }
        label {
            margin-left: 10px;
            margin-right: 10px;
        }
        input {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        tr th {
            width: fit-content !important;
        }
        .tab-content * {
          color : black;
          background-color: white !important;
        }

        .tab-content .active * {
            background-color: white !important;
        }
                .list-items {
        border-bottom: 1px solid black; display: flex; justify-content: space-between;
        }
        .text-wrap{
    white-space:normal;
}
.width-200{
    width:200px;
}


        .dataTables_filter {
           float: left !important;
        }

                  .tb { border-collapse: collapse; width:300px; }
          .tb th, .tb td { padding: 5px; border: solid 1px #777; }
          .tb th { background-color: lightblue; }
    </style>
        <link rel="stylesheet" href="{% static 'project_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container" style="margin-bottom: 22px;">
    <div class="row">
        <div class="col-12">
            <div style="text-align:center">
                <h4>Trinity Software Solutions</h4>
                <div style="text-align: center;">
                    <img src="{% static 'images/logo.png' %}" width="40%">
                </div>
            </div>
        </div>
    </div>
    <!-- JOBS and equipment-->

    <div class="row h-100 d-flex" style="justify-content: space-around;">
        <!-- JOBS-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Jobs</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{needs_super}}</b> -Need a Superintendent</div>
                    <div style="display: flex"><b>{{next_two_weeks}}</b> -Starting in Next 2 Weeks</div>
                    <div style="display: flex"><b>{{needs_work_order_now}}</b> <a href="{% url 'jobs_home' %}?search4=on&search5=on&search6=on">
-Need Work Order NOW</a></div>
                    <div style="display: flex"><b>{{needs_work_order}}</b> <a href="{% url 'jobs_home' %}?search4=on&search5=on&search8=on">
-Need Work Order</a></div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a class="card-link btn btn-info btn-sm" href="{% url 'jobs_home' %}">Go To Jobs</a>
                </div>
            </div>
        </div>
        <!-- Equipment-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Equipment</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{missing}}</b> -Missing</div>
                    <div style="display: flex"><b>{{checked_out}}</b> -On Open Jobs</div>
                    <div style="display: flex"><b>{{closed_job}}</b> -On Closed Jobs</div>
                    <div style="display: flex"><b>{{service}}</b> -In Service</div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'equipment_home' %}" id="update_equipment" class="btn btn-info btn-sm"
                       name="update_equipment">Go To Equipment</a>
                </div>
            </div>
        </div>

        <!-- employees-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Employees</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex">
                        <a href="{% url 'pending_employee_tasks' %}">
                            <b>{{ pending_employee_tasks_count }}</b> -Pending Employee Tasks
                        </a>
                    </div>
                    <div style="display: flex">
                        <a href="{% url 'expired_certifications' %}">
                            <b>{{ expired_flagged_certifications_count }}</b> -Expired Certifications
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'employees_home' %}" class="btn btn-info btn-sm">Go to Employees</a>
                </div>
            </div>
        </div>

    <!-- rentals superintendent warehouse-->
<!--    <div class="row h-100 d-flex" style="justify-content: space-around;">-->
        <!-- rentals-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Rentals</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{rentals}}</b> -On Rent </div>
                    <div style="display: flex"><b>{{rentals_requested_off}}</b> -Need to be Called Off Rent</div>
                    <div style="display: flex"><b>{{check_rentals}}</b> -Approaching Another Month</div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'rentals_home' %}" class="btn btn-info btn-sm">Go to Rentals</a>
                </div>
            </div>
        </div>
        <!-- super-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Superintendent Page</h5>
            <div class="card-body" style="height: 185px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{super_equipment}}</b> -Assigned Equipment</div>
                    <div style="display: flex"><b>{{super_rentals}}</b> -Rentals</div>
                    <div style="display: flex"><b>{{tickets}}</b> -Open Tickets</div>
                    <div style="display: flex"><b>{{super_jobs}}</b> -Jobs Starting Next 2 Weeks</div>
                    <div style="display: flex"><b>{{active_jobs}}</b> -Active Jobs</div>
                    <div style="display: flex"><b>{{punchlist_jobs}}</b> -Waiting for Punchlist</div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'super_home' 'AUTO' %}" class="btn btn-info btn-sm">Superintendent View
                        </a>
                </div>
            </div>
        </div>
        <!-- warehouse-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Warehouse</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{pickup_requests}}</b> -Pickup Requests</div>
                    <div style="display: flex"><b>{{rentals_requested_off}}</b> -Need to be Called Off Rent </div>
                    <div style="display: flex"><b>{{check_rentals}}</b> -Approaching Another Month</div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'warehouse_home' %}" class="btn btn-info btn-sm">Go to Warehouse</a>
                </div>
            </div>
        </div>
        <!-- subs-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Subcontractors</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{active_subcontracts}}</b> -Active Subcontracts</div>
                    <div style="display: flex"><b>{{pending_invoices}}</b> -Pending Invoices</div>
                     <div style="display: flex"><b>{{approved_invoices}}</b> -Invoices Ready for Payment</div>
                    <div style="display: flex"><a href="{% url 'sub_change_orders' %}" ><b>{{unapproved_sub_changes}}</b> -Change Orders Not Approved</a></div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'subcontractor_home' %}" class="btn btn-info btn-sm">Go to Subcontractors</a>
                </div>
            </div>
        </div>
        <!-- safety-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Safety</h5>
            <div class="card-body" style="height: 155px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{painters_needing_respirator}}</b> -Employees Without Respirator Clearance</div>
                    <div style="display: flex"><b>{{clearance_forms_needing_review}}</b> -Respirator Clearance Forms Needing Review</div>
                    <div style="display: flex"><b>{{missing_toolbox_talks}}</b> -Missing Toolbox Talks</div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'safety_home' %}" class="btn btn-info btn-sm">Go to Safety</a>
                </div>
            </div>
        </div>
        <!-- admin-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Admin</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{need_to_be_closed}}</b> -Jobs Need to be Closed</div>
                    <div style="display: flex"><a href="{% url 'clockshark_unmapped_jobs' %}"><b>{{unmatched_jobs_count}}</b> -Unmatched ClockShark Jobs</a></div>
                    <div style="display: flex"><a href="{% url 'login_attempt_log' %}"><b>{{unsuccessful_login_attempts_past_week}}</b> -Unsuccessful Login Attempts in the Past Week</a></div>
                    <div style="display: flex">
                        <b>Last Import:</b>&nbsp;
                        {% if last_clockshark_import %}
                            {{ last_clockshark_import|date:"m/d/Y" }}
                        {% else %}
                            Never
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'jobs_home' %}" class="btn btn-info btn-sm">Go to Jobs</a>
                </div>
            </div>
        </div>
        <!-- wallcovering-->
        <div class="card" style="width: 18rem; margin-top: 22px;">
            <h5 class="card-header">Wallcovering</h5>
            <div class="card-body" style="height: 135px;">
                <div class="card-text">
                    <div style="display: flex"><b>{{ wc_not_submitted_count }}</b> -Not Submitted</div>
                </div>
                <div class="card-text">
                    <div style="display: flex"><b>{{ wc_not_approved_count }}</b> -Not Approved</div>
                </div>
                <div class="card-text">
                    <div style="display: flex"><b>{{ wc_approved_not_ordered_count }}</b> -Need to be Ordered</div>
                </div>
            </div>
            <div class="card-footer">
                <div style="text-align: center;">
                    <a href="{% url 'wallcovering_home' %}" class="btn btn-info btn-sm">Go to Wallcovering</a>
                </div>
            </div>
        </div>
<!--    </div>-->
</div>
    </div>

{% endblock %}
