{% extends 'base.html' %}
{% block nav_item_index %}active{% endblock nav_item_index %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Welcome to Gerloff Painting</H1>

	<form enctype = "multipart/form-data" action="{% url 'seperate_test' %}" method = 'post' >
		{% csrf_token %}
		<input type = "text" name = "text_test" />
		<br>
		Upload File: <input type = "file" name = "filename" />
		<input type="submit" value="Test Folder"/>
	</form>

</body>
</html>

{% endblock %}