{% extends 'base.html' %}
{% load static %}
{% block nav_item_roles %}active{% endblock nav_item_roles %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">

	</script>
</head>
<body>

{% if needs_to_be_opened %}
	<b>Jobs Opened</b><br>
	{% for x in needs_to_be_opened %}
	{{x.job_number}} {{x.job_name}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Were Opened</b><br>
{% endif %}
{% if needs_to_be_closed %}
	<b>Jobs Closed</b><br>
	{% for x in needs_to_be_closed %}
		{{x.job_number}} {{x.job_name}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Closed</b><br>
{% endif %}
{% if not_found %}
	<b>Not found in Trinity</b><br>
	{% for x in not_found %}
		{{x}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Couldn't be Found in Trinity</b><br>
{% endif %}

{% if closed_but_subs %}
	<b>Jobs Need to be Closed in Trinity, But Open Subcontractors!</b><br>
	{% for x in closed_but_subs %}
		{{x.job_number}} {{x.job_name}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Need to be Closed in Trinity that have open Subcontractors</b><br>
{% endif %}

{% if closed_but_equipment %}
	<b>These Jobs were closed in Trinity, but had equipment assigned! </b><br>
	{% for x in closed_but_equipment %}
		{{x.job_number}} {{x.job_name}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Were Closed that had equipment assigned</b><br>
{% endif %}

{% if need_to_be_labor_done %}
	<b>These Jobs are marked labor complete in MC, but not in Trinity! </b><br>
	{% for x in need_to_be_labor_done %}
		{{x.job_number}} {{x.job_name}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Were marked labor complete in MC, but not in trinity</b><br>
{% endif %}

{% if needs_to_not_be_labor_done %}
	<b>These Jobs are marked labor complete in Trinity, but not in MC! </b><br>
	{% for x in needs_to_not_be_labor_done %}
		{{x.job_number}} {{x.job_name}}<br>
	{% endfor %}
{% else %}
	<b>No Jobs Were marked labor complete in Trinity, but not in MC</b><br>
{% endif %}

{% if superintendenterrors %}
	<b>Superintendent Audit </b><br>
	{% for x in superintendenterrors %}
		{{x}}<br>
	{% endfor %}
{% else %}
	<b>There were no discrepancies with superintendents between Trinity and MC</b><br>
{% endif %}


{% if error_message %}
<b>{{error_message}}</b>
{% endif %}
</body>
</html>

{% endblock %}
