<nav class="sub-nav navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="{% url 'portal' selected_sub.id 'ALL' %}">
        {{ selected_sub }}
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#portalSubNav"
            aria-controls="portalSubNav"
            aria-expanded="false"
            aria-label="Toggle portal navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="portalSubNav">
        <ul class="sub-nav-list navbar-nav">
            <li>
                <a class="nav-item nav-link {% if active_tab == 'home' %}active{% endif %}"
                   href="{% url 'portal' selected_sub.id 'ALL' %}">
                    Home
                </a>
            </li>

            {% if page_label %}
            <li>
                <span class="nav-item nav-link active">
                    {{ page_label }}
                </span>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
