<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="{% url 'rentals_home' %}">
        Rentals
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#rentalsSubNav"
            aria-controls="rentalsSubNav"
            aria-expanded="false"
            aria-label="Toggle rentals navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="rentalsSubNav">
        <ul class="sub-nav-list navbar-nav">
            <li>
                <a class="nav-item nav-link {% if active_tab == 'rentals_home' %}active{% endif %}"
                   href="{% url 'rentals_home' %}">
                    Active Rentals
                </a>
            </li>

            <li>
                <a class="nav-item nav-link {% if active_tab == 'add_new' %}active{% endif %}"
                   href="{% url 'rental_new' 'ALL' %}">
                    Add New
                </a>
            </li>

            {% if page_label %}
            <li>
                <span class="nav-item nav-link active">
                    {{ page_label }}
                </span>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
