venv
**/__pycache__/*
*.py[cod]
*$py.class
**/migrations/*
**/__init__*
bin/python3
bin/python
bin/pip3.7
bin/pip3
bin/pip
bin/easy_install-3.7
bin/easy_install
pyvenv.cfg
bin/activate
bin/activate.csh
bin/activate.fish
lib/python3.7/site-packages/pip/_vendor/certifi/cacert.pem
**/__main__*
lib/*
