{% extends 'base.html' %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.active, .collapsible:hover {
  background-color: Salmon;
}


	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#certifications_table').DataTable({});
})

	</script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Training</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown2">
    <ul class="navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>
        <li><a class="nav-item nav-link" href="{% url 'my_page' %}">My Page</a></li>
        <li><a class="nav-item nav-link active" href="{% url 'certifications' 'ALL' %}">Certifications</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">New Employee</a></li>

    </ul>
  </div>
</nav><br>
<form action="{% url 'new_certification' %}">
    <input type="submit" value="NEW CERTIFICATION - CLICK HERE" />
</form>
<br>


<div class="demo-html" style="width:90%">
		<table id="certifications_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Certification </th>
					<th>View</th>
					<th>Date Received </th>
					<th>Date Expired</th>
					<th>Action Required</th>
				</tr>
			</thead>
			<tbody>
			{% for x in certifications %}
			{% if x.is_closed == False %}
			<tr><td>{{x.employee}}</td><td>{{x.category}}</td><td><a href = "{% url 'certifications' x.id %}">View</td><td>{{x.date_received}}</td><td>{{x.date_expires}}</td><td>{% if x.action_required == True %}
				{{x.action}}{% endif %}</td>
			</tr>
			{% endif %}
			{% endfor %}
			</tbody>
		</table>
<div class ="container">


{% if selected_item %}


<div class ="row">
	<div class ="col" ><h3><b>Certification - </b> {{selected_item.category}} </h3></div></div>
	<div class ="row">
	<div class ="col" ><h3><b>Employee - </b> {{selected_item.employee}} </h3></div></div>
	<div class ="row">
	<div class ="col" ><b>Description: - </b>{{selected_item.description}}</div></div>
	<div class ="row">
		<div class ="col"><b>Received: </b>{{selected_item.date_received}}</div><div class ="col"><b>Expires: </b>{{selected_item.date_expires}}</div></div>
	<div class ="row">
			<div class ="col" ><b>Job: - </b>{{selected_item.job}}</div></div>


		<div class ="row">
		<div class ="col"><b>Note: </b>{{selected_item.note}}</div>
	</div>
	{% if notes2 %}
	{% for y in notes2 %}
			<div class ="row">
		<div class ="col"><b>Note: </b>{{y.date}} - {{y.user}} - {{y.note}}</div>
	</div>
	{% endfor %}
	{% endif %}
		 <form action="{% url 'certifications' selected_item.id %}" method="post" >
			 {% csrf_token %}
			 <div class ="row"><div class ="col"><input type="text" name="note" size="100" placeholder ='New Note Here' /> <input type="submit" name="new_note" value="ADD NOTE" /></div></div>
		<br>
			 <hr>
			 <div class ="row"><div class ="col"><h3>UPDATE RECORD:</h3></div></div>
			 <div class ="row">
				 <div class ="col">{% if selected_item.is_closed == False %} <input type="submit" name="closed_item" value="Certification No Longer Valid" /><input type="text" name="closed_note" size="100" placeholder ='Add Note' />{% endif %}</div></div>
			 {% if selected_item.action_required == True %}
			 <br>
			 <div class ="row"><div class ="col"><b>{{selected_item.action}}</b><input type="submit" name="closed_action" value="Completed" /><input type="text" name="closed_action_note" size="75" placeholder ='Add Note' /></div></div>
			 {% else %}
			 <br>
			 <div class ="row"><div class ="col">
				             <select id="select_action" name="select_action" >
				<option value="please_select">Please Select Action Required</option>

                {% for x in actions %}
                <option value={{x.id}}>{{x.action}}</option>
                {% endfor %}
            </select>


				 <input type="submit" name="select_action_now" value="Action Required" /></div></div>

			 <div class ="row"><div class ="col">Or Enter Custom Item:</div></div>

			 <div class ="row"><div class ="col"><input type="text" name="custom_action" size="75" placeholder ='Custom Action Required' /><input type="submit" name="custom_action_now" value="Action Required" /></div></div>

{% endif %}
		<br><br>
			 <div class ="row"><div class ="col"><input type="date" name="start_date"  /><input type="text" name="start_date_note" size="60" placeholder ='Clarify Date Change' /><input type="submit" name="change_start_date" value="Change Start Date" /></div></div>
			 <div class ="row"><div class ="col"><input type="date" name="end_date"  /><input type="text" name="end_date_note" size="60" placeholder ='Clarify Date Change' /><input type="submit" name="change_end_date" value="Change End Date" /></div></div>

	</div>
		 </form>
{% endif %}
</div>
</body>
</html>

{% endblock %}
