{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>DataTables example - HTML (DOM) sourced data</title>
    <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <style type="text/css" class="init">
        .active, .collapsible:hover {
          background-color: Salmon;
        }


    </style>
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">
    <script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd"
            data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
    <script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
    <script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html"
            async></script>
    <script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html"
            async></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var table = $('#employees_table').DataTable({});
        })

    </script>
</head>
<body>
<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
    <div id="navbarNavDropdown2">
        <ul class="sub-nav-list navbar-nav ">
            <li><a class="nav-item nav-link active" href="{% url 'employees_home' %}">Home</a></li>
            <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>
            <li><a class="nav-item nav-link" href="{% url 'my_page' %}">My Page</a></li>
            <li><a class="nav-item nav-link" href="{% url 'certifications' 'ALL' %}">Certifications</a></li>
            <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">New Employee</a></li>
        </ul>
    </div>
</nav>


<div>
    <div class="table-responsive">
        <table id="employees_table" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Nickname</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            {% for x in employees %}
            <tr>
                <td><a href="{% url 'employees_page' x.id %}">{{x.id}}</td>
                <td>{{x.last_name}} {{x.first_name}}</td>
                <td>{{x.nickname}}</td>
                <td>{{x.level}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

{% endblock %}
