{% extends 'base.html' %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.active, .collapsible:hover {
  background-color: Salmon;
}


	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#class_table').DataTable({});
})

	</script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Training</a>
  <div  id="navbarNavDropdown2">
    <ul class="navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Employees Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'training' %}">Training Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'assessments' 'ALL' %}">Assessments</a></li>
        <li><a class="nav-item nav-link" href="{% url 'production_reports' 'ALL'  %}">Production Reports</a></li>
		 <li><a class="nav-item nav-link" href="{% url 'daily_reports' 'ALL'  %}">Daily Reports</a></li>
        <li><a class="nav-item nav-link" href="{% url 'classes' 'ALL' %}">Classes</a></li>
        <li><a class="nav-item nav-link " href="{% url 'exams' 'ALL' %}">Exams</a></li>
        <li><a class="nav-item nav-link active" href="{% url 'mentorships' 'ALL' %}">Mentorships</a></li>

    </ul>
  </div>
</nav><br>
<form action="{% url 'new_mentorship' %}">
    <input type="submit" value="NEW MENTORSHIP - CLICK HERE" />
</form>
<br>
<div class="demo-html" style="width:90%">
		<table id="class_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Date</th>
					<th>View</th>
					<th>Mentor</th>
					<th>Apprentice</th>
					<th>Note </th>
					<th>Active?</th>
				</tr>
			</thead>
			<tbody>
			{% for x in mentorships %}
			<tr><td>{{x.start_date}}</td>
			<td><a href = "{% url 'mentorships' x.id %}">View</td>
			<td>{{x.mentor}}</td>
			<td>{{x.apprentice}}</td>
			<td>{{x.note}}</td>
			<td>{% if x.is_closed == True %} No {% else %} Yes {% endif %}</td>
			</tr>
{% endfor %}
			</tbody>
		</table>
</div>
<div class ="container">


{% if selected_item %}


<div class ="row"><div class ="col" ><b>Start Date: </b>{{selected_item.start_date}}</div><div class ="col" ><b>Start Date: </b>{{selected_item.end_date}}</div></div>
<div class ="row"><div class ="col" ><b>Mentor: </b>{{selected_item.mentor}}</div><div class ="col" ><b>Apprentice: </b>{{selected_item.apprentice}}</div></div>
<div class ="row"><div class ="col" ><b>Note: </b>{{selected_item.note}}</div></div>
{% for x in selected_notes %}
	<div class ="row"><div class ="col" >{{x.date}} - {{x.user}} - {{x.note}}</div></div>
{% endfor %}

	 <form action="{% url 'mentorships' selected_item.id %}" method="post" >
	 {% csrf_token %}
		 <br>
<input type="text" name="note" size="100" placeholder ='New Note Here' /> <input type="submit" name="new_note" value="ADD NOTE" />
		 <br><br>
		 CLOSED?{% if selected_item.is_closed == False %} <input type="checkbox" name="closed" />{% else %}<input type="checkbox" name="closed" checked />{% endif %}   <input type="submit" name="update" value="UPDATE RECORD" />

	 </form>
 <br>



{% endif %}
</div>
</body>
</html>

{% endblock %}
