{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>DataTables example - HTML (DOM) sourced data</title>
    <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <style type="text/css" class="init">
        nav .active, .collapsible:hover {
          background-color: Salmon;
        }
        .nav-pills a {
            color: black;
        }
        .nav-pills li {
            padding: 2px;
        }
        .nav-pills .active {
            background-color: #6c757d !important;
            padding: 5px;
        }
        .table td {
            overflow-x: hidden;
            text-wrap: nowrap !important;
            word-wrap: normal !important;
        }
        label {
            margin-left: 10px;
            margin-right: 10px;
        }
        input {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        tr th {
            width: fit-content !important;
        }
        .tab-content * {
          color : black;
          background-color: white !important;
        }

        .active * {
            background-color: white !important;
        }

    </style>
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">
    <script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd"
            data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
    <script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
    <script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html"
            async></script>
    <script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html"
            async></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var table = $('#employees2_table').DataTable({});
        })
    </script>
</head>
<body>
<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="#">Employees</a>
    <div id="navbarNavDropdown2">
        <ul class="sub-nav-list navbar-nav ">
            {% if user.is_superuser %}
            <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Home</a></li>
            {% else %}
            <li><a class="nav-item nav-link" href="{% url 'my_page' %}">Home</a></li>
            {% endif %}
            <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>
            <li><a class="nav-item nav-link active" href="{% url 'my_page' %}">My Page</a></li>
            <li><a class="nav-item nav-link" href="{% url 'certifications' 'ALL' %}">Certifications</a></li>
            <li><a class="nav-item nav-link" href="{% url 'write_ups' 'ALL' %}">Write_Ups</a></li>
            <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">New Employee</a></li>
        </ul>
    </div>
</nav>
<div style="width: 100%; text-align:center; margin-top: 5px;"><h4>{{employee}}'s Page</h4></div>
<!--{{employee.}}-->
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingZero">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false"
                        aria-controls="collapseZero">
                    My Info
                </button>
            </h5>
        </div>
        <div id="collapseZero" class="collapse hide" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="card-body">
                <form style="margin-bottom: 5px;" action="{% url 'my_page' %}" method="post"
                      onSubmit="return check_booking_data()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input style="width: 80%" type="text" name="firstname" value="{{employee.first_name}}"
                               class="form-control" id="firstname" readonly placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="middlename">Middle Name</label>
                        <input style="width: 80%" type="text" name="middlename" value="{{employee.middle_name}}"
                               class="form-control" id="middlename" readonly placeholder="Middle Name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input style="width: 80%" type="text" name="lastname" value="{{employee.last_name}}"
                               class="form-control" id="lastname" readonly placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input style="width: 80%" type="text" name="nickname" value="{{employee.nickname}}"
                               class="form-control" id="nickname" placeholder="Enter Nickname">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input style="width: 80%" type="text" name="phone" value="{{employee.phone}}"
                               class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input style="width: 80%" name="email" value="{{employee.email}}" class="form-control"
                               id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="currentLevel">Current Level</label>
                        <input style="width: 80%" type="text" readonly name="currentLevel" value="{{employee.level}}"
                               class="form-control" id="currentLevel" placeholder="Current Level">
                    </div>
                    <input type="submit" class="btn btn-primary" name="update_info" value="Update Info"/>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                    Assigned Tools
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% if inventory %}
                <table id="employees_table" class="table display">
                    <tr>
                        <th>Item</th>
                        <th>Link</th>
                    </tr>
                    <tbody>

                    {% for x in inventory %}
                    <tr>
                        <td>{{x.item}}</td>
                        <td><a href="{%  url 'equipment_page' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Assigned Tools To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                    Performed Assessments
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                {% if assessments_performed %}
                <table id="employees_table" class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Employee</th>
                        <th>Link</th>
                    </tr>
                    <tbody>
                    {% for x in assessments_performed %}
                    <tr>
                        <td>{{x.assessment.date}}</td>
                        <td>{{x.employee}}</td>
                        <td><a href="{%  url 'assessments' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Performed Assessments To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                    Received Assessments
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                {% if assessments_received %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Reviewer</th>
                        <th>Note</th>
                        <th>Link</th>
                    </tr>
                    <tbody>
                    {% for x in assessments_received %}
                    <tr>
                        <td>{{x.assessment.date}}</td>
                        <td>{{x.assessment.reviewer}}</td>
                        <td>{{x.assessment.note}}</td>
                        <td><a href="{%  url 'assessments' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Received Assessments To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                    Write-Ups Written
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                {% if writeups_written %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Employee</th>
                        <th>Description</th>
                        <th>Link</th>
                    </tr>
                    <tbody>
                    {% for x in writeups_written %}
                    <tr>
                        <td>{{x.date}}</td>
                        <td>{{x.employee}}</td>
                        <td>{{x.description}}</td>
                        <td><a href="{%  url 'write_ups' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Write-Ups Written To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                        aria-controls="collapseFive">
                    Write-Ups Received
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse hide" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                {% if writeups_received %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Supervisor</th>
                        <th>Description</th>
                        <th>Link</th>
                    </tr>
                    <tbody>
                    {% for x in writeups_received %}
                    <tr>
                        <td>{{x.date}}</td>
                        <td>{{x.supervisor}}</td>
                        <td>{{x.description}}</td>
                        <td><a href="{%  url 'write_ups' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Write-Ups Received To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                        aria-controls="collapseSix">
                    Vacation Requests
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse hide" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                {% if vacation_requests %}
                <table class="table display">
                    <tr>
                        <th>Vacation Date</th>
                        <th>Duration</th>
                        <th>Note</th>
                        <th>Is Approved</th>
                        <th>Request Date</th>
                    </tr>
                    <tbody>
                    {% for x in vacation_requests %}
                    <tr>
                        <td>{{x.vacation_date}}</td>
                        <td>{{x.duration}}</td>
                        <td>{{x.employee_note}}</td>
                        <td>{{x.is_approved}}</td>
                        <td>{{x.request_date}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Vacation Requests To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                        aria-controls="collapseSeven">
                    Production Reports Written
                </button>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse hide" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                {% if production_reports_written %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Job</th>
                        <th>Link</th>
                    </tr>
                    <tbody>
                    {% for x in production_reports_written %}
                    <tr>
                        <td>{{x.date}}</td>
                        <td>{{x.job}}</td>
                        <td><a href="{%  url 'daily_reports' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Production Reports Written To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false"
                        aria-controls="collapseEight">
                    Production Reports Received
                </button>
            </h5>
        </div>
        <div id="collapseEight" class="collapse hide" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                {% if production_reports_received %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Job</th>
                        <th>Description</th>
                        <th>Unit/Value</th>
                        <th>Link</th>
                    </tr>
                    <tbody>
                    {% for x in production_reports_received %}
                    <tr>
                        <td>{{x.date}}</td>
                        <td>{{x.job}}</td>
                        <td>{{x.description}}</td>
                        <td>[{{x.value1}} {{x.unit}}]
                            {% if x.value2 != None %}
                            <div>[{{x.value2}} {{x.unit2}}]</div>
                            {% endif %}
                            {% if x.value3 != None %}
                            <div>[{{x.value3}} {{x.unit3}}]</div>
                            {% endif %}
                        </td>
                        <td><a href="{%  url 'production_reports' x.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Production Reports Received To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false"
                        aria-controls="collapseNine">
                    Classes Taught
                </button>
            </h5>
        </div>
        <div id="collapseNine" class="collapse hide" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                {% if classes_taught %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th>Note</th>
                    </tr>
                    <tbody>
                    {% for x in classes_taught %}
                    <tr>
                        <td>{{x.date}} -</td>
                        <td><a href="{%  url 'classes' x.id %}">View</a></td>
                        <td>{{x.description}}</td>
                        <td>{{x.note}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Classes Taught To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTen">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false"
                        aria-controls="collapseTen">
                    Classes Attended
                </button>
            </h5>
        </div>
        <div id="collapseTen" class="collapse hide" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="card-body">
                {% if classes_attended %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th>Note</th>
                    </tr>
                    <tbody>
                    {% for x in classes_attended %}
                    <tr>
                        <td>{{x.class_event.date}} -</td>
                        <td><a href="{%  url 'classes' x.class_event.id %}">View</a></td>
                        <td>{{x.class_event.description}}</td>
                        <td>{{x.class_event.note}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Classes Attended To Show</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEleven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false"
                        aria-controls="collapseEleven">
                    Exam Scores
                </button>
            </h5>
        </div>
        <div id="collapseEleven" class="collapse hide" aria-labelledby="headingEleven" data-parent="#accordion">
            <div class="card-body">
                {% if exams %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Link</th>
                        <th>Score</th>
                    </tr>
                    <tbody>
                    {% for x in exams %}
                    <tr>
                        <td>{{x.date}} -</td>
                        <td>
                            {% if x.exam != None %}
                            <div>{{x.exam}}{% else %}{{x.exam2}}</div>
                            {% endif %}
                        </td>
                        <td><a href="{%  url 'exams' x.id %}">View</a></td>
                        <td>Score: {{x.score}} /
                            {% if x.exam != None %}
                            {{x.exam.max_score}}{% else %}{{x.custom_score_max}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Exam Scores To Show</div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingTwelve">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false"
                        aria-controls="collapseTwelve">
                    Mentorships -As Mentor
                </button>
            </h5>
        </div>
        <div id="collapseTwelve" class="collapse hide" aria-labelledby="headingTwelve" data-parent="#accordion">
            <div class="card-body">
                {% if mentorship_mentor %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Apprentice</th>
                        <th>Link</th>
                        <th>Status</th>
                    </tr>
                    <tbody>
                    {% for x in mentorship_mentor %}
                    <tr>
                        <td>{{x.start_date}}</td>
                        <td>{{x.apprentice}}</td>
                        <td><a href="{%  url 'mentorships' x.id %}">View</a></td>
                        <td>{% if x.is_closed == False %} Active {% else %} Closed {% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Mentorships -As Mentor To Show</div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingThirteen">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThirteen"
                        aria-expanded="false"
                        aria-controls="collapseThirteen">
                    Mentorships -As Apprentice
                </button>
            </h5>
        </div>
        <div id="collapseThirteen" class="collapse hide" aria-labelledby="headingThirteen" data-parent="#accordion">
            <div class="card-body">
                {% if mentorship_apprentice %}
                <table class="table display">
                    <tr>
                        <th>Date</th>
                        <th>Mentor</th>
                        <th>Link</th>
                        <th>Status</th>
                    </tr>
                    <tbody>
                    {% for x in mentorship_apprentice %}
                    <tr>
                        <td>{{x.start_date}}</td>
                        <td>{{x.mentor}}</td>
                        <td><a href="{%  url 'mentorships' x.id %}">View</a></td>
                        <td>{% if x.is_closed == False %} Active {% else %} Closed {% endif %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>No Mentorships -As Apprentice To Show</div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="card-header" id="headingFourteen">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false"
                    aria-controls="collapseFourteen">
                Certifications
            </button>
        </h5>
    </div>
    <div id="collapseFourteen" class="collapse hide" aria-labelledby="headingFourteen" data-parent="#accordion">
        <div class="card-body">
            {% if certifications %}
            <table class="table display">
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Date Received</th>
                    <th>Date Expires</th>
                    <th>Action</th>
                </tr>
                <tbody>
                {% for x in certifications %}
                <tr>
                    <td>{{x.category}}</td>
                    <td>{{x.description}}</td>
                    <td><a href="{%  url 'certifications' x.id %}">View</a></td>
                    <td>{{x.date_received}} -</td>
                    <td>{{x.date_expires}}</td>
                    <td>{{x.action}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No Certifications To Show</div>
            {% endif %}
        </div>
    </div>


    <div class="card-header" id="headingFifteen">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false"
                    aria-controls="collapseFifteen">
                Certification (Actions Required)
            </button>
        </h5>
    </div>

    <div id="collapseFifteen" class="collapse hide" aria-labelledby="headingFifteen" data-parent="#accordion">
        <div class="card-body">
            {% if actions %}
            <table class="table display">
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Date Received</th>
                    <th>Date Expires</th>
                    <th>Action</th>
                </tr>
                <tbody>
                {% for x in actions %}
                <tr>
                    <td>{{x.category}} -</td>
                    <td>{{x.description}} -</td>
                    <td><a href="{%  url 'certifications' x.id %}">View</a></td>
                    <td>{{x.date_received}}</td>
                    <td>{{x.date_expires}}</td>
                    <td>{{x.action}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No Certifications Requiring Action</div>
            {% endif %}
        </div>
    </div>
</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>
</body>

</html>

{% endblock %}
