{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.active, .collapsible:hover {
  background-color: Salmon;
}


	</style>
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
function selectexam(btn){
	var destination = document.getElementById("custom_topic_here")
	var destination2 = document.getElementById("exam_description_here")
	var destination3 = document.getElementById("max_score")
    if (btn.value == "custom_exam"){
        destination.innerHTML = "<input type = 'text' name='custom_exam' size = '80' placeholder = 'Custom Exam Description' /><br>"
        destination3.innerHTML = "Score Max: <input type = 'number' name='custom_score_max' size = '10' required /><br>"
    }
    else {
    	destination.innerHTML = ""
    	let rolodex = JSON.parse("{{exams_json|escapejs}}");
		for (const x of rolodex){
			if (x.id==btn.value){
                destination2.innerHTML = "<p>" + x.details+"</p>"
                destination3.innerHTML = "<p>" + x.max_score+"</p>"
            }
		}
    }
}

function selectteacher(btn){
var destination = document.getElementById("teacher_here")
if (btn.value == "custom_teacher"){
	destination.innerHTML = "<input type = 'text' name='custom_teacher' size = '80' placeholder = 'Enter teacher name' /><br>"
} else { destination.innerHTML = ""}
}

function selectstudent(btn){
var destination = document.getElementById("student_here")
if (btn.value == "custom_student"){
	destination.innerHTML = "<input type = 'text' name='custom_student' size = '80' placeholder = 'Enter student name' /><br>"
} else { destination.innerHTML = ""}
}


	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Employees</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Employees Home</a></li>
       <!--            <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>-->
        <li><a class="nav-item nav-link" href="{% url 'assessments' 'ALL' %}">Assessments</a></li>
        <li><a class="nav-item nav-link" href="{% url 'production_reports' 'ALL'  %}">Production Reports</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">Classes</a></li>
        <li><a class="nav-item nav-link" href="{% url 'exams' 'ALL' %}">Exams</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">Mentorships</a></li>
        <li><a class="nav-item nav-link active" >NEW EXAM</a></li>
    </ul>
  </div>
</nav><br>
 <form action="{% url 'new_exam' %}" method="post" >
     	 {% csrf_token %}
			 <label for="select_exam">Select Exam: </label>
            <select id="select_exam" name="select_exam" onChange="selectexam(this)" >
				<option value="please_select">Please Select</option>
                 <option value="custom_exam">Custom Exam</option>
                {% for x in exams %}
                <option value={{x.id}}>{{x.description}}</option>
                {% endfor %}
            </select>
	 		<br><br>
	 <div id="custom_topic_here" ></div>
	 <br>
	 <label for="select_teacher">Select Teacher: </label>
            <select id="select_teacher" name="select_teacher" onChange="selectteacher(this)" >
				<option value="please_select">Please Select</option>
                 <option value="custom_teacher">Custom Teacher</option>
                {% for x in employees %}
                <option value={{x.id}}>{{x.first_name}} {{x.last_name}}</option>
                {% endfor %}
            </select>
<div id="teacher_here" ></div>
	 <br>

	 	 <label for="select_student">Select Student: </label>
            <select id="select_student" name="select_student" onChange="selectstudent(this)" >
				<option value="please_select">Please Select</option>
                 <option value="custom_student">Custom Student</option>
                {% for x in employees %}
                <option value={{x.id}}>{{x.first_name}} {{x.last_name}}</option>
                {% endfor %}
            </select>
<div id="student_here" ></div>
	 <br>
     <div class="demo-html" style="width:90%">
		<table id="class_table" class="display" style="width:90%">
			<tbody>
			<tr><td width="20%">Score: <input type="number" size="7" name="score" step="0.1" required /> out of </td>
<td> <div id="max_score" ></div></td>
			</tr>
			</tbody>
		</table>
<textarea name="exam_note" rows="2" cols="100" placeholder="Exam Notes" ></textarea>
	 <br>
	 <b>Exam Description: </b>
	  <div id="exam_description_here" ></div>
<input type="submit" name="report_complete" value="Log-In Exam Score" />
 </form>
</body>
</html>

{% endblock %}
