{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.active, .collapsible:hover {
  background-color: Salmon;
}

	</style>
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
var counter = 0;
var number_rows = 0;
var new_employee =0;
var employee_number = 0

function delete_row(btn){
	x = 0
	y = 0
	counter = counter + 1
	console.log("COUNTER NUMBER HERE")
	console.log(counter)
	if (btn.id.substring(0,10)== "deleteteam"){
		var table = document.getElementById("team_table");
		team_number =  btn.id.substring(10,btn.id.length)
		for (let row of table.rows) {
			console.log(row.cells[0].innerText)
			if (row.cells[0].innerText.substring(0, 9+team_number.length) == "New Team " + team_number){
				x = row.rowIndex
			}
			if (row.cells[0].innerText == "Add A Team-Member"){
				y = row.rowIndex
				break
			}
		}
	}

	if (btn.id.substring(0,14)== "deleteemployee"){
		var table = document.getElementById("person_table");
		employee_number =  btn.id.substring(15,btn.id.length)
		for (let row of table.rows) {
				console.log(row.rowIndex)
				console.log(row.cells[0].innerText)
				console.log(row.cells[0].innerHTML)
				if (row.cells[0].innerHTML.substring(9, 17 +employee_number.length) == "new_item" + employee_number){
					x = row.rowIndex -1
				}
				y=row.rowIndex
				if (x > 0 && row.cells[0].innerText == "NEXT EMPLOYEE"){
					y=y-1
					break
				}
		}
	}

	if (x > 0){
		for (let i = x; i <= y; i++) {
			console.log("ROW ABOUT TO BE DELETED")
			console.log(table.rows[x].cells[0].innerText)
			table.deleteRow(x)
		}
	}


}



function addteam(){
	number_rows = number_rows + 1
	var table = document.getElementById("team_table");
	var rows = table.getElementsByTagName("tr").length;
	row = table.insertRow(rows);
	rows=rows+1
	cell1 = row.insertCell(0)
	cell1.colSpan = 2
	cell1.innerHTML = "<b style='color:blue'>New Team " + number_rows + "</b>"
	row = table.insertRow(rows);
	rows=rows+1
	cell1 = row.insertCell(0)
	cell1.colSpan = 2
	cell1.innerHTML = "<div id='new_teamitem1" + number_rows + "'></div>";
	add_teamcategory1_dropdown();
	cell2 = row.insertCell(1)
	cell2.innerHTML = "<div id='new_teamitem2" + number_rows + "'></div>";
	add_teamcategory2_dropdown();
	cell3 = row.insertCell(2)
	cell3.innerHTML = "<div id='new_teamitem3" + number_rows + "'></div>";
	add_teamcategory3_dropdown();
	cell3 = row.insertCell(3)
	cell3.innerHTML = "<button type='button' id = 'deleteteam" + number_rows + "' onclick='delete_row(this)' >Delete Team</button>";
	row3 = table.insertRow(rows);
	rows = rows+1
	cell1 = row3.insertCell(0)
	cell1.colSpan=4
	cell1.innerHTML = "Notes: <input type = 'text' size = '60' name = 'teamnotes_" + number_rows + "' placeholder = 'Enter Notes About This Team' />"
	row4 = table.insertRow(rows);
	rows = rows+1
	cell4 = row4.insertCell(0)
	cell4.innerHTML = "<button type='button' id = 'button_" + number_rows + "' onclick='add_team_employee(this)'>Add A Team-Member</button>"
}


function add_teamcategory1_dropdown(){
		var select = document.createElement("select");
		select.name = "select_teamcategory1" + number_rows
		select.id = "select_teamcategory1" + number_rows
		select.addEventListener('change',function() {SelectTeamCategory1(this);},false);
		let rolodex = JSON.parse("{{category1|escapejs}}");
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Substrate";
		select.appendChild(option);
				for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.item1;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_teamitem1" + number_rows).appendChild(label).appendChild(select);
}


function add_teamcategory2_dropdown(){
		var select = document.createElement("select");
		select.name = "select_teamcategory2" + number_rows
		select.id = "select_teamcategory2" + number_rows
		select.addEventListener('change',function() {SelectTeamCategory2(this);},false);
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Method";
		select.appendChild(option);
		var label = document.createElement("label");
		document.getElementById("new_teamitem2" + number_rows).appendChild(label).appendChild(select);
}

function add_teamcategory3_dropdown(){
		var select = document.createElement("select");
		select.name = "select_teamcategory3" + number_rows
		select.id = "select_teamcategory3" + number_rows
		select.addEventListener('change',function() {SelectTeamCategory3(this);},false);
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Step";
		select.appendChild(option);
		var label = document.createElement("label");
		document.getElementById("new_teamitem3" + number_rows).appendChild(label).appendChild(select);
}


function SelectTeamCategory1(btn){
	var sel = document.getElementById(btn.id);
	match = sel.options[sel.selectedIndex].text
	team_number = sel.id.substring(20,sel.id.length)
	var table =  document.getElementById("team_table")
	for (let row of table.rows) {
		for(let cell of row.cells){
			if (cell.innerText.substring(0,9) == "New Team "){
				if(cell.innerText.substring(9,cell.innerText.length) == team_number){
					rows = row.rowIndex + 2
				 }
			}
		}
	}
	if (table.rows[rows].cells[0].innerHTML.substr(0,5) != "Notes"){
		do {table.deleteRow(rows)}while (table.rows[rows].cells[0].innerHTML.substr(0,5) != "Notes")
	}
	if (sel.options[sel.selectedIndex].text == 'Other'){
		row = table.insertRow(rows);
		rows=rows+1
		cell1 = row.insertCell(0)
		cell1.colSpan=4
		cell1.innerHTML = "Item: <input type='text' name= 'custom_category1" + sel.id.substring(20,sel.id.length) + "' size = '40' /> Quantity: <input type='number' name= 'custom_value" + sel.id.substring(20,sel.id.length) + "' size = '10' /> Unit: <input type='text' name= 'custom_unit" + sel.id.substring(20,sel.id.length) + "' size = '7' />Hours: <input type = 'number' size = '7'  step = '0.1' name = 'hoursteam_" + team_number + "' id = 'hoursteam_" + team_number + "'  />"
	}

	var sel2 = document.getElementById("select_teamcategory2" + sel.id.substring(20,sel.id.length))
	for(let i = sel2.options.length; i >= 0; i--) {
					sel2.remove(i);
				}
	var sel3 = document.getElementById("select_teamcategory3" + sel.id.substring(20,sel.id.length))
	for(let i = sel3.options.length; i >= 0; i--) {
					sel3.remove(i);
				}
	var option = document.createElement("option");
	if (sel.options[sel.selectedIndex].text == 'Other'){
	option.value = "other";
	option.text= "Other";
	}else{
	option.value = "please_select";
	option.text= "Select Method";
	}
	sel2.appendChild(option);
	var option = document.createElement("option");
	if (sel.options[sel.selectedIndex].text == 'Other'){
		option.value = "please_select";
		option.text= "Select Step"
		sel3.appendChild(option);
		var option = document.createElement("option");
		option.value = "other";
		option.text= "Other";
	}else{
	option.value = "please_select";
	option.text= "Select Step";
	}
	sel3.appendChild(option);
	if (sel.options[sel.selectedIndex].text != 'Other'){
	row= table.insertRow(rows);
	let rolodex = JSON.parse("{{category2|escapejs}}");
	test_word = "START"
	b=0
	y=-1
	for (const x of rolodex){
		if (b==0){
			if (x.item1 == match){
				b=b+1
				if (x.unit1 != null ) {
					y=y+1
					cell3 = row.insertCell(y)
					cell3.innerHTML = x.unit1 + "= <input type = 'number' step = '0.1' size = '7' name = 'unit1team_" + team_number + "' id = 'unit1team_" + team_number + "' />"
				}
				if (x.unit2 != null ) {
					y=y+1
					cell3 = row.insertCell(y)
					cell3.innerHTML = x.unit2 + "= <input type = 'number'  step = '0.1' size = '7' name = 'unit2team_" + team_number + "' id = 'unit2team_" + team_number + "' />"
				}
				if (x.unit3 != null ) {
					y=y+1
					cell3 = row.insertCell(y)
					cell3.innerHTML = x.unit3 + "=<input type = 'number'  step = '0.1' size = '7' name = 'unit3team_" + team_number + "' id = 'unit3team_" + team_number + "'  />"
				}
				y=y+1
				cell3 = row.insertCell(y)
				cell3.innerHTML = "Hours: <input type = 'number' size = '7'  step = '0.1' name = 'hoursteam_" + team_number + "' id = 'hoursteam_" + team_number + "'  />"
				test_word = x.item2
				var option = document.createElement("option");
				option.value = x.item2
				option.text= x.item2
				sel2.appendChild(option);
			}
		}
		if (b==1){
			if (x.item1 != match){ break; }
			if (x.item2 != test_word){
				test_word = x.item2
				var option = document.createElement("option");
				option.value = x.item2
				option.text= x.item2
				sel2.appendChild(option);
			}
		}
	}
	}
}

function SelectTeamCategory2(btn){
	var sel = document.getElementById(btn.id);
	match = document.getElementById("select_teamcategory1" + sel.id.substring(20,sel.id.length)).options[document.getElementById("select_teamcategory1" + sel.id.substring(20,sel.id.length)).selectedIndex].text
	match2 = sel.options[sel.selectedIndex].text
	var sel2 = document.getElementById("select_teamcategory3" + sel.id.substring(20,sel.id.length))
	for(let i = sel2.options.length; i >= 0; i--) {
					sel2.remove(i);
				}
	var option = document.createElement("option");
<!--	if (sel.options[sel.selectedIndex].text == 'Other'){-->

<!--		option.value = "other";-->
<!--		option.text= "Other";-->
<!--		sel2.appendChild(option);-->
<!--		}else{-->
		option.value = "please_select";
		option.text= "Select Step";
	sel2.appendChild(option);

	let rolodex = JSON.parse("{{category2|escapejs}}");
	test_word = "START"
	b=0
	for (const x of rolodex){
		if (b==0){
			if (x.item1 == match){
				b=b+1
				if (x.item2 == match2){
					b=b+1
					test_word = x.item3
					var option = document.createElement("option");
					option.value = x.item3
					option.text= x.item3
					sel2.appendChild(option);
				}
			}
		}
		else if (b==1){
			if (x.item2 == match2){
				b=b+1
				test_word = x.item3
				var option = document.createElement("option");
				option.value = x.item3
				option.text= x.item3
				sel2.appendChild(option);
			}
		}
		else if (b==2){
				if (x.item1 != match){ break; }
				if (x.item2 != match2){ break; }
				if (x.item3 != test_word){
					test_word = x.item3
					var option = document.createElement("option");
					option.value = x.item3
					option.text= x.item3
					sel2.appendChild(option);
				}
		}
	}

}

function SelectTeamCategory3(btn){

	var sel = document.getElementById(btn.id);
	match = document.getElementById("select_teamcategory1" + sel.id.substring(20,sel.id.length)).options[document.getElementById("select_teamcategory1" + sel.id.substring(20,sel.id.length)).selectedIndex].text
	match2 = document.getElementById("select_teamcategory2" + sel.id.substring(20,sel.id.length)).options[document.getElementById("select_teamcategory2" + sel.id.substring(20,sel.id.length)).selectedIndex].text
	match3 = sel.options[sel.selectedIndex].text
	team_number = sel.id.substring(20,sel.id.length)
	var table =  document.getElementById("team_table")
	var divs = document.getElementsByTagName("div");
	for(var i = 0; i < divs.length; i++){
		if (divs[i].id.substr(0,22 + team_number.length) == "divtaskteam_" + team_number + "_employee_"){
			employee_number = divs[i].id.substr(22 + team_number.length, divs[i].id.length)
			divs[i].innerHTML = ""
			addteamtask(divs[i].id,match,match2,match3,team_number,employee_number)
		}
	}
}

function add_team_employee(btn){
	number_rows = number_rows + 1
	table_number = btn.id.substring(7,btn.id.length)
	var table =  document.getElementById("team_table")
	select1 = document.getElementById("select_teamcategory1" + table_number)
	select2 = document.getElementById("select_teamcategory2" + table_number)
	select3 = document.getElementById("select_teamcategory3" + table_number)
	if (select1.value == "please_select" || select2.value == "please_select" || select3.value == "please_select"){alert("Need to select all menu options")}
	else {
	for (let row of table.rows) {
			for(let cell of row.cells){
				if (cell.innerText.substring(0,9) == "New Team "){
					if(cell.innerText.substring(9,cell.innerText.length) == table_number){
						rows = row.rowIndex + 4
					 }
				}
			}
	}
	if (table.rows[rows].cells[0].innerText == "Employee Info"){
		do{rows=rows+2}while(table.rows[rows].cells[0].innerText == "Employee Info")
		}

		var category = document.getElementById("select_teamcategory1" + table_number)
		match = category.options[category.selectedIndex].text
		var category2 = document.getElementById("select_teamcategory2" + table_number)
		match2 = category2.options[category2.selectedIndex].text
		var category3 = document.getElementById("select_teamcategory3" + table_number)
		match3 = category3.options[category3.selectedIndex].text
		row = table.insertRow(rows);
		rows=rows+1
		cell1 = row.insertCell(0)
		cell1.innerHTML = "<b>Employee Info</b>";
		row = table.insertRow(rows);
		rows=rows+1
		cell1 = row.insertCell(0)
		cell1.innerHTML = "<div id='divteam_" + table_number + "_employee_" + number_rows + "'></div>";
		var select = document.createElement("select");
		select.name = "select_team" + table_number + "select_employee" + number_rows
		select.id = "select_team" + table_number + "select_employee" + number_rows
		let rolodex = JSON.parse("{{employees_json|escapejs}}");
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Employee";
		select.appendChild(option);
		for (const x of rolodex){
			var option = document.createElement("option");
			option.value = x.id;
			option.text= x.first_name + " " + x.last_name
			select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("divteam_" + table_number + "_employee_" + number_rows).appendChild(label).appendChild(select);
		cell2 = row.insertCell(1)

		if (match == 'Other' || match2 == 'Other' || match3 == 'Other' ){
		cell2.innerHTML = "<div id='divtaskteam_" + table_number + "_employee_" + number_rows + "'>Task: <input type='text' name='custom_taskteam_" + table_number + "_employee_" + number_rows + "' size='20' /></div>";
<!--		new_cell=document.getElementbyID("divtaskteam_" + table_number + "_employee_" + number_rows)-->
<!--		new_cell.innerHTML = "Task: <input type='text' name='custom_taskteam_" + table_number + "_employee_" + number_rows + "' size='20' />"-->
		}else{
		cell2.innerHTML = "<div id='divtaskteam_" + table_number + "_employee_" + number_rows + "'></div>";
		addteamtask("divtaskteam_" + table_number + "_employee_" + number_rows,match,match2,match3,table_number,number_rows)
		}
		cell2 = row.insertCell(2)
		cell2.colSpan = 2
		cell2.innerHTML = "<input type = 'text' size = '40' name = 'team_" + table_number + "_employeenote_" + number_rows + "' placeholder = 'Enter Notes About This Employee' />"
		cell2 = row.insertCell(3)
		cell2.innerHTML = "<button type='button' id = 'deleteteam_" + table_number + "_employee_" + number_rows + "' onclick='delete_row(this)' >Delete Employee</button>";
	}
}

function addteamtask(location,match,match2,match3,table_number,employee_number){
		if (match == 'Other' || match2 == 'Other' || match3 == 'Other' ){
			document.getElementById(location).innerHTML = "Task: <input type='text' name='custom_taskteam_" + table_number + "_employee_" + number_rows + "' size='20' />"
		}else{
		var sel2 = document.createElement("select");
		sel2.name = "taskteam_" + table_number + "_employee_" + employee_number
		sel2.id = "taskteam_" + table_number + "_employee_" + employee_number
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Task";
		sel2.appendChild(option);
		let rolodex2 = JSON.parse("{{category2|escapejs}}");
		b=0
		for (const x of rolodex2){
			if (b==0){
				if (x.item1 == match){
					b=b+1
					if (x.item2 == match2){
						b=b+1
						if (x.item3 == match3){
							b=b+1
							var option = document.createElement("option");
							option.value = x.id
							option.text= x.task
							sel2.appendChild(option);
						}
					}
				}
			}
			else if (b==1){
				if (x.item2 == match2){
					b=b+1
					if (x.item3 == match3){
						b=b+1
						var option = document.createElement("option");
						option.value = x.id
						option.text= x.task
						sel2.appendChild(option);
					}
				}
			}
			else if (b==2){
				if (x.item3 == match3){
					b=b+1
					test_word = x.item3
					var option = document.createElement("option");
					option.value = x.id
					option.text= x.task
					sel2.appendChild(option);
				}
			}
			else if (b==3){
					if (x.item1 != match){ break; }
					if (x.item2 != match2){ break; }
					if (x.item3 != match3){ break; }
						var option = document.createElement("option");
						option.value = x.id
						option.text= x.task
						sel2.appendChild(option);
			}
		}
		var label = document.createElement("label");
		document.getElementById(location).appendChild(label).appendChild(sel2);
}
}

function addperson(){
	var table = document.getElementById("person_table");
	var rows = table.getElementsByTagName("tr").length;
	number_rows = number_rows + 1
	if (new_employee == 0){
		new_employee = 1
		row3 = table.insertRow(rows);
		cell10 = row3.insertCell(0);
		cell10.colSpan = 3
		cell10.innerHTML = "<b style='color:blue'> FIRST EMPLOYEE </b>"
		rows = rows+1
	}
	else {
		row3 = table.insertRow(rows);
		cell10 = row3.insertCell(0);
		cell10.colSpan = 3
		cell10.innerHTML = "<b style='color:blue'> NEXT EMPLOYEE </b>"
		rows = rows+1
	}
	row = table.insertRow(rows);
	rows=rows+1
	cell1 = row.insertCell(0)
	cell1.innerHTML = "<div id='new_item" + number_rows + "'></div>";
	add_employee_dropdown()
	cell2 = row.insertCell(1)
	cell2.colSpan = 2
	cell2.innerHTML = "<div id='new_item1" + number_rows + "'></div>";
	add_category1_dropdown();
	cell3 = row.insertCell(2)
	cell3.colSpan = 2
	cell3.innerHTML = "<div id='new_item2" + number_rows + "'></div>";
	add_category2_dropdown();
	cell4 = row.insertCell(3)
	cell4.innerHTML = "<div id='new_item3" + number_rows + "'></div>";
	add_category3_dropdown();
	row2 = table.insertRow(rows);
	rows = rows+1
	cell5 = row2.insertCell(0);
	cell5.innerHTML = "<div id='new_item4" + number_rows + "'></div>";
	add_task_dropdown();
	cell6 = row2.insertCell(1);
	cell6.innerHTML = "<div id='new_item5" + number_rows + "'></div>";
	cell7 = row2.insertCell(2);
	cell7.innerHTML = "<div id='new_item6" + number_rows + "'></div>";
	cell8 = row2.insertCell(3);
	cell8.innerHTML = "<div id='new_item7" + number_rows + "'></div>";
	cell9 = row2.insertCell(4);
	cell9.innerHTML = "Hours: <input type = 'number' step = '0.1' name = 'hours" + number_rows + "' id = 'hours" + number_rows + "' />";
	row3 = table.insertRow(rows);
	rows = rows+1
	cell10 = row3.insertCell(0)
	cell10.colSpan = 4
	cell10.innerHTML = "<input type = 'text' size = '60' name = 'note" + number_rows + "' id = 'note" + number_rows + "' placeholder = 'Notes about this employee' /><button type='button' id = 'deleteemployee_" + number_rows + "' onclick='delete_row(this)' >Delete Employee</button>";


}

function add_employee_dropdown(){
		var select = document.createElement("select");
		select.name = "select_employee" + number_rows
		select.id = "select_employee" + number_rows
		let rolodex = JSON.parse("{{employees_json|escapejs}}");
				var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Employee";
		select.appendChild(option);
				for (const x of rolodex){
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.first_name + " " + x.last_name
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_item" + number_rows).appendChild(label).appendChild(select);
}


function add_category1_dropdown(){
		var select = document.createElement("select");
		select.name = "select_category1" + number_rows
		select.id = "select_category1" + number_rows
		select.addEventListener('change',function() {SelectCategory1(this);},false);
		let rolodex = JSON.parse("{{category1|escapejs}}");
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Substrate";
		select.appendChild(option);
				for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.item1;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_item1" + number_rows).appendChild(label).appendChild(select);
}

function add_category2_dropdown(){
		var select = document.createElement("select");
		select.name = "select_category2" + number_rows
		select.id = "select_category2" + number_rows
		select.addEventListener('change',function() {SelectCategory2(this);},false);
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Method";
		select.appendChild(option);
		var label = document.createElement("label");
		document.getElementById("new_item2" + number_rows).appendChild(label).appendChild(select);
}

function add_category3_dropdown(){
		var select = document.createElement("select");
		select.name = "select_category3" + number_rows
		select.id = "select_category3" + number_rows
		select.addEventListener('change',function() {SelectCategory3(this);},false);
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Step";
		select.appendChild(option);
		var label = document.createElement("label");
		document.getElementById("new_item3" + number_rows).appendChild(label).appendChild(select);
}

function add_task_dropdown(){
		var select = document.createElement("select");
		select.name = "select_task" + number_rows
		select.id = "select_task" + number_rows
		select.addEventListener('change',function() {SelectTask(this);},false);
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "Select Task";
		select.appendChild(option);
		var label = document.createElement("label");
		document.getElementById("new_item4" + number_rows).appendChild(label).appendChild(select);
}

function SelectCategory1(btn){
	document.getElementById("new_item5" + number_rows).innerHTML = ""
	document.getElementById("new_item6" + number_rows).innerHTML = ""
	document.getElementById("new_item7" + number_rows).innerHTML = ""
	var sel = document.getElementById(btn.id);
	match = sel.options[sel.selectedIndex].text
	var sel2 = document.getElementById("select_category2" + sel.id.substring(16,sel.id.length))
	for(let i = sel2.options.length; i >= 0; i--) {
					sel2.remove(i);
				}
	var sel3 = document.getElementById("select_category3" + sel.id.substring(16,sel.id.length))
	for(let i = sel3.options.length; i >= 0; i--) {
					sel3.remove(i);
				}

	if (match == "Other"){
		document.getElementById("new_item4" + sel.id.substring(16,sel.id.length)).innerHTML = "<input type = 'text' name = 'custom_description" + sel.id.substring(16,sel.id.length) + "' id = 'custom_description" + sel.id.substring(16,sel.id.length) + "' placeholder = 'Description of Work' />"
		document.getElementById("new_item5" + sel.id.substring(16,sel.id.length)).innerHTML = "Amount Completed: <input type = 'number'  size = '7' step = '0.1' name = 'custom_value1" + sel.id.substring(16,sel.id.length) + "' id = 'custom_value1" + sel.id.substring(16,sel.id.length) + "' /><input type = 'text' size = '10' name = 'custom_unit" + sel.id.substring(16,sel.id.length) + "' id = 'custom_unit" + sel.id.substring(16,sel.id.length) + "' placeholder = 'Units' />"
		var option = document.createElement("option");
		option.value = "other";
		option.text= "Other";
		sel2.appendChild(option);
		var option = document.createElement("option");
		option.value = "other";
		option.text= "Other";
		sel3.appendChild(option);}
	else{
	var option = document.createElement("option");
	option.value = "please_select";
	option.text= "Select Method";
	sel2.appendChild(option);
	var option = document.createElement("option");
	option.value = "please_select";
	option.text= "Select Step";
	sel3.appendChild(option);
	document.getElementById("new_item4" + sel.id.substring(16,sel.id.length)).innerHTML= ""
	var sel4 = document.createElement("select");
	sel4.name = "select_task" + sel.id.substring(16,sel.id.length)
	sel4.id = "select_task" + sel.id.substring(16,sel.id.length)
	sel4.addEventListener('change',function() {SelectTask(this);},false);
	var option = document.createElement("option");
	option.value = "please_select";
	option.text= "Select Task";
	sel4.appendChild(option);
	var label = document.createElement("label");
	document.getElementById("new_item4" + sel.id.substring(16,sel.id.length)).appendChild(label).appendChild(sel4);
	let rolodex = JSON.parse("{{category2|escapejs}}");
	test_word = "START"
	b=0
	for (const x of rolodex){
		if (b==0){
			if (x.item1 == match){
				b=b+1
				if (x.unit1 != null && x.unit1 != "" ){document.getElementById("new_item5" + sel.id.substring(16,sel.id.length)).innerHTML = x.unit1 + "=<input type = 'number'  step = '0.1' size = '7' name = 'value1" + sel.id.substring(16,sel.id.length) + "' id = 'value1" + sel.id.substring(16,sel.id.length) + "' />";}
				else {}

				if (x.unit2 != null && x.unit2 != "" ){document.getElementById("new_item6" + sel.id.substring(16,sel.id.length)).innerHTML = x.unit2 + "= <input type = 'number'  step = '0.1' size = '7' name = 'value2" + sel.id.substring(16,sel.id.length) + "' id = 'value2" + sel.id.substring(16,sel.id.length) + "' />";}
				if (x.unit3 != null && x.unit3 != "" ){document.getElementById("new_item7" + sel.id.substring(16,sel.id.length)).innerHTML = x.unit3 + "= <input type = 'number'  step = '0.1' size = '7' name = 'value3" + sel.id.substring(16,sel.id.length) + "' id = 'value3" + sel.id.substring(16,sel.id.length) + "' />";}
				test_word = x.item2
				var option = document.createElement("option");
				option.value = x.item2
				option.text= x.item2
				sel2.appendChild(option);
			}
		}
		if (b==1){
			if (x.item1 != match){ break; }
			if (x.item2 != test_word){
				test_word = x.item2
				var option = document.createElement("option");
				option.value = x.item2
				option.text= x.item2
				sel2.appendChild(option);
			}
		}
	}
}
}

function SelectCategory2(btn){
	var sel = document.getElementById(btn.id);
	match = document.getElementById("select_category1" + sel.id.substring(16,sel.id.length)).options[document.getElementById("select_category1" + sel.id.substring(16,sel.id.length)).selectedIndex].text
	match2 = sel.options[sel.selectedIndex].text
	var sel2 = document.getElementById("select_category3" + sel.id.substring(16,sel.id.length))
	for(let i = sel2.options.length; i >= 0; i--) {
					sel2.remove(i);
				}
	var option = document.createElement("option");
	option.value = "please_select";
	option.text= "Select Step";
	sel2.appendChild(option);
	var sel3 = document.getElementById("select_task" + sel.id.substring(16,sel.id.length))
	for(let i = sel3.options.length; i >= 0; i--) {
					sel3.remove(i);
				}
	if (match2 == "Other"){
			document.getElementById("new_item4" + sel.id.substring(16,sel.id.length)).innerHTML = "<input type = 'text' name = 'custom_description" + sel.id.substring(16,sel.id.length) + "' id = 'custom_description" + sel.id.substring(16,sel.id.length) + "' placeholder = 'Description of Work' />"
		document.getElementById("new_item5" + sel.id.substring(16,sel.id.length)).innerHTML = "Amount Completed: <input type = 'number'  size = '7' step = '0.1' name = 'custom_value1" + sel.id.substring(16,sel.id.length) + "' id = 'custom_value1" + sel.id.substring(16,sel.id.length) + "' /><input type = 'text' size = '10' name = 'custom_unit" + sel.id.substring(16,sel.id.length) + "' id = 'custom_unit" + sel.id.substring(16,sel.id.length) + "' placeholder = 'Units' />"
					for(let i = sel.options.length; i >= 0; i--) {
					sel.remove(i);
				}
					var option = document.createElement("option");
					option.value = "other";
					option.text= "Other";
					sel.appendChild(option);
	}

	var option = document.createElement("option");
	option.value = "please_select";
	option.text= "Select Task";
	sel3.appendChild(option);
	let rolodex = JSON.parse("{{category2|escapejs}}");
	test_word = "START"
	b=0
	for (const x of rolodex){
		if (b==0){
			if (x.item1 == match){
				b=b+1
				if (x.item2 == match2){
					b=b+1
					test_word = x.item3
					var option = document.createElement("option");
					option.value = x.item3
					option.text= x.item3
					sel2.appendChild(option);
				}
			}
		}
		else if (b==1){
			if (x.item2 == match2){
				b=b+1
				test_word = x.item3
				var option = document.createElement("option");
				option.value = x.item3
				option.text= x.item3
				sel2.appendChild(option);
			}
		}
		else if (b==2){
				if (x.item1 != match){ break; }
				if (x.item2 != match2){ break; }
				if (x.item3 != test_word){
					test_word = x.item3
					var option = document.createElement("option");
					option.value = x.item3
					option.text= x.item3
					sel2.appendChild(option);
				}
		}

	}
}

function SelectCategory3(btn){
	var sel = document.getElementById(btn.id);
	match = document.getElementById("select_category1" + sel.id.substring(16,sel.id.length)).options[document.getElementById("select_category1" + sel.id.substring(16,sel.id.length)).selectedIndex].text
	match2 = document.getElementById("select_category2" + sel.id.substring(16,sel.id.length)).options[document.getElementById("select_category2" + sel.id.substring(16,sel.id.length)).selectedIndex].text
	match3 = sel.options[sel.selectedIndex].text
	if (match3 != "Other"){




	var sel2 = document.getElementById("select_task" + sel.id.substring(16,sel.id.length))
	for(let i = sel2.options.length; i >= 0; i--) {
					sel2.remove(i);
				}

	var option = document.createElement("option");
	option.value = "please_select";
	option.text= "Select Task";
	sel2.appendChild(option);
	let rolodex = JSON.parse("{{category2|escapejs}}");
	test_word = "START"
	b=0
	for (const x of rolodex){
		if (b==0){
			if (x.item1 == match){
				b=b+1
				if (x.item2 == match2){
					b=b+1
					if (x.item3 == match3){
						b=b+1
						var option = document.createElement("option");
						option.value = x.id
						option.text= x.task
						sel2.appendChild(option);
					}
				}
			}
		}
		else if (b==1){
			if (x.item2 == match2){
				b=b+1
				if (x.item3 == match3){
					b=b+1
					var option = document.createElement("option");
					option.value = x.id
					option.text= x.task
					sel2.appendChild(option);
				}
			}
		}
		else if (b==2){
			if (x.item3 == match3){
				b=b+1
				test_word = x.item3
				var option = document.createElement("option");
				option.value = x.id
				option.text= x.task
				sel2.appendChild(option);
			}
		}
		else if (b==3){
				if (x.item1 != match){ break; }
				if (x.item2 != match2){ break; }
				if (x.item3 != match3){ break; }
					var option = document.createElement("option");
					option.value = x.id
					option.text= x.task
					sel2.appendChild(option);
		}
	}
}
}

function check_booking_data(){
message = ""
c=0
const forms = document.querySelectorAll('form');
const form = forms[0];
a=0
b=0
Array.from(form.elements).forEach((input) => {
if (a==0){
  	if (input.id.substring(0,4) == "unit"){
		a=1
		if (input.value!=""){
			b=1
		}
	}
}
else {
	if (input.id.substring(0,4) == "unit"){
		if (input.value!=""){
			b=1
		}
	}
	else {
		if (b==0){
			message = "Need to pick a value for the team"
			c=1
			a=0
			b=0
		}
		else{
			a=0
			b=0
		}
	}
}
});
Array.from(form.elements).forEach((input) => {
  	if (input.value == "please_select") {
  	message = "value missing"
  	c=1
  	}
	if (input.name.substring(0,6)=="custom"){
		if (input.value == ""){
		message = "value missing"
		c=1
		}
	}
});

a=0
b=0
Array.from(form.elements).forEach((input) => {
if (a==0){
  	if (input.id.substring(0,5) == "value"){
		a=1
		if (input.value!=""){
			b=1
		}
	}
}
else {
	if (input.id.substring(0,5) == "value"){
		if (input.value!=""){
			b=1
		}
	}
	else {
		if (b==0){
			message = "Need to pick a value for the employee"
			c=1
			a=0
			b=0
		}
		else{
			a=0
			b=0
		}
	}
}
});
a=0
b=0
Array.from(form.elements).forEach((input) => {
if (a==0){
  	if (input.id.substring(0,20) == "select_teamcategory1"){
  		team_number = input.id.substring(20,input.id.length)
		a=1
	}
}
else {
	if (input.id.substring(0,26 + team_number.length) == "select_team" + team_number + "select_employee"){
			a=0
	}
}
});
if (a==1){
	c=1
	message = "Can't have a team without employees"
}
if (c==1){
alert(message)
return false;
}
}

function myFunction(){
const forms = document.querySelectorAll('form');
const form = forms[0];
Array.from(form.elements).forEach((input) => {
console.log(input.name)
});
}

function myFunction2(){
}

	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Employees Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'training' %}">Training Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'assessments' 'ALL' %}">Assessments</a></li>
        <li><a class="nav-item nav-link" href="{% url 'production_reports' 'ALL'  %}">Production Reports</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">Classes</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">Exams</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">Mentorships</a></li>
		<li><a class="nav-item nav-link active" >NEW PRODUCTION REPORT</a></li>
    </ul>
  </div>

</nav><br>
 <button onclick="myFunction()">Log</button><button onclick="myFunction2()">Check</button>
{% if selected_job %}
 <form action="{% url 'new_production_report' selected_job.job_number %}" method="post" onSubmit = "return check_booking_data()" >
	 {% csrf_token %}
	 <H4>New Production Report for: {{selected_job.job_name}}</H4>

 {% else %}
 <form action="{% url 'new_production_report' 'ALL' %}" method="post" onSubmit = "return check_booking_data()" >
	 {% csrf_token %}
	 	             <label for="select_job">Select Job:</label>
            <select id="select_job" name="select_job" >
                 <option value="please_select">"Please Select"</option>
				{% if jobs %}
                {% for x in jobs %}
                <option value={{x.job_number}}>{{x.job_name}}</option>
                {% endfor %}
                {% endif %}
            </select>
	 <input type="submit" name="job_select" value="BEGIN REVIEW" />
{% endif %}

{% if selected_job %}
<input type="hidden" name="selected_job" id="selected_job" value = {{selected_job.job_number}} />
	 <br>
	 	             <label for="select_reviewer">Select Reviewer:</label>
            <select id="select_reviewer" name="select_reviewer" >
{% if selected_reviewer %}
				<option value={{selected_reviewer.id}}>{{selected_reviewer.first_name}} {{selected_reviewer.last_name}}</option>
				{% endif %}
				<option value={{current_employee.id}}>{{current_employee.first_name}} {{current_employee.last_name}}</option>
                {% for employee in employees %}
                <option value={{employee.id}}>{{employee.first_name}} {{employee.last_name}}</option>
                {% endfor %}
            </select>
	 <br>
<textarea name="report_note" rows="2" cols="100" placeholder="Report Notes" ></textarea>
<div class="demo-html" style="width:90%">
		<table id="team_table" class="display" style="width:90%">
			<tbody>
				<tr><td><h3 style="color:red">TEAMS</h3></td></tr>
			</tbody>
		</table>
</div>
<!--<div id = "add_team_here" ></div>-->

	 <br>
	  <button type="button" onclick="addteam()" style='color:blue' >Add A New Team</button>
<br><hr>
<div class="demo-html" style="width:90%">
		<table id="person_table" class="display" style="width:90%">

			<tbody>
				<tr>
					<td><h3 style="color:red">INDIVIDUALS</h3>
					</td>
				</tr>
			</tbody>
		</table>
</div>

<br>






	 <button type="button" onclick="addperson()" style='color:blue' >Add A New Person</button>


	 <br>
	 <br>

	 <br><hr>

<input type="submit" name="report_complete" value="Production Report Complete" />

 {% endif %}
 </form>

</body>
</html>

{% endblock %}
