{% extends 'base.html' %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.active, .collapsible:hover {
  background-color: Salmon;
}


	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#employees_table').DataTable({});
})

	</script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Training</a>
  <div  id="navbarNavDropdown2">
    <ul class="navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Employees Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'training' %}">Training Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'assessments' 'ALL' %}">Assessments</a></li>
        <li><a class="nav-item nav-link active" href="{% url 'production_reports' 'ALL'  %}">Production Reports</a></li>
        <li><a class="nav-item nav-link" href="{% url 'daily_reports' 'ALL'  %}">Daily Reports</a></li>
		<li><a class="nav-item nav-link" href="{% url 'classes' 'ALL' %}">Classes</a></li>
        <li><a class="nav-item nav-link" href="{% url 'exams' 'ALL' %}">Exams</a></li>
        <li><a class="nav-item nav-link" href="{% url 'mentorships' 'ALL' %}">Mentorships</a></li>

    </ul>
  </div>
</nav><br>
<form action="{% url 'new_production_report' 'ALL' %}">
    <input type="submit" value="NEW DAILY PRODUCTION REPORT - CLICK HERE" />
</form>
<br>
<div class="demo-html" style="width:90%">
		<table id="employees_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Date</th>
					<th>Goto</th>
					<th>Task </th>
					<th>Quantity</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% for x in production_reports %}
			<tr><td><a href = "{% url 'employees_page' x.employee.id %}">{{x.employee}}</a></td>
			<td>{{x.date}}</td>
			<td><a href = "{% url 'production_reports' x.id %}">View</a></td>
			<td>{{x.description}}</td>
			<td>{{x.value1}} {{x.unit}}{% if x.value2 != None %}...{{x.value2}} {{x.unit2}}{% endif %}{% if x.value3 != None %}...{{x.value3}} {{x.unit3}}{% endif %}</td>
			<td>{{x.note}} {% if x.is_team == True %} Team members: {{x.team_members}}. {{x.team_note}} {% endif %}</td></tr>

{% endfor %}
			</tbody>
		</table>
</div>
<div class ="container">


{% if selected_item %}


{% if selected_item.daily_report %}
<div class ="row">
	<div class ="col" ><h3><b>Daily Report - Reviewed Employee:</b> {{selected_item.employee}} </h3></div></div>

	<div class ="row">
		<div class ="col"><b>Foreman: </b>{{selected_item.daily_report.foreman}}</div>
		<div class ="col"><b>Date: </b>{{selected_item.daily_report.date}}</div>

		<div class ="col"><b>Job: </b>{{selected_item.daily_report.job}}</div>
	</div>
	<div class ="row">
		<div class ="col"><b>Note: </b>{{selected_item.daily_report.note}}</div></div>
{% else %}
	<div class ="row">
		<div class ="col"><h3><b>Assessment - Reviewed Employee: </b>{{selected_item.employee}}</h3> </div></div>

	<div class ="row">
		<div class ="col"><b>Foreman: </b>{{selected_item.assessment.reviewer}}</div>
		<div class ="col"><b>Date: </b>{{selected_item.assessment.date}}</div>

		<div class ="col"><b>Job: </b>{{selected_item.assessment.job}}</div>
	</div>
	<div class ="row">
		<div class ="col"><b>Note: </b>{{selected_item.assessment.note}}</div></div>
{% endif %}

{% for x in selected_assessment %}
	<div class ="row"></div><div class ="row"><div class ="col">{{x.category}}</div></div>
{% endfor %}
{% endif %}
</div>
</body>
</html>

{% endblock %}
