{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

	<style type="text/css" class="init">



	</style>
<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#employees_table').DataTable({});
})

	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Employees</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Employees Home</a></li>
       <!--            <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>-->
        <li><a class="nav-item nav-link" href="{% url 'assessments' 'ALL' %}">Assessments</a></li>
        <li><a class="nav-item nav-link active" href="{% url 'production_reports' 'ALL'  %}">Production Reports</a></li>
        <li><a class="nav-item nav-link" href="{% url 'daily_reports' 'ALL'  %}">Daily Reports</a></li>
		<li><a class="nav-item nav-link" href="{% url 'classes' 'ALL' %}">Classes</a></li>
        <li><a class="nav-item nav-link" href="{% url 'exams' 'ALL' %}">Exams</a></li>
        <li><a class="nav-item nav-link" href="{% url 'mentorships' 'ALL' %}">Mentorships</a></li>

    </ul>
  </div>
</nav><br>
<form action="{% url 'new_production_report' 'ALL' %}">
    <input type="submit" value="NEW DAILY PRODUCTION REPORT - CLICK HERE" />
</form>
<br>
<div class="demo-html" style="width:90%">
		<table id="employees_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Date</th>
					<th>Goto</th>
					<th>Task </th>
					<th>Quantity</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% for x in production_reports %}
			<tr><td><a href = "{% url 'employees_page' x.employee.id %}">{{x.employee}}</a></td>
			<td>{{x.date}}</td>
			<td><a href = "{% url 'production_reports' x.id %}">View</a></td>
			<td>{{x.description}}</td>
			<td>{{x.value1}} {{x.unit}}{% if x.value2 != None %}...{{x.value2}} {{x.unit2}}{% endif %}{% if x.value3 != None %}...{{x.value3}} {{x.unit3}}{% endif %}</td>
			<td>{{x.note}} {% if x.is_team == True %} Team members: {{x.team_members}}. {{x.team_note}} {% endif %}</td></tr>

{% endfor %}
			</tbody>
		</table>
</div>
<div class ="container">


{% if selected_item %}


{% if selected_item.daily_report %}
<div class ="row">
	<div class ="col" ><h3><b>Daily Report - Reviewed Employee:</b> {{selected_item.employee}} </h3></div></div>

	<div class ="row">
		<div class ="col"><b>Foreman: </b>{{selected_item.daily_report.foreman}}</div>
		<div class ="col"><b>Date: </b>{{selected_item.daily_report.date}}</div>

		<div class ="col"><b>Job: </b>{{selected_item.daily_report.job}}</div>
	</div>
	<div class ="row">
		<div class ="col"><b>Note: </b>{{selected_item.daily_report.note}}</div></div>
{% else %}
	<div class ="row">
		<div class ="col"><h3><b>Assessment - Reviewed Employee: </b>{{selected_item.employee}}</h3> </div></div>

	<div class ="row">
		<div class ="col"><b>Foreman: </b>{{selected_item.assessment.reviewer}}</div>
		<div class ="col"><b>Date: </b>{{selected_item.assessment.date}}</div>

		<div class ="col"><b>Job: </b>{{selected_item.assessment.job}}</div>
	</div>
	<div class ="row">
		<div class ="col"><b>Note: </b>{{selected_item.assessment.note}}</div></div>
{% endif %}

{% for x in selected_assessment %}
	<div class ="row"></div><div class ="row"><div class ="col">{{x.category}}</div></div>
{% endfor %}
{% endif %}
</div>
</body>
</html>

{% endblock %}
