{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

	<style type="text/css" class="init">



	</style>
<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#employees_table').DataTable({});
})

	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Employees</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Employees Home</a></li>
        <!--            <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>-->
        <li><a class="nav-item nav-link" href="{% url 'assessments' 'ALL' %}">Assessments</a></li>
        <li><a class="nav-item nav-link" href="{% url 'production_reports' 'ALL'  %}">Production Reports</a></li>
		 <li><a class="nav-item nav-link" href="{% url 'daily_reports' 'ALL'  %}">Daily Reports</a></li>
        <li><a class="nav-item nav-link" href="{% url 'classes' 'ALL' %}">Classes</a></li>
        <li><a class="nav-item nav-link" href="{% url 'exams' 'ALL' %}">Exams</a></li>
        <li><a class="nav-item nav-link" href="{% url 'mentorships' 'ALL' %}">Mentorships</a></li>
    </ul>
  </div>
</nav>

<h4><a href = "{% url 'assessments' 'ALL' %}">Assessments</a></h4>

<h4><a href = "{% url 'production_reports' 'ALL' %}">Production Reports</a></h4>

<h4><a href = "{% url 'classes' 'ALL' %}">View Classes</a></h4>

<h4><a href = "{% url 'exams' 'ALL' %}">View Exams</a></h4>

<h4><a href = "{% url 'mentorships' 'ALL' %}">View Mentorships</a></h4>

</body>
</html>

{% endblock %}
