{% extends 'base.html' %}
{% load static %}
{% block nav_item_employees %}active{% endblock nav_item_employees %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

	<style type="text/css" class="init">



	</style>
<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#employees_table').DataTable({});
})

	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Employees</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'employees_home' %}">Home</a></li>
        <!--            <li><a class="nav-item nav-link" href="{% url 'training' %}">Training</a></li>-->
        <li><a class="nav-item nav-link" href="{% url 'my_page' %}">My Page</a></li>
        <li><a class="nav-item nav-link" href="{% url 'certifications' 'ALL' %}">Certifications</a></li>
		<li><a class="nav-item nav-link active" href="{% url 'write_ups' 'ALL' %}">Write_Ups</a></li>
        <li><a class="nav-item nav-link" href="{% url 'add_new_employee' %}">New Employee</a></li>
	  	<li><a class="nav-item nav-link" href="{% url 'safety_home' %}">Safety</a></li>
    </ul>
  </div>
</nav><br>
<form action="{% url 'write_ups_new' %}">
    <input type="submit" value="NEW WRITE UP- CLICK HERE" />
</form>
<br>
<div class="demo-html" style="width:90%">
		<table id="employees_table" class="display" >
			<thead>
				<tr>
					<th>View</th>
					<th>Date</th>
					<th>Employee</th>
					<th>Description </th>

				</tr>
			</thead>
			<tbody>
			{% for x in write_ups %}
			<tr><td><a href = "{% url 'write_ups' x.id %}">View</td><td>{{x.date}}</td>
				<td>{{x.employee}}</td>  <td>{{x.description}}</td></tr>
			{% endfor %}
			</tbody>
		</table>
</div>
<div class ="container">


{% if selected_item %}



<div class ="row">
	<div class ="col" ><h3><b>Write Up For Employee:</b> {{selected_item.employee}} </h3></div></div>

	<div class ="row">
		<div class ="col"><b>Supervisor: </b>{{selected_item.supervisor}}</div>
		<div class ="col"><b>Date: </b>{{selected_item.date}}</div>

		<div class ="col"><b>Job: </b>{{selected_item.job}}</div>
	</div>
	<div class ="row">
		<div class ="col"><b>Item: </b>{{selected_item.description}}</div></div>
	<div class ="row">
		<div class ="col"><b>Note: </b>{{selected_item.note}}</div></div>

</div>
{% endif %}
</body>
</html>

{% endblock %}
