<!DOCTYPE html>
{% load static %}
<html>
<head>
        <script type="text/javascript" class="init">
<!--        window.onload = function() {-->
<!--        alert("HI")-->
<!--        document.getElementById("final_button").style.display = "none";-->
<!--        }-->
    </script>
    <script src="{% static 'signature.js' %}">
    </script>


    <style>
        table, td, th {
          border: 1px solid #ddd;
          text-align: left;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 5px;
        }
    </style>
</head>
<body style="margin: 22px; font-family: Helvetica">
<H2>Gerloff Painting Extra Work Ticket</H2>
<div style="width: 100%; display:flex; justify-content: space-between;">
    <div style="word-wrap: break-word;"><b>Job:</b>&nbsp;{{changeorder.job_number}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Change Order #</b>&nbsp;{{changeorder.cop_number}} - {{changeorder.description}}</div>
</div>
<div style="width: 100%; display:flex; justify-content: space-between;">
    <div style="word-wrap: break-word;"><b>Week Ending Date:</b>&nbsp;{{ewt.week_ending}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Ticket Completed By:</b>&nbsp;{{ewt.completed_by}}</div>
</div>
<div style="width: 100%;"><p><b>Work Description:</b>&nbsp;{{ewt.notes}}</p></div>
<div style="margin-top: 12px; margin-bottom: 12px;">
    <table style="width: 100%">
        <tr>
            <th>Employee</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>Th</th>
            <th>F</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        {% if laboritems %}
        {% for x in laboritems %}
        <tr>
            <td>
            {% if x.ot == True %}
                {% if x.employee %}
                <b>OT-</b>{{x.employee}}
                {% else %}
                 <b>OT-</b>Painter{{x.custom_employee}}
                {% endif %}
            {% else %}
                {% if x.employee %}
                {{x.employee}}
                {% else %}
                Painter{{x.custom_employee}}
                {% endif %}
            {% endif %}
            </td>
            <td>{{x.monday}}</td>
            <td>{{x.tuesday}}</td>
            <td>{{x.wednesday}}</td>
            <td>{{x.thursday}}</td>
            <td>{{x.friday}}</td>
            <td>{{x.saturday}}</td>
            <td>{{x.sunday}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
<hr style="width:100%">
<div style="margin-top: 12px; margin-bottom: 12px;">
    <div style="width:100%; font-weight: bold; margin-bottom: 12px;">MATERIAL</div>
    <table>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Units</th>
        </tr>
        {% if materials %}
        {% for x in materials %}
        <tr>
            <td>{{x.description}}</td>
            <td>{{x.quantity}}</td>
            <td>{{x.units}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
<hr style="width:100%">
<div style="margin-top: 12px; margin-bottom: 12px;">
    <div style="width:100%; font-weight: bold; margin-bottom: 12px;">EQUIPMENT</div>
    <table>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Units</th>
        </tr>
        {% if equipment %}
        {% for y in equipment %}
        <tr>
            <td>{{y.description}}</td>
            <td>{{y.quantity}}</td>
            <td>{{y.units}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
<hr style="width:100%">
{% if status == 'NEW' %}
<form action="{% url 'emailed_ticket' changeorder.id %}" method="post" onSubmit="signatureSave()">
    <div>
        <div style="margin-bottom: 12px;"><b>Signature:</b></div>
        {% if signature.signature %}
        <img id="saveSignature" src={{signature.signature}} name="saveSignature" style="width: 300px; height: 100px"
             alt="Saved image png"/>
        <div><b>Name:</b>&nbsp;{{signature.name}}</div>
        <div><b>Date:</b>&nbsp;{{signature.date}}</div>
        <div><b>Comments:</b>&nbsp;{{signature.notes}}</div>
        {% else %}
        <div id="canvas">
            <canvas class="roundCorners" id="newSignature"
                    style="position: relative; margin: 0; padding: 0; border: 1px solid #c4caac;"></canvas>
        </div>
        <div>
            <img id="saveSignature" name="saveSignature" style="display: none; width: 300px; height: 100px"
                 alt="Saved image png"/>
            <div style="display: flex; margin-top: 12px;">
                <div>Print Name:&nbsp;</div>
                <input style="width: 200px" id="signatureName" name="signatureName"></input>
                <input hidden id="signatureValue" name="signatureValue"></input>
            </div>
            <br>
            <label for="gc_notes">Comments:</label><br>
            <textarea id="gc_notes" name="gc_notes" rows="2" style="max-width: 380px; width: 98%;"></textarea>
            <div>{% endif %}
                <div>___________________________________________</div>
            </div>
            <div style="width: 400px">{{changeorder.job_number.client}}</div>
            {% csrf_token %}
            <script>signatureCapture();</script>
            {% if not signature %}
<!--            <button type="button" id="saveSignatureBtn"  onclick="signatureSave()">Confirm signature</button>-->
<!--            <button type="button" id="clearSignatureBtn" onclick="signatureClear()">Clear signature</button>-->
            <input type="submit" id="final_button"  value="Email Signed Ticket Back To Gerloff (you will get a copy)"/>
            {% endif %}
        </div>
    </div>
</form>
{% else %}
<br>
<div style="height: 150px"></div>
<div>_______________________________________________________________</div>
<div style="width: 400px">APPROVED BY - {{changeorder.job_number.client}}</div>
{% endif %}
</body>
</html>

