{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">

var row_counter = 1;
var material_row_counter = 1;
var equipment_row_counter = 1;

function changematerial(){
	clicked_row = event.currentTarget.id.substring(15,event.currentTarget.id.length)
	description = document.getElementById("description" + clicked_row)
	units = document.getElementById("units" + clicked_row)
	rolodex = JSON.parse("{{materialsjson|escapejs}}");
	for(let i =0; i < rolodex.length; i++){
		if (rolodex[i].id == event.currentTarget.value){
			description.value = rolodex[i].item
			units.value = rolodex[i].unit
		}
	}
}

function changeequipment(){
	clicked_row = event.currentTarget.id.substring(16,event.currentTarget.id.length)
	description = document.getElementById("equipment_description" + clicked_row)
	units = document.getElementById("equipment_units" + clicked_row)
	rolodex = JSON.parse("{{equipmentjson|escapejs}}");
	for(let i =0; i < rolodex.length; i++){
		if (rolodex[i].id == event.currentTarget.value){
			description.value = rolodex[i].item
			units.value = rolodex[i].unit
		}
	}
}

function add_equipment_row() {
	equipment_row_counter = equipment_row_counter + 1
	hidden = document.getElementById("number_equipment");
	hidden.value=equipment_row_counter
	var table = document.getElementById("equipment_breakdown");
	var rows = table.getElementsByTagName("tr").length;
	var row = table.insertRow(rows);
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	cell1.innerHTML = "<div id='new_equipment" + equipment_row_counter + "'></div>";
	add_equipment_dropdown();
	cell2.innerHTML = "<td><input type='text' name='equipment_description" + equipment_row_counter +"' placeholder='description' size='30' id='equipment_description" + equipment_row_counter +"'/></td>"
	cell3.innerHTML ="<td><input type='number' id='equipment_quantity" + equipment_row_counter +"' name = 'equipment_quantity" + equipment_row_counter +"' size='3'></td>"
	cell4.innerHTML ="<td><input type='text' name='equipment_units" + equipment_row_counter +"' placeholder='units' size='10' id='equipment_units" + equipment_row_counter +"'/></td>"

}


function add_material_row() {
	material_row_counter = material_row_counter + 1
		hidden = document.getElementById("number_materials");
	hidden.value=material_row_counter
	var table = document.getElementById("material_breakdown");
	var rows = table.getElementsByTagName("tr").length;
	var row = table.insertRow(rows);
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	cell1.innerHTML = "<div id='new_material" + material_row_counter + "'></div>";
	add_material_dropdown();
	cell2.innerHTML = "<td><input type='text' name='description" + material_row_counter +"' placeholder='description' size='30' id='description" + material_row_counter +"'/></td>"
	cell3.innerHTML ="<td><input type='number' id='quantity" + material_row_counter +"' name = 'quantity" + material_row_counter +"' size='3'></td>"
	cell4.innerHTML ="<td><input type='text' name='units" + material_row_counter +"' placeholder='units' size='10' id='units" + material_row_counter +"'/></td>"

}

	  function add_painter_row() {
			row_counter = row_counter + 1
				hidden = document.getElementById("number_painters");
			hidden.value=row_counter
			var table = document.getElementById("labor_breakdown");
			var rows = table.getElementsByTagName("tr").length;
			var row = table.insertRow(rows);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
			var cell7 = row.insertCell(6);
			var cell8 = row.insertCell(7);
			var cell9 = row.insertCell(8);
			cell1.innerHTML = "<div id='new_painter" + row_counter + "'></div>";
			add_painter_dropdown();
			cell2.innerHTML = "<div id='monday_row" + row_counter + "'></div>";
			add_day("monday");
			cell3.innerHTML = "<div id='tuesday_row" + row_counter + "'></div>";
			add_day("tuesday");
			cell4.innerHTML = "<div id='wednesday_row" + row_counter + "'></div>";
			add_day("wednesday");
			cell5.innerHTML = "<div id='thursday_row" + row_counter + "'></div>";
			add_day("thursday");
			cell6.innerHTML = "<div id='friday_row" + row_counter + "'></div>";
			add_day("friday");
			cell7.innerHTML = "<div id='saturday_row" + row_counter + "'></div>";
			add_day("saturday");
			cell8.innerHTML = "<div id='sunday_row" + row_counter + "'></div>";
			add_day("sunday");
			cell9.innerHTML = "<div id='overtime" + row_counter + "'>OT?</div>";
			add_ot();
}

function add_ot(){
		var select = document.createElement("INPUT");
		var select2 = document.createElement("INPUT");
		var select3 = document.createElement("LABEL");
		select2.setAttribute("type", "checkbox");
		select.setAttribute("value", "notchecked");
		select2.setAttribute("value", "checked");
		select.setAttribute("type", "hidden");
		select.name = add_ot + row_counter;
		select.id = add_ot + row_counter;
		select2.name = add_ot + row_counter;
		select2.id = add_ot + row_counter;
		select3.setAttribute("htmlFor", add_ot + row_counter);
		document.getElementById("overtime" + row_counter).appendChild(select);
		document.getElementById("overtime" + row_counter).appendChild(select2);
		//var select3 = document.createElement("LABEL");
		//select3.setAttribute("htmlFor", add_ot + row_counter);
		document.getElementById("overtime" + row_counter).appendChild(select3);
}


function add_day(daycolumn){
		var select = document.createElement("INPUT");
		select.setAttribute("type", "number");
		select.setAttribute("size", 3);
		select.name = daycolumn + row_counter;
		select.id = daycolumn + row_counter;
		document.getElementById(daycolumn + "_row" + row_counter).appendChild(select);
	}

function add_equipment_dropdown(){
		var select = document.createElement("select");
		select.name = "select_equipment" + equipment_row_counter;
		select.id = "select_equipment" + equipment_row_counter;
		select.addEventListener('change',function() {changeequipment(event);},false);
		let rolodex = JSON.parse("{{equipmentjson|escapejs}}");
				var option = document.createElement("option");
		option.value = "please select";
		option.text= "please select";
		select.appendChild(option);
				for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.item;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_equipment" + equipment_row_counter).appendChild(label).appendChild(select);

}



function add_material_dropdown(){
		var select = document.createElement("select");
		select.name = "select_material" + material_row_counter;
		select.id = "select_material" + material_row_counter;
		select.addEventListener('change',function() {changematerial(event);},false);
		let rolodex = JSON.parse("{{materialsjson|escapejs}}");
				var option = document.createElement("option");
		option.value = "please select";
		option.text= "please select";
		select.appendChild(option);
				for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.item;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_material" + material_row_counter).appendChild(label).appendChild(select);

}

	function add_painter_dropdown() {
		var select = document.createElement("select");
		select.name = "painter_dropdown" + row_counter;
		select.id = "painter_dropdown" + row_counter;
		let rolodex = JSON.parse("{{employeesjson|escapejs}}");
		var option = document.createElement("option");
		option.value = "please select";
		option.text= "please select";
		select.appendChild(option);
		for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.first_name + " " + x.last_name;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_painter" + row_counter).appendChild(label).appendChild(select);
	}


	</script>
</head>
<body>
<h1>EXTRA WORK TICKET!</h1>
<div id="co_number" ></div>
<h2>{{changeorder.job_number.job_number}} - {{changeorder.job_number.job_name}} - {{changeorder.description}}</h2>
<br>

<br>
<form name = ticket_input action="{% url 'index'%}" method="post" >
	{% csrf_token %}
	<label for="date_week_ending">Week Ending Date</label>
	<input type="date" id="date_week_ending" name="date_week_ending">

	<label for="ticket_description">Details of Work Completed </label> <br>
        <textarea id="ticket_description" name="ticket_description" rows="4" cols="100" ></textarea>
        <br /> <hr>

	<h3>LABOR BREAKDOWN</h3>

	<table id="labor_breakdown" class="display" style="width:90%" >
		<thead>
			<tr>
				<th>Employee Name</th>
				<th>M</th>
				<th>T</th>
				<th>W</th>
				<th>TH</th>
				<th>F</th>
				<th>S</th>
				<th>S</th>
				<th>OT?</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
<!--					<label for="select_painter">please select Gerloff superintendent</label>-->
            		<select id="select_painter1" name="select_painter1" >
                	<option value="please_select">please select</option>
                	{% if employees %}
                	{% for employee in employees %}
                	<option value={{employee_id}}>{{employee.first_name}} {{employee.last_name}}</option>
                	{% endfor %}
                	{% endif %}
            		</select>
				</td>
				<td><input type="number" id="monday1" size=3></td>
				<td><input type="number" id="tuesday1" size=3></td>
				<td><input type="number" id="wednesday1" size=3></td>
				<td><input type="number" id="thursday1" size=3></td>
				<td><input type="number" id="friday1" size=3></td>
				<td><input type="number" id="saturday1" size=3></td>
				<td><input type="number" id="sunday1" size=3>
				<td>OT?<input type='hidden' value='notchecked' name="is_overtime1" id="is_overtime1"><input type="checkbox" name="is_overtime1" id="is_overtime1" value="checked"  />
        		</td>
			</tr>
		</tbody>
	</table>
	<button type="button" onclick="add_painter_row()">Add row </button>
<br><br><hr>
	<h3>MATERIAL BREAKDOWN</h3>
	<table id="material_breakdown" class="display" style="width:90%" >
		<thead>
			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Units</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
<!--					<label for="select_painter">please select Gerloff superintendent</label>-->
            		<select id="select_material1" name="select_material1" onchange="changematerial(event)">
                	<option value="please_select">please select</option>
                	{% if materials %}
                	{% for material in materials %}
                	<option value={{material.id}}>{{material.item}}</option>
                	{% endfor %}
                	{% endif %}
            		</select>
				</td>
				<td><input type="text" name="description1" placeholder="description" size="30" id="description1"/></td>
				<td><input type="number" id="quantity1" name = "quantity1" size="3"></td>
				<td><input type="text" name="units1" placeholder="units" size="10" id="units1"/></td>

			</tr>
		</tbody>
	</table>
	<button type="button" onclick="add_material_row()">Add row </button>
<br><hr>
	<h3>EQUIPMENT BREAKDOWN</h3>
	<table id="equipment_breakdown" class="display" style="width:90%" >
		<thead>
			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Units</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
<!--					<label for="select_painter">please select Gerloff superintendent</label>-->
            		<select id="select_equipment1" name="select_equipment1" onchange="changeequipment(event)">
                	<option value="please_select">please select</option>
                	{% if equipment %}
                	{% for x in equipment %}
                	<option value={{x.id}}>{{x.item}}</option>
                	{% endfor %}
                	{% endif %}
            		</select>
				</td>
				<td><input type="text" name="equipment_description1" placeholder="description" size="30" id="equipment_description1"/></td>
				<td><input type="number" id="equipment_quantity" name="equipment_quantity" size="3"></td>
				<td><input type="text" name="equipment_units1" placeholder="units" size="10" id="equipment_units1"/></td>

			</tr>
		</tbody>
	</table>
<button type="button" onclick="add_equipment_row()">Add row </button>

<br><br>
	<input type="hidden" name="number_painters" value="0" size="30" id="number_painters"/>
	<input type="hidden" name="number_materials" value="0" size="30" id="number_materials"/>
	<input type="hidden" name="number_equipment" value="0" size="30" id="number_equipment"/>
    <input type="submit" value="Submit Ticket" />
</form>



</body>
</html>

{% endblock %}
