{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">

var row_counter = 1;
var material_row_counter = 1;
var equipment_row_counter = 1;

window.onload = function() {

rolodex = JSON.parse("{{laboritems|escapejs}}");
alert(rolodex[0].employee.id)
var table = $('#labor_breakdown').DataTable({paging: false, aaSorting:[]})
}


function delete_row(btn){
var row = btn.parentNode.parentNode;
row.parentNode.removeChild(row);
}


function changematerial(){
	clicked_row = event.currentTarget.id.substring(15,event.currentTarget.id.length)
	description = document.getElementById("description" + clicked_row)
	units = document.getElementById("units" + clicked_row)
	rolodex = JSON.parse("{{materialsjson|escapejs}}");
	for(let i =0; i < rolodex.length; i++){
		if (rolodex[i].id == event.currentTarget.value){
			description.value = rolodex[i].item
			units.value = rolodex[i].unit
		}
	}
}

function changeequipment(){
	clicked_row = event.currentTarget.id.substring(16,event.currentTarget.id.length)
	description = document.getElementById("equipment_description" + clicked_row)
	units = document.getElementById("equipment_units" + clicked_row)
	rolodex = JSON.parse("{{equipmentjson|escapejs}}");
	for(let i =0; i < rolodex.length; i++){
		if (rolodex[i].id == event.currentTarget.value){
			description.value = rolodex[i].item
			units.value = rolodex[i].unit
		}
	}
}

function add_equipment_row() {
	equipment_row_counter = equipment_row_counter + 1
	hidden = document.getElementById("number_equipment");
	hidden.value=equipment_row_counter
	var table = document.getElementById("equipment_breakdown");
	var rows = table.getElementsByTagName("tr").length;
	var row = table.insertRow(rows);
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	var cell5 = row.insertCell(4);
	cell1.innerHTML = "<div id='new_equipment" + equipment_row_counter + "'></div>";
	add_equipment_dropdown();
	cell2.innerHTML = "<td><input type='text' name='equipment_description" + equipment_row_counter +"' placeholder='description' size='30' id='equipment_description" + equipment_row_counter +"' required/></td>"
	cell3.innerHTML ="<td><input type='number' id='equipment_quantity" + equipment_row_counter +"' name = 'equipment_quantity" + equipment_row_counter +"' size='5' required/></td>"
	cell4.innerHTML ="<td><input type='text' name='equipment_units" + equipment_row_counter +"' placeholder='units' size='10' id='equipment_units" + equipment_row_counter +"' required/></td>"
	cell5.innerHTML = "<button type='button' onclick='delete_row(this)'>Delete </button>"
}


function add_material_row() {
	material_row_counter = material_row_counter + 1
		hidden = document.getElementById("number_materials");
	hidden.value=material_row_counter
	var table = document.getElementById("material_breakdown");
	var rows = table.getElementsByTagName("tr").length;
	var row = table.insertRow(rows);
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	var cell5 = row.insertCell(4);
	cell1.innerHTML = "<div id='new_material" + material_row_counter + "'></div>";
	add_material_dropdown();
	cell2.innerHTML = "<td><input type='text' name='description" + material_row_counter +"' placeholder='description' size='30' id='description" + material_row_counter +"' required/></td>"
	cell3.innerHTML ="<td><input type='number' id='quantity" + material_row_counter +"' name = 'quantity" + material_row_counter +"' size='5' required/></td>"
	cell4.innerHTML ="<td><input type='text' name='units" + material_row_counter +"' placeholder='units' size='10' id='units" + material_row_counter +"' required/></td>"
	cell5.innerHTML = "<button type='button' onclick='delete_row(this)'>Delete </button>"
}

	  function add_painter_row() {
			row_counter = row_counter + 1
			hidden = document.getElementById("number_painters");
			hidden.value=row_counter
			var table = document.getElementById("labor_breakdown");
			var rows = table.getElementsByTagName("tr").length;
			var row = table.insertRow(rows);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
			var cell7 = row.insertCell(6);
			var cell8 = row.insertCell(7);
			var cell9 = row.insertCell(8);
			var cell10 = row.insertCell(9);
			cell1.innerHTML = "<div id='new_painter" + row_counter + "'></div>";
			add_painter_dropdown();
			cell2.innerHTML = "<div id='monday_row" + row_counter + "'></div>";
			add_day("monday");
			cell3.innerHTML = "<div id='tuesday_row" + row_counter + "'></div>";
			add_day("tuesday");
			cell4.innerHTML = "<div id='wednesday_row" + row_counter + "'></div>";
			add_day("wednesday");
			cell5.innerHTML = "<div id='thursday_row" + row_counter + "'></div>";
			add_day("thursday");
			cell6.innerHTML = "<div id='friday_row" + row_counter + "'></div>";
			add_day("friday");
			cell7.innerHTML = "<div id='saturday_row" + row_counter + "'></div>";
			add_day("saturday");
			cell8.innerHTML = "<div id='sunday_row" + row_counter + "'></div>";
			add_day("sunday");
			cell9.innerHTML = "<div id='overtime" + row_counter + "'>OT?</div>";
			add_ot();
			cell10.innerHTML = "<button type='button' onclick='delete_row(this)'>Delete </button>"

}

function add_ot(){
		var select = document.createElement("INPUT");
		select.setAttribute("type", "hidden");
		select.setAttribute("value", "notchecked");
		select.name = "is_overtime" + row_counter;
		select.id = "is_overtime" + row_counter;
		document.getElementById("overtime" + row_counter).appendChild(select);
		var select2 = document.createElement("INPUT");
		select2.setAttribute("type", "checkbox");
		select2.setAttribute("value", "checked");
		select2.name = "is_overtime" + row_counter;
		select2.id = "is_overtime" + row_counter;
		document.getElementById("overtime" + row_counter).appendChild(select2);

}


function add_day(daycolumn){
		var select = document.createElement("INPUT");
		select.setAttribute("type", "number");
		select.setAttribute("size", 1);
		select.name = daycolumn + row_counter;
		select.id = daycolumn + row_counter;
		select.value = 0
		document.getElementById(daycolumn + "_row" + row_counter).appendChild(select);
	}

function add_equipment_dropdown(){
		var select = document.createElement("select");
		select.name = "select_equipment" + equipment_row_counter;
		select.id = "select_equipment" + equipment_row_counter;
		select.addEventListener('change',function() {changeequipment(event);},false);
		let rolodex = JSON.parse("{{equipmentjson|escapejs}}");
				var option = document.createElement("option");
		option.value = "please_select";
		option.text= "please select";
		select.appendChild(option);
				for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.item;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_equipment" + equipment_row_counter).appendChild(label).appendChild(select);

}



function add_material_dropdown(){
		var select = document.createElement("select");
		select.name = "select_material" + material_row_counter;
		select.id = "select_material" + material_row_counter;
		select.addEventListener('change',function() {changematerial(event);},false);
		let rolodex = JSON.parse("{{materialsjson|escapejs}}");
				var option = document.createElement("option");
		option.value = "please_select";
		option.text= "please select";
		select.appendChild(option);
				for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.item;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_material" + material_row_counter).appendChild(label).appendChild(select);

}

	function add_painter_dropdown() {
		var select = document.createElement("select");
		select.name = "painter_dropdown" + row_counter;
		select.id = "painter_dropdown" + row_counter;
		let rolodex = JSON.parse("{{employeesjson|escapejs}}");
		var option = document.createElement("option");
		option.value = "please_select";
		option.text= "please select";
		select.appendChild(option);
		var this_painter_number = 0
		var max_number = 0
		const custom_painters = []
		Array.from(ticket_input.elements).forEach((input) => {
			if (input.name.substring(0,16) == "painter_dropdown" && input.value.substring(0,7) == "painter"){
				this_painter_number = Number(input.value.substring(7,input.value.length))
				if (this_painter_number > max_number){max_number = this_painter_number}
				if (custom_painters.includes(this_painter_number)){}
				else{
				custom_painters.push(this_painter_number)
				}
			}
			if (input.name.substring(0,16) == "existing_painter" && input.value.substring(0,7) == "painter"){
				this_painter_number = Number(input.value.substring(7,input.value.length))
				if (this_painter_number > max_number){max_number = this_painter_number}
				if (custom_painters.includes(this_painter_number)){}
				else{
				custom_painters.push(this_painter_number)
				}
			}
		})
		var counter = 0
		let i=0
		do {
			i=i+1
			if (custom_painters.includes(i)){

			}
			else{
				counter = 1
			}
			var option = document.createElement("option");
			option.value = "painter" + i;
			option.text= "Painter " + i;
			select.appendChild(option);
		}
		while (i < max_number + 1)
		for (const x of rolodex)
		{
		var option = document.createElement("option");
		option.value = x.id;
		option.text= x.first_name + " " + x.last_name;
		select.appendChild(option);
		}
		var label = document.createElement("label");
		document.getElementById("new_painter" + row_counter).appendChild(label).appendChild(select);
	}


function before_post(){
var elementTypeSelector = document.querySelectorAll('select');
for(let i = 0; i < elementTypeSelector.length; i++) {
if (elementTypeSelector[i].value =='please_select'){
 	alert("Please select");
	return false;
}
}
}

	</script>
</head>
<body>
<h1>EXTRA WORK TICKET!</h1>
<div id="co_number" ></div>
<h2>{{changeorder.job_number.job_number}} - {{changeorder.job_number.job_name}} - {{changeorder.description}}</h2>
<br>

<br>
<form name="ticket_input" action="{% url 'process_ewt' changeorder.id %}" method="post" onSubmit="return before_post()" >
	{% csrf_token %}
	<label for="date_week_ending">Week Ending Date</label>
	<input type="date" id="date_week_ending" name="date_week_ending" value = {{ewtdate}} required>


	<label for="ticket_description">Details of Work Completed </label> <br>
        <textarea id="ticket_description" name="ticket_description" rows="4" cols="100" >{% if ewt %}{{ewt.notes}}{% endif %}</textarea>
        <br /> <hr>

	<h3>LABOR BREAKDOWN</h3>
<div class="table-responsive">
	<table id="labor_breakdown" class="display" style="width:90%" >
		<thead>
			<tr>
				<th>Employee Name</th>
				<th>M</th>
				<th>T</th>
				<th>W</th>
				<th>TH</th>
				<th>F</th>
				<th>S</th>
				<th>S</th>
				<th>OT?</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>

		{% if laboritems %}
		{% for x in laboritems %}

			<tr id="row1">

				<td>
					<select id="existing_painter" name="existing_painter" >
						{% if x.employee %}
{% for y in employees %} {% if y.id == x.employee_id %}
                	<option value={{y.id}}>{{y.first_name}} {{y.last_name}}</option>
{% endif %}{% endfor %}
						{% else %}
						<option value='painter{{x.custom_employee}}'>Painter {{x.custom_employee}}</option>
						{% endif %}
            		</select>
				</td>
				<td><input type="number" id="monday" name="monday" size=2 value ={{x.monday}} ></td>
				<td><input type="number" id="tuesday" name="tuesday" value ={{x.tuesday}} size=2 ></td>
				<td><input type="number" id="wednesday" name="wednesday" value ={{x.wednesday}} size=2 ></td>
				<td><input type="number" id="thursday" name="thursday" value ={{x.thursday}} size=2 ></td>
				<td><input type="number" id="friday" name="friday" value ={{x.friday}} size=2 ></td>
				<td><input type="number" id="saturday" name="saturday" value ={{x.saturday}} size=2 ></td>
				<td><input type="number" id="sunday" name="sunday" value ={{x.sunday}} size=2 ></td>
				{% if x.master_id == 8 %}
				<td>OT?
					<input type='hidden' value='notchecked' name="is_overtime" id="is_overtime" >
					<input type="checkbox" name="is_overtime" id="is_overtime" value="checked" checked />
        		{% else %}
					<td>OT?
					<input type='hidden' value='notchecked' name="is_overtime" id="is_overtime" >
					<input type="checkbox" name="is_overtime" id="is_overtime" value="checked"  />
				{% endif %}
			</td>
				<td><button type="button" onclick="delete_row(this)">Delete </button></td>
			</tr>

		{% endfor %}
		{% endif %}

		</tbody>
	</table>
</div>
	<button type="button" class="btn btn-info btn-sm" onclick="add_painter_row()">Add Painter Row </button>
<br><br><hr>
	<h3>MATERIAL BREAKDOWN</h3>
	<table id="material_breakdown" class="display" style="width:90%" >
		<thead>
			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Units</th>
				<th>Delete</th>

			</tr>
		</thead>
		<tbody>
				{% if materialitems %}
		{% for x in materialitems %}

			<tr>
				<td>

			<select id="existing_material" name="existing_material" >

					{% for y in materials %}  {% if y.id == x.master_id %}
                	<option value={{y.id}}>{{y.item}}</option>
                {% endif %}
				{% endfor %}

            		</select>
				</td>
				<td><input type="text" name="description" placeholder="description" size="30" id="description" value = "{{x.description}}" /></td>
				<td><input type="number" id="quantity" name = "quantity" size="5" value = {{x.quantity}} /></td>
				<td><input type="text" name="units" placeholder="units" size="10" id="units" value = "{{x.units}}"  /></td>
<td><button type="button" onclick="delete_row(this)">Delete </button></td>
			</tr>

				{% endfor %}
		 {% endif %}
		</tbody>
	</table>
	<button type="button" class="btn btn-info btn-sm" onclick="add_material_row()">Add Material Row </button>
<br><hr>
	<h3>EQUIPMENT BREAKDOWN</h3>
	<table id="equipment_breakdown" class="display" style="width:90%" >
		<thead>
			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Units</th>
				<th>Delete</th>

			</tr>
		</thead>
		<tbody>
				{% if equipmentitems %}
		{% for x in equipmentitems %}

			<tr>
				<td>

			<select id="existing_equipment" name="existing_equipment" >

					{% for y in equipment %}  {% if y.id == x.master_id %}
                	<option value={{y.id}}>{{y.item}}</option>
                {% endif %}
				{% endfor %}

            		</select>
				</td>
				<td><input type="text" name="equip_description" size="30" id="equip_description" value = "{{x.description}}" /></td>
				<td><input type="number" id="equip_quantity" name = "equip_quantity" size="5" value = {{x.quantity}} /></td>
				<td><input type="text" name="equip_units" placeholder="units" size="10" id="equip_units" value = "{{x.units}}"  /></td>
<td><button type="button" onclick="delete_row(this)">Delete </button></td>
			</tr>

				{% endfor %}
		 {% endif %}
		</tbody>
	</table>
<button type="button" class="btn btn-info btn-sm" onclick="add_equipment_row()">Add Equipment </button>

<br><br>
	<input type="hidden" name="number_painters" value="0" size="30" id="number_painters"/>
	<input type="hidden" name="number_materials" value="0" size="30" id="number_materials"/>
	<input type="hidden" name="number_equipment" value="0" size="30" id="number_equipment"/>
    <input type="submit" class="btn btn-primary btn-sm" value="Submit Ticket" />
	<br>
	<br>
</form>



</body>
</html>

{% endblock %}
