{% extends 'base.html' %}
{% load static %}
{% block nav_item_changeorder %}active{% endblock nav_item_changeorder %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.emailbutton {
 visibility:hidden;
}
	</style>
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
function add_button(pk){
hidden = document.getElementById("button"+ pk);
hidden.style.visibility= "visible"
}
	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Change Orders</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'change_order_home' %}">Home</a></li>
		<li><a class="nav-item nav-link" href="#">Add New</a></li>
		<li><a class="nav-item nav-link active" href="#">{{changeorder.job_number}} Change Order: #{{changeorder.cop_number}} - SEND NOW!</a></li>
    </ul>
  </div>
</nav>
<h2>{{changeorder.job_number.job_number}} - {{changeorder.job_number.job_name}} - Change Order #{{changeorder.cop_number}} - {{changeorder.description}}</h2>
<h4>Send Signed Ticket to the Following People: </h4>
<table id="labor_breakdown" class="display" style="width:90%" ><thead><tr><th></th></tr></thead><tbody>
<form action="{% url 'email_signed_ticket' changeorder.id %}" method="post"   >
	{% csrf_token %}
	{% for x in client_list %}
	{% if x.current == True %}
		<tr><td>
	 <select id="recipient" name="recipient{{x.person_pk}}" >
		 <option value={{x.person_pk}}>{{x.name}}</option></select>
			{% if x.default == True %}
			<input type="submit" value="Remove from Default EWT Recipients" name="remove{{x.person_pk}}" />
						{% else %}
			<input type="submit" value="Add to Default EWT Recipients" name="adddefault{{x.person_pk}}" />
			{% endif %}
			<input type="submit" value="Remove from this Ticket" name="tempremove{{x.person_pk}}"/>
			<input type="email" class= "emails" value="{{x.email}}" name="email{{x.person_pk}}" size="30" onchange = "add_button({{x.person_pk}})"/>
			<input type="submit" class="emailbutton" value="Update Now!" id="button{{x.person_pk}}" name="updateemail{{x.person_pk}}"/>
			</td></tr>
	{% endif %}
	{% endfor %}
	<tr height="25px"></tr>
	{% if extra_contacts == True %}
		<tr><td>Click Below To Add Additional Recipients </td></tr><tr><td>
		<select id="recipient" name="addrecipient" >
			{% for x in client_list %}
			{% if x.current == False %}
			<option value={{x.person_pk}}>{{x.name}}</option>
		{% endif %}
			{% endfor %}
		</select>
	<input type="submit" value="Add as a Default Ticket Recipient" name="defaultadd"/>
		<input type="submit" value="Add to this Ticket" name="tempadd"/>

</td></tr>
	{% endif %}
</tbody></table>

 <br>


<br>
<input type="submit" class="btn btn-primary btn-lg" value="Email To GC Above" name="final1" />
	<input type="submit" class="btn btn-primary btn-lg" value="Email Only to Bridgette" name="final2" />
</form>

</body>
</html>

{% endblock %}
