<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block nav_item_autos %}active{% endblock nav_item_autos %}
{% block content %}

<html>
<head>
    <script src="{% static 'autos.js' %}"></script>
</head>
<body>
<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="#">Autos</a>
    <div id="navbarNavDropdown2">
        <ul class="sub-nav-list navbar-nav ">
            <li><a class="nav-item nav-link active" href="{% url 'equipment_home' %}">Home</a></li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" name="note" id="note">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title3">Add Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="white-space:pre-wrap; height: 100px; width: 100%; max-height: 250px; overflow: scroll;" id="notesLog">
                    </div>
                    <div id="noteEntry" class="form-group">
                        <input type="hidden" id="vehicleId" name="vehicleId"/>
                        <label for="notes">New Note</label>
                        <textarea rows="4" style="width: 100%" class="form-control" id="notes" name="notes" placeholder="Vehicle Notes"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add-maintenance" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="note">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title3">Add Maintenance Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="vin">Vin Number</label>
                    <input type="text" class="form-control" id="vin" name="vin" required placeholder="Vin Number">
                </div>
                <div class="form-group">
                    <label for="datePurchased">Date Purchased</label>
                    <input type="date" class="form-control" id="datePurchased" name="datePurchased" required
                           placeholder="Date Purchased">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="update-auto-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="update">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title3">Update Vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="driver">Current Driver</label>
                    <select id="driver" required class="form-control" name="driver">
                        <option value="select_inventory_type">Select Driver</option>
                        {% if employees %}
                        {% for employee in employees %}
                        <option value={{employee.id}} class="dropdown-item" href="#">{{employee.first_name}}&nbsp;{{employee.last_name}}
                        </option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <div class="form-group">
                        <label for="vin">Vin Number</label>
                        <input type="text" class="form-control" id="vin" name="vin" required placeholder="Vin Number">
                    </div>
                    <div class="form-group">
                        <label for="datePurchased">Date Purchased</label>
                        <input type="date" class="form-control" id="datePurchased" name="datePurchased" required
                               placeholder="Date Purchased">
                    </div>
                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        <input type="text" class="form-control" id="mileage" name="mileage"  required placeholder="Current Mileage">
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <input type="text" class="form-control" id="notes" name="notes" placeholder="Vehicle Notes">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value='Update' class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-auto-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title3">Add Vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="driver">Current Driver</label>
                    <select id="driver" required class="form-control" name="driver">
                        <option value="select_inventory_type">Select Driver</option>
                        {% if employees %}
                        {% for employee in employees %}
                        <option value={{employee.id}} class="dropdown-item" href="#">{{employee.first_name}}&nbsp;{{employee.last_name}}
                        </option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <div class="form-group">
                        <label for="vin">Vin Number</label>
                        <input type="text" class="form-control" id="vin" name="vin" required placeholder="Vin Number">
                    </div>
                    <div class="form-group">
                        <label for="datePurchased">Date Purchased</label>
                        <input type="date" class="form-control" id="datePurchased" name="datePurchased" required
                               placeholder="Date Purchased">
                    </div>
                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        <input type="text" class="form-control" id="mileage" name="mileage"  required placeholder="Current Mileage">
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <input type="text" class="form-control" id="notes" name="notes" placeholder="Vehicle Notes">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<input style="margin: 10px" type="submit" data-toggle="modal" data-target="#new-auto-modal"
       class="btn btn-primary btn-sm"
       value="Add Vehicle" name="apply_filter"/>
<div class="table-responsive">
    <table id="inventory_table" class="display table table-sm">
        <thead>
        <tr>
            <th scope="col">Current Driver</th>
            <th scope="col">Vin Number</th>
            <th scope="col">Date Purchased</th>
            <th scope="col">Mileage</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if vehicles %}
        {% for vehicle in vehicles %}
        <tr>
            <td onclick="getVehicleData('{{vehicle.current_driver.id}}','{{vehicle.vin_number}}','{{vehicle.date_purchased}}','{{vehicle.mileage}}','{{vehicle.notes}}')" data-toggle="modal" data-target="#update-auto-modal">
                {{vehicle.current_driver}}
            </td>
            <td onclick="getVehicleData('{{vehicle.current_driver.id}}','{{vehicle.vin_number}}','{{vehicle.date_purchased}}','{{vehicle.mileage}}','{{vehicle.notes}}')" data-toggle="modal" data-target="#update-auto-modal">
                {{vehicle.vin_number}}
            </td>
            <td onclick="getVehicleData('{{vehicle.current_driver.id}}','{{vehicle.vin_number}}','{{vehicle.date_purchased}}','{{vehicle.mileage}}','{{vehicle.notes}}')" data-toggle="modal" data-target="#update-auto-modal">
                {{vehicle.date_purchased}}
            </td>
            <td onclick="getVehicleData('{{vehicle.current_driver.id}}','{{vehicle.vin_number}}','{{vehicle.date_purchased}}','{{vehicle.mileage}}','{{vehicle.notes}}')" data-toggle="modal" data-target="#update-auto-modal">
                {{vehicle.mileage}}
            </td>
            <td>
                <button onclick="showNotes('{{vehicle.id}}',{{vehicleNotes|safe}})" data-toggle="modal" data-target="#add-note" class="btn btn-secondary" data-dismiss="modal">View/Update</button>
            </td>
            <td>
                <button data-toggle="modal" data-target="#add-maintenance" type="button" class="btn btn-secondary" data-dismiss="modal">Add Maintenance Event</button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
