{% extends 'base.html' %}
{% block nav_item_roles %}active{% endblock nav_item_roles %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<style type="text/css" class="init">	</style>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">

$(document).ready(function () {
    jobtable = $('#job_table').DataTable({});

})
$(document).ready(function () {
    var rentaltable = $('#rentals_table').DataTable({});
})
$(document).ready(function () {
    var equipmenttable = $('#equipment_table').DataTable({});
})
$(document).ready(function () {
    var equipmenttable = $('#tickets_table').DataTable({});
})

var started = false
var notStarted = false
function filterJobStarted (event, isStarted) {
	  table = $("#job_table").DataTable();
	  if (isStarted)
	  	started = event.checked
	  else
	  	notStarted = event.checked

	  searchStatus = ''
	  if(started)
	  	searchStatus = true
	  if(notStarted)
	  	searchStatus = false
	  if(notStarted && started)
	  	searchStatus = ''
	  table.columns(5).search(searchStatus).draw();
}




	</script>
</head>
<br>
<body class="wide comments example">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Superintendent</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown2">
    <ul class="navbar-nav ">
		{% if selected_super %}
        <li><a class="nav-item nav-link active" href="#">{{selected_super.first_name}}</a></li>
		{% else %}
		<li><a class="nav-item nav-link active" href="#">Showing All Superintendents</a></li>
		{% endif %}
    </ul>
  </div>
</nav>

	<form name = select_super action="filter_super" method="post" >
        {% csrf_token %}
                    <label>Please select superintendent</label>
                    <select id="selected_super" name="selected_super" >
                        <option value="please_select">"Please Select"</option>
                        {% if supers %}
                        {% for super in supers %}
                            <option value="{{super.id}}">{{super.first_name}} {{super.last_name}}</option>
                        {% endfor %}
                        {% endif %}
					</select>
		<input type="submit" value="select super" />
	</form>
	
	<h3>Job List</h3>
	<input type="checkbox" class="filter-checkbox" onclick="filterJobStarted(this, true)" value="started" /> Job Started
	<input type="checkbox" class="filter-checkbox" onclick="filterJobStarted(this, false)"  value="not_started" /> Job Not Started
		<table id="job_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>Job Name</th>
					<th>Address</th>
					<th>Start</th>
					<th>Change</th>
					<th style="display:none;">Started?</th>
				</tr>
			</thead>
			<tbody>
			{% if jobs %}
			{% for job in jobs %}
				{% if job.start_date_checked < todays_date %}
				<tr style="background-color:Salmon">
					{% else %}
					<tr>
				{% endif %}
					<td><a href = "{% url 'job_page' job.job_number %}">{{job.job_number}}</a></td>
					<td>{{job.job_name}}</td>
					<td>{{job.address}} {{job.city}} {{job.state}}</td>
					<td>{{job.start_date}}</td>
					<td><a href = "{% url 'change_start_date' job.job_number 'superpage' %}">Change Date</a></td>
					<td style="display:none;">{{job.is_active}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>

	<br> <hr>
	<h3>Checked Out Equipment</h3>
	<div class="demo-html">
		<table id="equipment_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th style="display:none;">ID</th>
					<th>Job Number</th>
					<th>Equip Number</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody>
			{% if equipment %}
			{% for item in equipment %}
				<tr>
					<td style="display:none;">{{item.id}}</td>
					<td>{{item.job_number}}</td>
					<td>{{item.number}}</td>
					<td>
						<a href = "{% url 'equipment_page' item.id %}">
							<div style="height:100%;width:100%">
								{{item.item}}
							</div>
						</a>
					</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	<br> <hr>
	<h3>Rentals</h3>
	<div class="demo-html">
		<table id="rentals_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>Item</th>
					<th>On Rent Date</th>
				</tr>
			</thead>
			<tbody>
			{% if rentals %}
			{% for item in rentals %}
				<tr>
					<td>{{item.job_number}}</td>
					<td>{{item.item}}</td>
					<td>{{item.on_rent_date}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	<br> <hr>
	<h3>Extra Work Tickets</h3>
	<div class="demo-html">
		<table id="tickets_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>COP #</th>
					<th>Description</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% if tickets %}
			{% for item in tickets %}
				<tr>
					<td>{{item.job_number}}</td>
					<td><a href = "{% url 'extra_work_ticket' item.id %}">{{item.cop_number}}</a></td>
					<td>{{item.description}}</td>
					<td>{{item.notes}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
</body>
</html>

{% endblock %}
