{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


$(document).ready(function () {
    var table = $('#job_table').DataTable({});
})
	</script>
</head>
<body class="wide comments example">
{% if filtered %}
	<form name = select_super action="{% url 'super_home' 'ALL' 'UPCOMING' %}" method="post" >
		{% else %}
		<form name = select_super action="{% url 'super_home' 'ALL' 'ALL' %}" method="post" >
		{% endif %}
        {% csrf_token %}
                    <label>Please select superintendent</label>
                    <select id="selected_super" name="selected_super" >
                        {% if selected_super %}
						<option value={{selected_super.id}}>{{selected_super.first_name}} {{selected_super.last_name}}</option>
						{% endif %}
						<option value="all">"All"</option>
                        {% if supers %}
                        {% for super in supers %}

                            <option value="{{super.id}}">{{super.first_name}} {{super.last_name}}</option>
                        {% endfor %}
                        {% endif %}
					</select>
		<input type="submit" value="Filter by Superintendent" />
		</form>
	<h3>Job List</h3>
	{% if selected_super %}
		{% if filtered %}
			<form action= "{% url 'super_home' selected_super.id 'ALL' %}" ><input type="submit" value="Show All" /></form>
		{% else %}
			<form action= "{% url 'super_home' selected_super.id 'UPCOMING' %}" ><input type="submit" value="Show Upcoming Only" /></form>
		{% endif %}
	{% else %}
		{% if filtered %}
			<form action= "{% url 'super_home' 'ALL' 'ALL' %}" ><input type="submit" value="Show All" /></form>
		{% else %}
			<form action= "{% url 'super_home' 'ALL' 'UPCOMING' %}" ><input type="submit" value="Show Upcoming Only" /></form>
		{% endif %}
	{% endif %}
	<div class="demo-html" style="width:90%">
		<table id="job_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>Job Name</th>
					<th>Start Date</th>
					<th>Address</th>
					<th>GC</th>
					<th>Contact</th>
				</tr>
			</thead>
			<tbody>
			{% if jobs %}
			{% for job in jobs %}
				<tr>
					<td><a href = "{% url 'job_page' job.job_number %}">
							<div style="height:100%;width:100%">
								{{job.job_number}}	</div>
						</a></td>
					<td>{{job.job_name}}</td>
					<td>
					{% if selected_super %}
						{% if filtered %}
								<a href = "{% url 'change_start_date' job.job_number 'super' selected_super 'UPCOMING' %}">
						{% else %}
									<a href = "{% url 'change_start_date' job.job_number 'super' selected_super 'ALL' %}">
						{% endif %}
					{% else %}
						{% if filtered %}
										<a href = "{% url 'change_start_date' job.job_number 'super' 'ALL' 'UPCOMING' %}">
						{% else %}
											<a href = "{% url 'change_start_date' job.job_number 'super' 'ALL' 'ALL' %}">
						{% endif %}
					{% endif %}
									<div style="height:100%;width:100%">
								{{job.start_date}}	</div>
						</a></td>
					<td>{{job.address}} {{job.city}} {{job.state}}</td>
<td>{{job.client}} </td>
					<td>{{job.client_Super}} <a href="tel:+{{job.client_Super.phone}}" >{{job.client_Super.phone}}</a></td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	<br> <hr>
	<h3>Checked Out Equipment</h3>
	<div class="demo-html">
		<table id="equipment_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th style="display:none;">ID</th>
					<th>Job Number</th>
					<th>Equip Number</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody>
			{% if equipment %}
			{% for item in equipment %}
				<tr>
					<td style="display:none;">{{item.id}}</td>
					<td>{{item.job_number}}</td>
					<td>{{item.number}}</td>
					<td>
						<a href = "{% url 'equipment_page' item.id %}">
							<div style="height:100%;width:100%">
								{{item.item}}
							</div>
						</a>
					</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	<br> <hr>
	<h3>Rentals</h3>
	<div class="demo-html">
		<table id="rentals_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>Item</th>
					<th>PO</th>
					<th>Date</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% if rentals %}
			{% for item in rentals %}
				<tr>
					<td>{{item.job_number}}</td>
					<td>
						<a href = "{% url 'rental_page' item.id 'YES' %}">
							<div style="height:100%;width:100%">
								{{item.item}}
							</div>
						</a>
					</td>
					<td>{{item.purchase_order}}</td>
					<td>{{item.on_rent_date}}</td>
					<td>{{item.notes}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>

</body>
</html>

{% endblock %}
