{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
        function hideValidations() {
            //get all labels with a validation and hide them when user enters text in an input
            var validationLabel = document.getElementsByClassName('validationLabel');
            for (var i = 0; i < validationLabel.length; i ++) {
                validationLabel[i].style.display = 'none';
            }
        };

        function validate(event){
            passes = true;
            value = event.target.value;
            id = event.target.id;
            //user name validation
            username = document.getElementById("username").value;
            usernameRegex = /^[a-z0-9_.]+$/
            if (usernameRegex.test(username) == false || !username) {
                passes = false;
                if (id == "username"){
                    document.getElementById("validateUsernameLbl").style.display = 'block';
                    document.getElementById("validateUsernameLbl").innerHTML = "Usernames can only use letters, numbers, underscores, and periods and must not be blank";
                }
            }
            //password validation
            password = document.getElementById("password").value;
            passwordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/
            if (passwordRegex.test(password) == false || !password) {
                passes = false;
                if (id == "password"){
                    document.getElementById("validatePasswordLbl").style.display = 'block';
                    document.getElementById("validatePasswordLbl").innerHTML = "Password must have a minimum eight characters, at least one letter, one number and one special character"
                }
            }
            //password match validation
            passwordMatch = document.getElementById("reEnterPassword").value;
            if (passwordMatch != password) {
                passes = false;
                if (id == "reEnterPassword" || !passwordMatch){
                    document.getElementById("validatePasswordMatchLbl").style.display = 'block';
                    document.getElementById("validatePasswordMatchLbl").innerHTML = "Password must match.";
                }
            }
            //phone validation
            phone = document.getElementById("phoneNumber").value
            phoneRegex = /^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/
            if (phoneRegex.test(phone) == false || !phone) {
                passes = false;
                if (id == "phoneNumber"){
                    document.getElementById("validatePhoneNumberLbl").style.display = 'block';
                    document.getElementById("validatePhoneNumberLbl").innerHTML = "Not a valid phone number";
                }
            }
            //email validation
            email = document.getElementById("email").value;
            emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            if (emailRegex.test(email) == false || !email) {
                passes = false;
                if (id == "email"){
                    document.getElementById("validateEmailLbl").style.display = 'block';
                    document.getElementById("validateEmailLbl").innerHTML = "Not a valid email address";
                }
            }
            //can it be disabled? Only if all validations have passed.
            if (passes == true){
                document.getElementById('submitBtn').removeAttribute('disabled')
            }
            else {
                document.getElementById('submitBtn').setAttribute('disabled', true);
            }
        };
	</script>
</head>
<body>
    <div style="padding-top: 50px; padding-bottom: 50px" class="row align-items-center justify-content-center align-middle">
    <div class="col-6" >
        <form action = "{% url 'registration' %}" method = "post" class="form-group">
            {% csrf_token %}
            <h2>Registration for {{selected_employee.first_name}} {{selected_employee.middle_name}} {{selected_employee.last_name}}</h2>
            <br>
            <label class="form-label" for="username">Username</label>
            <input value="{{username}}" oninput="hideValidations()" onBlur="validate(event)" id="username" type="text" name = "username" placeholder="Employee Username" class="form-control">
            <div class="text-danger validationLabel fade-in" style="display: hidden" id="validateUsernameLbl">
            </div>
            <label class="form-label" for="password">Password</label>
            <input value="{{password}}" oninput="hideValidations()" onBlur="validate(event)" id="password" type="password" name = "password" placeholder="Employee Password" class="form-control">
            <div class="text-danger validationLabel fade-in" style="display: hidden" id="validatePasswordLbl">
            </div>
            <label class="form-label" for="reEnterPassword">Re-Enter Password</label>
            <input value="{{password}}" oninput="hideValidations()" onBlur="validate(event)" id="reEnterPassword" type="password" name = "reenterpassword" placeholder="Re-Enter Password" class="form-control">
            <div class="text-danger validationLabel fade-in" style="display: hidden" id="validatePasswordMatchLbl">
            </div>
            <label class="form-label" for="phoneNumber">Phone Number</label>
            <input value="{{phonenumber}}" oninput="hideValidations()" onBlur="validate(event)" id="phoneNumber" type="tel" name = "phonenumber" placeholder="Employee Phone" class="form-control">
            <div class="text-danger validationLabel fade-in" style="display: hidden" id="validatePhoneNumberLbl">
            </div>
            <label class="form-label" for="email">Email address</label>
            <input value="{{email}}" oninput="hideValidations()" onBlur="validate(event)" id="email" type="email" name = "email" placeholder="Employee Email" class="form-control">
            <div class="text-danger validationLabel fade-in" style="display: hidden" id="validateEmailLbl">
            </div>
            <label class="form-label" for="nickname">Nickname</label>
            <input id="nickname" type="text" name = "nickname" placeholder="Employee NickName" class="form-control">
            <input type="hidden" name="selected_employee" value={{selected_employee.id}}>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <input type="submit" id="submitBtn" disabled class="btn btn-primary btn-sm" value="Submit" >
            <div class="text-danger">{{message}}</div>
        </form>
    </div>
</div>
</body>
</html>

{% endblock %}
