{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


	</script>
</head>
<body>
    <div style="padding-top: 50px" class="row align-items-center justify-content-center align-middle">
    <div class="col-6">
        <form action = "add_employee" method = "post" class="form-group">
            {% csrf_token %}
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name = "first_name" placeholder="Employee First Name" class="form-control">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name = "last_name" placeholder="Employee Last Name" class="form-control">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="tel" name = "phoneNumber" placeholder="Employee Phone" class="form-control">
            <label for="email">Email address</label>
            <input id="email" type="email" name = "email" placeholder="Employee Email" class="form-control">
            <label for="nickname">Nickname</label>
            <input id="nickname" type="text" name = "nickname" placeholder="Employee Name" class="form-control">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <input type="button submit" class="btn btn-primary btn-sm" value="Submit" >
        </form>
    </div>
</div>
</body>
</html>

{% endblock %}
