{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
    .list-items {
    border-bottom: 1px solid black; display: flex; justify-content: space-between;
    }
	</style>
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">

$(document).ready(function () {
    document.getElementById("hide_this").style.display = "none"
})

	function check_booking_data(){
alert("Please be patient until this completes")
document.getElementById("send_now").style.display = "none"
    document.getElementById("hide_this").style.display = "block"
	}

function check_paint_boxes(){
	save_paint = document.getElementById("save_paint")
	remove_trash = document.getElementById("remove_trash")
	if (event.target == save_paint){
		if(save_paint.checked == true){remove_trash.checked = true}
	}
	if (event.target == remove_trash){
		if (remove_trash.checked == false){save_paint.checked = false}
	}
}
function check_paint_boxes2(){
	save_paint = document.getElementById("save_paint")
	remove_trash = document.getElementById("remove_trash")
	if (event.target == save_paint){
		if(save_paint.checked == true){
			remove_trash.checked = true
		}
		form5.submit()
	}
	if (event.target == remove_trash){
		if (remove_trash.checked == false){
		save_paint.checked = false
		}
		form5.submit()
	}
}
	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Equipment</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'equipment_home' %}">Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'equipment_new' %}">New</a></li>
        <li><a class="nav-item nav-link" href="{% url 'equipment_batch_outgoing' 'Outgoing' %}">Check-Out</a></li>
        <li><a class="nav-item nav-link" href="{% url 'equipment_batch_outgoing' 'Incoming' %}">Check-In</a></li>
	  	<li><a class="nav-item nav-link active" >Request Equipment Pickup</a></li>
    </ul>
  </div>
</nav>

<h1>{{selected_job}}</h1>

{% if existing_request_all %}
	<h3>There is already an existing request to pickup all equipment from the job.</h3>
		{% if remove_trash %}
	{% if save_paint %}
	<h3>There is also a request to remove the trash, and save the leftover paint</h3>
	{% else %}
	<h3>There is also a request to remove the trash</h3>
	{% endif %}
	{% endif %}


		<h3>Would you like to edit this request?</h3>
	<form name = job_update action="{%  url 'request_pickup' selected_job.job_number 'ALL' existing_request_all.id 'REVISE' %}" method="post" >
		{% csrf_token %}
		<input type="submit" class="btn btn-primary btn-lg" name = "revise" value="Yes Revise Order" />
		<input type="submit" class="btn btn-secondary btn-lg" name = "cancel" value="No Thanks" />
	</form>
{% elif existing_request %}
	<h3>There is already an existing request to pickup the following equipment:</h3>
	<table id="allitems" class="display" style="width:90%">
	<tr>{{existing_request.date}}</tr>
	{% for x in existing_request_items %}
	<tr><td>#{{x.item.number}}- {{x.item.item}}</td></tr>
	{% endfor %}
	</table>
	{% if remove_trash %}
	{% if save_paint %}
	<h3>There is also a request to remove the trash, and save the leftover paint</h3>
	{% else %}
	<h3>There is also a request to remove the trash</h3>
	{% endif %}
	{% endif %}
	<h4>Would you like to add on to this request?</h4>
	<form name = job_update action="{%  url 'request_pickup' selected_job.job_number 'ALL' existing_request.id 'REVISE' %}" method="post" >
		{% csrf_token %}
		<input type="submit" class="btn btn-primary btn-lg" name = "revise" value="Yes Revise Order" />
		<input type="submit" class="btn btn-primary btn-lg" name = "cancel" value="Cancel" />
	</form>
{% else %}
	<h3>Current Equipment Assigned to Job</h3>
	<table id="allitems" class="display" style="width:90%">
	{% for x in all_items %}
	<tr><td>#{{x.number}}- {{x.item}}</td></tr>
	{% endfor %}
	</table>
	{% if not selected_request %}
		{% if selected_item %}
		<form name = job_update action="{%  url 'request_pickup' selected_job.job_number selected_item.id 'ALL' 'ADD' %}" method="post"  >
 		{% else %}
		<form name = job_update action="{%  url 'request_pickup' selected_job.job_number 'ALL' 'ALL' 'ADD' %}" method="post" >
		{% endif %}
		{% csrf_token %}
		<br>
			<b>Pickup Trash?  </b><input type="checkbox" id="remove_trash" name="remove_trash" {% if remove_trash %} checked {% endif %} onchange="check_paint_boxes()">
		<br>
			<b>Save Leftover Paint?  </b><input type="checkbox" id="save_paint" name="save_paint" {% if save_paint %} checked {% endif %} onchange="check_paint_boxes()">
	<br>
		<input type="submit" class="btn btn-primary btn-lg" name = "all_items" value="Pickup All Items From Job" />
		<input type="submit" class="btn btn-primary btn-lg" name = "this_item_only" value="Pickup Certain Items Only" />
		</form>
	{% else %}
	 	<form name = job_update action="{%  url 'request_pickup' selected_job.job_number 'ALL' selected_request.id 'CHANGE' %}" method="post" >
		{% csrf_token %}
					<br>
<!--			<b>Pickup Trash?  </b><input type="checkbox" id="remove_trash" name="remove_trash" {% if remove_trash %} checked {% endif %} onchange="check_paint_boxes()">-->
<!--		<br>-->
<!--			<b>Save Leftover Paint?  </b><input type="checkbox" id="save_paint" name="save_paint" {% if save_paint %} checked {% endif %} onchange="check_paint_boxes()">-->
<!--<br>-->
		 {% if selected_request.all_items == False %}
			<input type="submit" class="btn btn-danger btn-sm" name = "change_to_all_items" value="Pickup All Items From Job Instead" />
		 {% else %}
			 <input type="submit" class="btn btn-danger btn-sm" name = "change_to_certain_items" value="Pickup Only Certain Items Instead" />
		 {% endif %}
		</form>
		{% if selected_request.all_items == False %}
		 	<br><hr><br>
 			{% if available_items %}
			 	<h3 id="try_this">PLEASE SELECT ITEMS YOU WOULD LIKE PICKED UP </h3>
				<table id="available_table" class="display" style="width:90%">
				{% for x in available_items %}
					<tr><td>#{{x.number}}- {{x.item}}</td><td><a href = "{%  url 'request_pickup' selected_job.job_number x.id selected_request.id 'ITEMADD' %}">Add to Pickup </a></td></tr>
				{% endfor %}
				</table>
			{% endif %}
			{% if selected_items %}
			 	<br>
				<h3>SELECTED ITEMS</h3>
				<table id="selected_table" class="display" style="width:90%">
				{% for x in selected_items %}
				<tr><td><b>#{{x.item.number}}- {{x.item.item}}</b></td><td><a href = "{%  url 'request_pickup' selected_job.job_number x.id selected_request.id 'ITEMREMOVE' %}">Remove from Pickup </a></td></tr>
				{% endfor %}
				</table>
			{% endif %}
		{% else %}
		 	<h3>Pickup All Items From the Jobsite!</h3>
		 {% endif %}
		<form id="form5" action="{%  url 'request_pickup' selected_job.job_number 'ALL' selected_request.id 'CHANGE' %}" method="post"  onSubmit = "return check_booking_data()">
		{% csrf_token %}
		 <br><hr><br>
		 <label for="request_notes"> Make a note: </label> <br>
		<textarea id="request_notes" name="request_notes" rows="4" style="width: 100%"></textarea>
		 <br>
			<br>
					<br>
			<b>Pickup Trash?  </b><input type="checkbox" id="remove_trash" name="remove_trash" {% if remove_trash %} checked {% endif %} onchange="check_paint_boxes2()">
		<br>
			<b>Save Leftover Paint?  </b><input type="checkbox" id="save_paint" name="save_paint" {% if save_paint %} checked {% endif %} onchange="check_paint_boxes2()">
<br>
		 {% if selected_request.all_items == True %}
		 	<input type="submit" class="btn btn-primary btn-sm" id="send_now" name = "send_now" value="Send Request Now!" />
		 {% elif selected_items %}
		  	<input type="submit" class="btn btn-primary btn-sm" id="send_now" name = "send_now" value="Send Request Now!" />
		 {% elif remove_trash %}
		  	<input type="submit" class="btn btn-primary btn-sm" id="send_now" name = "send_now" value="Send Request Now!" />
		{% endif %}
			<div id="hide_this"><h3>PROCESSING! Please do not click anything until complete!</h3></div>
			<br>
			<br>

		</form>
 	{% endif %}
 {% endif %}

</body>
</html>

{% endblock %}
