{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">

        function post_job_number(message) {
        	alert(message)
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "job_page", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				'tester': message
			}));
            }


$(document).ready(function () {
    var table = $('#job_table').DataTable({
        columnDefs: [
            {
                targets:0,
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                    	//var message = "job_page/" + data
                    	data = '<a href="job_page/' + data + '">' + data + '</a>';

                    }
                    return data;
                }
            }
        ]
    });

});
$(document).ready(function () {
	var table = $('#equipment_table').DataTable();
		$('#equipment_table tbody').on('click', 'tr', function () {
		var data = table.row(this).data();
		var data2 = table.column(this).data();
		alert('You clicked on ' + data[0] + "'s row");
	});
});

	</script>
</head>
<body class="wide comments example">
	<form name = select_super action="filter_super" method="post" >
        {% csrf_token %}
                    <label>Please select superintendent</label>
                    <select id="selected_super" name="selected_super" >
                        <option value="please_select">"Please Select"</option>
                        {% if supers %}
                        {% for super in supers %}

                            <option value="{{super.id}}">{{super.first_name}} {{super.last_name}}</option>
                        {% endfor %}
                        {% endif %}
					</select>
		<input type="submit" value="select super" />
	</form>
	<div class="demo-html" style="width:90%">
		<table id="job_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>Job Name</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
			{% if jobs %}
			{% for job in jobs %}
				<tr>
					<td>{{job.job_number}}</td>
					<td>{{job.job_name}}</td>
					<td>{{job.superintendent.first_name}}</td>
					<td>{{job.city}}</td>
					<td>{{job.state}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	<div class="demo-html">
		<table id="equipment_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Job Number</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody>
			{% if equipment %}
			{% for item in equipment %}
				<tr>
					<td>{{item.job_number}}</td>
					<td>{{item.item}}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>

</body>
</html>

{% endblock %}
