{% extends 'base.html' %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'project_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Formulario de Autorizacion para Respirador {{ clearance.employee_display_name }} - Seccion 1 de 6</h2>
    <form id="employee_form" method="POST" action="{% url 'subcontractor_resp_clearance_section' selected_sub.id clearance.id 1 %}">
        {% csrf_token %}
        <div class="form-group">
            <br>
            <b>1. Historial de tabaquismo</b>
<!--            do_you_smoke-->
                        <br>
             <label for="do_you_smoke">Fuma tabaco actualmente, o ha fumado tabaco en el ultimo mes?:</label>
                <select id="do_you_smoke" name="do_you_smoke" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.do_you_smoke}}">{{part1.do_you_smoke}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
            <div id="cigarettes">
<!--            how_many_cigarettes-->
                <br>
             <label for="how_many_cigarettes">Cuantos cigarrillos fuma por dia?</label>
                <input type="number" id="how_many_cigarettes" name="how_many_cigarettes" value="{{part1.how_many_cigarettes}}">

<!--            how_many_years-->
                <br>
             <label for="how_many_years">Durante cuantos anos ha fumado?</label>
                <input type="number" id="how_many_years" name="how_many_years" value="{{part1.how_many_years}}">

            </div>
                        <br>
            <b>2. Historial de convulsiones</b>
<!--            do_you_have_seizures-->
                                    <br>
             <label for="do_you_have_seizures">Alguna vez ha tenido una convulsion:</label>
                <select id="do_you_have_seizures" name="do_you_have_seizures" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.do_you_have_seizures}}">{{part1.do_you_have_seizures}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
            <div id="seizures">
<!--            seizures_year_diagnosed-->
                                <br>
             <label for="seizures_year_diagnosed">Durante cuantos anos ha tenido problemas de convulsiones?</label>
                <input type="number" id="seizures_year_diagnosed" name="seizures_year_diagnosed" value="{{part1.seizures_year_diagnosed}}">

<!--            seizures_difficulties-->
                <br>
                <label for="seizures_difficulties">Proporcione mas informacion sobre su historial de convulsiones.</label>
                <textarea rows="4" style="width: 100%" class="form-control" id="seizures_difficulties" name="seizures_difficulties">{{part1.seizures_difficulties}}</textarea>
                </div>

                                    <br>
            <b>3. Historial de diabetes</b>
<!--            do_you_have_diabetes-->
                                    <br>
             <label for="do_you_have_diabetes">Le han diagnosticado diabetes?:</label>
                <select id="do_you_have_diabetes" name="do_you_have_diabetes" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.do_you_have_diabetes}}">{{part1.do_you_have_diabetes}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>

            <div id="diabetes">
<!--            diabetes_year_diagnosed-->
                                                <br>
             <label for="diabetes_year_diagnosed">Durante cuantos anos ha tenido diagnostico de diabetes?</label>
                <input type="number" id="diabetes_year_diagnosed" name="diabetes_year_diagnosed" value="{{part1.diabetes_year_diagnosed}}">
<!--            diabetes_difficulties-->
                <br>
                <label for="diabetes_difficulties">Proporcione mas informacion sobre su historial de diabetes.</label>
                <textarea rows="4" style="width: 100%" class="form-control" id="diabetes_difficulties" name="diabetes_difficulties">{{part1.diabetes_difficulties}}</textarea>
                </div>


                                            <br>
            <b>4. Otras condiciones</b>
<!--            allergic_reactions-->
                                            <br>
             <label for="allergic_reactions">Reacciones alergicas que interfieren con su respiracion?:</label>
                <select id="allergic_reactions" name="allergic_reactions" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.allergic_reactions}}">{{part1.allergic_reactions}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            claustrophobia-->
                                            <br>
             <label for="claustrophobia">Claustrofobia (miedo a lugares cerrados)?:</label>
                <select id="claustrophobia" name="claustrophobia" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.claustrophobia}}">{{part1.claustrophobia}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>

<!--            trouble_smelling-->
                                            <br>
             <label for="trouble_smelling">Problemas para oler olores?:</label>
                <select id="trouble_smelling" name="trouble_smelling" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.trouble_smelling}}">{{part1.trouble_smelling}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
        <br>
        <b>5. Alguna vez ha tenido alguno de los siguientes problemas pulmonares o respiratorios?</b>
        <br>
<!--            asbestosis-->
                                                    <br>
             <label for="asbestosis">Asbestosis?:</label>
                <select id="asbestosis" name="asbestosis" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.asbestosis}}">{{part1.asbestosis}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            asthma-->
                                                    <br>
             <label for="asthma">Asma?:</label>
                <select id="asthma" name="asthma" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.asthma}}">{{part1.asthma}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            chronic_bronchitis-->
                                                    <br>
             <label for="chronic_bronchitis">Chronic bronchitis?:</label>
                <select id="chronic_bronchitis" name="chronic_bronchitis" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.chronic_bronchitis}}">{{part1.chronic_bronchitis}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            emphysema-->
                                                    <br>
             <label for="emphysema">Emphysema?:</label>
                <select id="emphysema" name="emphysema" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.emphysema}}">{{part1.emphysema}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            pneumonia-->
                                                    <br>
             <label for="pneumonia">Neumonia?:</label>
                <select id="pneumonia" name="pneumonia" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.pneumonia}}">{{part1.pneumonia}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            tuberculosis-->
                                                    <br>
             <label for="tuberculosis">Tuberculosis?:</label>
                <select id="tuberculosis" name="tuberculosis" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.tuberculosis}}">{{part1.tuberculosis}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            silicosis-->
                                                    <br>
             <label for="silicosis">Silicosis?:</label>
                <select id="silicosis" name="silicosis" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.silicosis}}">{{part1.silicosis}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            pneumothorax-->
                                                    <br>
             <label for="pneumothorax">Neumotorax?:</label>
                <select id="pneumothorax" name="pneumothorax" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.pneumothorax}}">{{part1.pneumothorax}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            lung_cancer-->
                                                    <br>
             <label for="lung_cancer">Lung cancer?:</label>
                <select id="lung_cancer" name="lung_cancer" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.lung_cancer}}">{{part1.lung_cancer}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            broken_ribs-->
                                                    <br>
             <label for="broken_ribs">Costillas rotas?:</label>
                <select id="broken_ribs" name="broken_ribs" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.broken_ribs}}">{{part1.broken_ribs}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            chest_injuries-->
                                                    <br>
             <label for="chest_injuries">Any Lesiones o cirugias en el pecho?:</label>
                <select id="chest_injuries" name="chest_injuries" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.chest_injuries}}">{{part1.chest_injuries}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            other_lung_problems-->
                                                    <br>
             <label for="other_lung_problems">Any other lung problem that you've been told about?:</label>
                <select id="other_lung_problems" name="other_lung_problems" class="form-control" style="width: 250px;" onchange ="show_hidden()">
                    <option value ="{{part1.other_lung_problems}}">{{part1.other_lung_problems}}</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                </select>
<!--            lung_problem_explanation-->
<br>
                <label for="lung_problem_explanation">Si respondio si a cualquiera de las preguntas del numero 5, explique.</label>
                <textarea rows="4" style="width: 100%" class="form-control" id="lung_problem_explanation" name="lung_problem_explanation">{{part1.lung_problem_explanation}}</textarea>

        <button type="button" class="btn btn-primary" onclick='check_form()'>Continuar a la siguiente pagina</button>
   </div>
    </form>

</div>

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" class="init">
    window.onload = function() {
        show_hidden()
}

    function show_hidden(){
        do_you_smoke = document.getElementById('do_you_smoke');
        hide_smoke = document.getElementById('cigarettes');
        do_you_have_seizures =document.getElementById('do_you_have_seizures');
        hide_seizures =document.getElementById('seizures');
        do_you_have_diabetes =document.getElementById('do_you_have_diabetes');
        hide_diabetes =document.getElementById('diabetes');
        if (do_you_smoke.value == "Si"){hide_smoke.style.display = "block"}
        else {
            hide_smoke.style.display = "none"
            document.getElementById('how_many_cigarettes').value = 0
            document.getElementById('how_many_years').value = 0
        }
        if (do_you_have_seizures.value == "Si"){hide_seizures.style.display = "block"}
        else {
            hide_seizures.style.display = "none"
            document.getElementById('seizures_year_diagnosed').value = 0
            document.getElementById('seizures_difficulties').value = ""
        }
        if (do_you_have_diabetes.value == "Si"){hide_diabetes.style.display = "block"}
        else {
            hide_diabetes.style.display = "none"
            document.getElementById('diabetes_year_diagnosed').value = 0
            document.getElementById('diabetes_difficulties').value = ""
        }
    }

    function check_form() {
        form_completed = "yes"
        myForm = document.getElementById('employee_form');
        Array.from(myForm.elements).forEach(element => {
            if (element.type === 'select-one' && (element.value === 'Please Select' || element.value === 'Por favor seleccione')) {
                alert(element.labels[0].textContent + " No completado");
                element.scrollIntoView();
                form_completed = "no";
                process.exit()
                return;
            }
        })
        do_you_smoke = document.getElementById('do_you_smoke');
        if (do_you_smoke.value == "Si"){
            if (document.getElementById('how_many_cigarettes').value == 0){
                form_completed = "no";
                document.getElementById('how_many_cigarettes').scrollIntoView();
                alert("How Many Cigarettes Do you Smoke Per Day")
                return
            }
            if (document.getElementById('how_many_years').value == 0){
                form_completed = "no";
                document.getElementById('how_many_years').scrollIntoView();
                alert("How Many Years Have You Smoked?")
                return
            }
        }
                do_you_smoke = document.getElementById('do_you_smoke');
        if (do_you_have_seizures.value == "Si"){
            if (document.getElementById('seizures_year_diagnosed').value == 0){
                form_completed = "no";
                document.getElementById('seizures_year_diagnosed').scrollIntoView();
                alert("How Many Years Have You Had Seizures")
                return
            }
            if (document.getElementById('seizures_difficulties').value == ""){
                form_completed = "no";
                document.getElementById('seizures_difficulties').scrollIntoView();
                alert("Please Provide More Information About Your Seizures")
                return
            }
        }
        if (do_you_have_diabetes.value == "Si"){
            if (document.getElementById('diabetes_year_diagnosed').value == 0){
                form_completed = "no";
                document.getElementById('diabetes_year_diagnosed').scrollIntoView();
                alert("How Many Years Have You Had Diabetes")
                return
            }
            if (document.getElementById('diabetes_difficulties').value == ""){
                form_completed = "no";
                document.getElementById('diabetes_difficulties').scrollIntoView();
                alert("Please Provide More Information About Your Diabetes")
                return
            }
        }

        if (form_completed == "yes"){myForm.submit()}
    }
    </script>
{% endblock %}



