{% extends 'base.html' %}
{% load static %}
{% block nav_item_subs %}active{% endblock nav_item_subs %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">
.submit {background-color:#f44336;} /* Blue */
	</style>
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#sub_table').DataTable({});
})
$(document).ready(function () {
    var table = $('#detail_table').DataTable({});
})

	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'subcontractor_home' %}">Subcontractor List</a></li>
		 <li><a class="nav-item nav-link" href="{% url 'subcontracts_home' %}">Current Contracts</a></li>
        <li><a class="nav-item nav-link" href="{% url 'subcontractor_new' %}">Add New Company</a></li>
         <li><a class="nav-item nav-link" href="{% url 'subcontracts_new' %}">Add New Contract</a></li>
		<li><a class="nav-item nav-link active" href="#">INVOICES: {{subcontract.job_number}} {{subcontract.subcontractor}} {{subcontract.po_number}}</a></li>
    </ul>
  </div>
</nav>
{% if selected_invoice %}
<h2>INVOICE {{selected_invoice.pay_app_number}} -JOB: {{subcontract.job_number}} - {{subcontract.subcontractor}} - PO#  <a href = "{% url 'subcontract' subcontract.id %}">{{subcontract.po_number}}</a></h2>
<br>
	{% if notes %}
	{% for note in notes %}
	{{note.date}} - {{note.user}} - {{note.note}}
	<br>
	{% endfor %}
	{% endif %}
		<form action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post"  >
		{% csrf_token %}
		<br>
		<label for="invoice_notes">Enter new note: </label><br>
		<textarea id="invoice_notes" name="invoice_notes" rows="1" cols="100" /></textarea>
	<br>

		<input type="submit" name="form99" value="Add Note" />
	</form>


{% else %}
<h2>INVOICES FOR JOB: {{subcontract.job_number}} - {{subcontract.subcontractor}} - PO#  <a href = "{% url 'subcontract' subcontract.id %}">{{subcontract.po_number}}</a></h2>
<form action="{% url 'subcontractor_invoice_new' subcontract.id %}" method="post"  >
{% csrf_token %}
<input type="submit" name="Form3" class = "submit" value="NEW INVOICE" />
</form>
{% endif %}


<div class="demo-html" style="width:90%">
		<table id="sub_table" class="display" style="width:90%">
			<thead>
			<tr>
				<th>Date</th>
				<th>Invoice #</th>
				<th>Amount</th>
				<th>Retainage</th>
				<th>Status</th>
			</tr>
			</thead>
			<tbody>
			{% if invoices %}
			{% for x in invoices %}
			<tr>
			<td>{{x.date}}</td>
			<td><a href = "{% url 'subcontract_invoices' subcontract.id x.id %}">{{x.pay_app_number}}</a></td>
			<td>{{x.final_amount}}</td>
			<td>{{x.retainage}}</td>
			{% if x.is_sent == True %}
				<td>Approved</td>
			{% else %}
				<td>Pending</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
</div>

{% if selected_invoice %}
{% if selected_invoice.is_sent == False %}
 <form action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post"  onSubmit = "return check_booking_data()">
{% csrf_token %}
<input type="submit" name="form5" class="submit" value="APPROVE INVOICE # {{selected_invoice.pay_app_number}} NOW" />
 </form>
<br>
<hr>
<h3>OR</h3>
<br>
<hr>
<h3>Update Invoice Details</h3>


 <form action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post"  >
{% csrf_token %}

<div class="demo-html" style="width:90%">
		<table id="detail_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Description</th>
					<th>Ordered Qnty</th>
					<th>Ordered $</th>
					<th>Billed Qnty</th>
					<th>Billed $</th>
					<th>Current Qnty</th>
					<th>Current $</th>
					<th>Total Percentage</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				{% if items %}
				{% for item in items %}
				<tr>
					<td>{{item.SOV_description}}</td>
					{% if item.SOV_is_lump_sum == True %}
						<td><div id="quantity_ordered{{item.id}}" >1 Lump Sum</div></td>
						<td><input type="hidden" id="total_cost{{item.id}}" value="{{item.total_cost}}" />${{item.total_cost}}</td>
						<td><input type="hidden" id="quantity_billed{{item.id}}" value="{{item.total_cost}}" />{{item.quantity_billed}}</td>
						<td><input type="hidden" id="previous{{item.id}}" value="{{item.total_billed}}" />${{item.total_billed}}</td>

							{% if item.invoiced == True %}
								{% for x in invoice_items %}
									{% if x.sov_item.id == item.id %}
										<td><div id="current_total{{item.id}}" >{{item.special}}%</div></td>
										<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" value={{x.quantity}} size="7" step="0.01" onchange="update_percentage(event)" /></td>
										<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
										<td><input type="text"  name="note{{item.id}}" size="40" value="{{x.notes}}"/></td>
									{% endif %}
								{% endfor %}
							{% else %}
								<td><div id="current_total{{item.id}}" >{{item.special}}</div></td>
								<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" placeholder={{item.remainingcost}} size="7" step="0.01" onchange="update_percentage(event)" /></td>
								<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
								<td><input type="text"  name="note{{item.id}}" size="40" /></td>
							{% endif %}
					{% else %}
						<td><input type="hidden" id="quantity_ordered{{item.id}}" value="{{item.SOV_total_ordered}}" />{{item.SOV_total_ordered}} {{item.SOV_unit}}</td>
						<td><input type="hidden" id="total_cost{{item.id}}" value="{{item.total_cost}}" />${{item.total_cost}}</td>
						<td><input type="hidden" id="quantity_billed{{item.id}}" value="{{item.quantity_billed}}" />{{item.quantity_billed}} {{item.SOV_unit}}</td>
						<td><input type="hidden" id="previous{{item.id}}" value="{{item.total_billed}}" />${{item.total_billed}}</td>
							{% if item.invoiced == True %}
								{% for x in invoice_items %}
									{% if x.sov_item.id == item.id %}
										<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" value={{x.quantity}} size="7" step="0.01" onchange="update_percentage(event)" /></td>
										<td><div id="current_total{{item.id}}" >${{item.special}}</div></td>
										<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
										<td><input type="text"  name="note{{item.id}}" size="40" value="{{x.notes}}"/></td>
									{% endif %}
								{% endfor %}
							{% else %}
								<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" placeholder={{item.remainingqnty}} size="7" step="0.01" onchange="update_percentage(event)" /></td>
								<td><div id="current_total{{item.id}}" >${{item.special}}</div></td>
								<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
								<td><input type="text"  name="note{{item.id}}" size="40" /></td>
							{% endif %}

					{% endif %}
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
</div>
<input type="submit" name="form6" value="SEND UPDATED INVOICE FOR APPROVAL" />
    </form>

{% else %}
<div class="demo-html" style="width:90%">
		<table id="detail_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Description</th>
					<th>Billed</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>

				{% if invoice_items %}
				{% for x in invoice_items %}
				<tr>
					<td>{{x.sov_item.SOV_description}}</td>
					{% if x.sov_item.SOV_is_lump_sum == True %}
						<td>${{x.quantity}}</td>
					{% else %}
						<td>{{x.quantity}} {{x.sov_item.SOV_unit}}</td>
					{% endif %}
					<td>{{x.notes}}</td>
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
</div>
{% endif %}
{% endif %}
</body>
</html>

{% endblock %}
