{% extends 'base.html' %}
{% block nav_item_subs %}active{% endblock nav_item_subs %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#sub_table').DataTable({});
})

function edit_row(id){
	document.getElementById("edit_existing_item").value = id
}

	</script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Subcontractors</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown2">
    <ul class="navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'subcontractor_home' %}">Subcontractor List</a></li>
		 <li><a class="nav-item nav-link" href="{% url 'subcontracts_home' %}">Current Contracts</a></li>
        <li><a class="nav-item nav-link" href="{% url 'subcontractor_new' %}">Add New Company</a></li>
         <li><a class="nav-item nav-link" href="{% url 'subcontracts_new' %}">Add New Contract</a></li>
		<li><a class="nav-item nav-link active" href="#">{{subcontract.job_number}} {{subcontract.subcontractor}} {{subcontract.po_number}}</a></li>
    </ul>
  </div>
</nav>
<h1>{{subcontract.job_number}} - {{subcontract.subcontractor}} </h1>

<form action="{% url 'subcontract' subcontract.id %}" method="post"  >
    {% csrf_token %}

    <br>
    <label for="po_number">PO Number: </label><input type="text" id="po_number" name="po_number" value={{subcontract.po_number}} />
    <br>

    <textarea id="subcontract_notes" name="subcontract_notes" rows="2" cols="100" />{{subcontract.notes}}</textarea>
<br>

	<input type="submit" name="form1" value="Update PO with the Above Changes" />
</form>
	<hr>
<form action="{% url 'subcontract' subcontract.id %}" method="post"  >
    {% csrf_token %}
    <input type="hidden" id="number_items" name="number_items" value={{number_items}} />
	<input type="hidden" id="edit_existing_item" name="edit_existing_item" value="None Selected"/>
	<br>
	<div class="demo-html" style="width:90%">
		<table id="sub_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Description</th>
					<th>Quantity</th>
					<th>Unit</th>
					<th>Price</th>
					<th>Notes</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
			{% for x in items %}
			{% if edit_row and x.id|slugify == edit_row|slugify %}
			<tr>
					<td><input type="hidden" id="item_edited" name="item_edited" value={{x.id}} /><input type= "text" name="SOV_description" id="SOV_description" value={{x.SOV_description}} size="30" required /></td>
					{% if x.SOV_is_lump_sum == True %}
					<td>1</td>
					<td>Lump Sum</td>
					{% else %}
					<td><input type= "number" name="SOV_total_ordered" id="SOV_total_ordered" value={{x.SOV_total_ordered}} size="10" required /></td>
					<td>{{x.SOV_unit}}</td>
					{% endif %}
					{% if invoiced_already %}
					<td>{{x.SOV_rate}}</td>
					{% else %}
					<td><input type= "number" name="SOV_rate" id="SOV_rate" value={{x.SOV_rate}} size="10" required /></td>
					{% endif %}
					<td><textarea name="notes" id="notes" cols="50" rows="2" >{{x.notes}}</textarea></td>
					<td> <button >Edit Now</button></td>
				</tr>
			{% else %}
				<tr>
					<td>{{x.SOV_description}}</td>
					{% if x.SOV_is_lump_sum == True %}
					<td>1</td>
					<td>Lump Sum</td>
					{% else %}
					<td>{{x.SOV_total_ordered}}</td>
					<td>{{x.SOV_unit}}</td>
					{% endif %}
					<td>{{x.SOV_rate}}</td>
					<td>{{x.notes}}</td>
					{% if edit_row %}
					<td></td>
					{% else %}
					<td> <button onclick="edit_row({{x.id}})">Edit Item</button></td>
					{% endif %}
				</tr>
			{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="new_item_here" name="new_item_here" /></div>
    <br>
 	<button type="button" onclick="new_lump_sum()">New Lump Sum Item</button>
    <button type="button" onclick="new_per_unit()">New Item - Per Unit</button>
	<br><br>
	<input type="submit" name="form2" value="Update PO with the Above Changes" />
</form>


</body>
</html>

{% endblock %}