{% extends 'base.html' %}
{% load static %}
{% block nav_item_subs %}active{% endblock nav_item_subs %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>DataTables example - HTML (DOM) sourced data</title>
        <style type="text/css" class="init">

.colored-header th { background-color: lightblue; padding: 5px; border: solid 1px #777;}

.dataTables_wrapper {
    font-family: tahoma;
    font-size: 13px;
}

        nav .active, .collapsible:hover {
          background-color: Salmon;
        }
        .nav-pills a {
            color: black;
        }
        .nav-pills li {
            padding: 2px;
        }
        .nav-pills .active {
            background-color: #6c757d !important;
            padding: 5px;
        }
        label {
            margin-left: 10px;
            margin-right: 10px;
        }
        input {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        tr th {
            width: fit-content !important;
        }
        .tab-content * {
          color : black;
          background-color: white !important;
        }
        .active * {
            background-color: white !important;
        }
                .list-items {
        border-bottom: 1px solid black; display: flex; justify-content: space-between;
        }
        .text-wrap{
    white-space:normal;
}
.width-200{
    width:200px;
}
.dataTables_filter {
   float: left !important;
}
.tb { border-collapse: collapse; width:300px; }

.tb th, .tb td { padding: 5px; border: solid 1px #777; }
.tb th { background-color: lightblue; }

.table td {
        }

    </style>

    <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">

    <script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
    <script type="text/javascript" class="init">
$(document).ready(function () {
    var table = $('#sub_table').DataTable({paging:false,searching:false,info:false});
})
$(document).ready(function () {
    var table = $('#detail_table').DataTable({paging:false,searching:false,info:false});
})

function notes_prompt(){
	var name=prompt("Add Note");
	if (name!=null){
		notes_form.invoice_notes.value = name;
		notes_form.submit()
		}
	else{
		return;
		}
}
function add_reject_note(){
	var name=prompt("Add Note");
	if (name!=null){
	reject_form.reject_notes.value = name;
		reject_form.submit()
		}
	else{
		return;
		}
}
function made_changes_note(){
	var name=prompt("Add Note");
	if (name!=null){
	changes_form.change_notes.value = name;
		changes_form.submit()
		}
	else{
		return;
		}
}
function check_other_approver(){
if (other_approval_form.other_approver.value=="please_select"){
alert("Please select another approver")
return false;
}
}
	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Subcontractors</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'subcontractor_home' %}">Subcontractor Home</a></li>
		 <li><a class="nav-item nav-link" href="{% url 'subcontracts_home' %}">Current Contracts</a></li>
        <li><a class="nav-item nav-link" href="{% url 'subcontractor_new' %}">Add New Company</a></li>
         <li><a class="nav-item nav-link" href="{% url 'subcontracts_new' %}">Add New Contract</a></li>
		<li><a class="nav-item nav-link active" href="#">View Invoice</a></li>
    </ul>
  </div>
</nav>
	{% if other_approve %}
	<h4>Approving for {{other_approve.employee}}</h4>

{% elif other_approvers %}
	<form id="other_approval_form" name="other_approval_form" action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post" onSubmit ="return check_other_approver()" >
		{% csrf_token %}
		<select id="other_approver" name="other_approver" >
		<option value="please_select">Please Select</option>
		{% for x in other_approvers %}
		<option value={{x.id}}>{{x.employee}}</option>
		{% endfor %}
		</select>
		<input type="submit" class="btn btn-danger btn-sm" value="Approve for this person" />
	</form>
	<br>
{% endif %}
{% if selected_invoice %}
	<h3>INVOICE BREAKDOWN</h3>
	<b>Invoice #</b>{{selected_invoice.pay_app_number}}
	<br>
	{% if subcontract.po_number %}
	<b>PO# </b> <a href = "{% url 'subcontract' subcontract.id %}">{{subcontract.po_number}}</a>
	{% else %}
	<b>PO# </b><a href = "{% url 'subcontract' subcontract.id %}">TBD</a>
	{% endif %}
	<br>
	<b>Vendor: </b>{{subcontract.subcontractor}}
	<br>
	<b>Job: </b> <a href = "{% url 'job_page' subcontract.job_number.job_number %}">{{subcontract.job_number}}</a>
	<br><hr>

	{% if notes %}
	{% for note in notes %}
	<b>{{note.date}}</b> - {{note.user}} - {{note.note}}
	<br>
	{% endfor %}
	{% endif %}
		<form id="notes_form" action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post"  >
		{% csrf_token %}

<!--		<label for="invoice_notes">Enter new note: </label><br>-->
		<input type="hidden" id="invoice_notes" name="invoice_notes" />
<!--			<textarea id="invoice_notes" name="invoice_notes" rows="1" cols="100" /></textarea>-->

<button type="button" onclick="notes_prompt()" class="btn btn-warning btn-sm" >Add Note</button>
<!--		<input type="submit" name="form99" class="btn btn-warning btn-sm" value="Add Note" />-->
	</form>


{% else %}
	<h3>INVOICING SUMMARY</h3>
	{% if subcontract.po_number %}
	<b>PO# </b> <a href = "{% url 'subcontract' subcontract.id %}">{{subcontract.po_number}}</a>
	{% else %}
	<b>PO# </b><a href = "{% url 'subcontract' subcontract.id %}">TBD</a>
	{% endif %}
	<br>
	<b>Vendor: </b>{{subcontract.subcontractor}}
	<br>
	<b>Job: </b> <a href = "{% url 'job_page' subcontract.job_number.job_number %}">{{subcontract.job_number}}</a>
	<br><hr>
<form action="{% url 'subcontractor_invoice_new' subcontract.id %}" method="post"  >
{% csrf_token %}
<input type="submit" name="Form3" class="btn btn-success btn-sm" value="NEW INVOICE" />
</form>
{% endif %}
<br>

<div class="demo-html" style="width:90%">
		<table id="sub_table" class="display" style="width:90%">
			<thead>
			<tr>
				<th>Date</th>
				<th>Invoice #</th>
				<th>Amount</th>
				<th>Retainage</th>
				<th>Status</th>
			</tr>
			</thead>
			<tbody>
			{% if invoices %}
			{% for x in invoices %}
			<tr>
			<td>{{x.date}}</td>
			<td><a href = "{% url 'subcontract_invoices' subcontract.id x.id %}">{{x.pay_app_number}}</a></td>
			<td>{{x.final_amount}}</td>
			<td>{{x.retainage}}</td>
			{% if x.is_sent == True %}
				<td>Approved</td>
			{% else %}
				<td>Pending</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
</div>

{% if selected_invoice %}
{% if me_approve or other_approve %}
	<div id="container">
 <form id="reject_form" action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post" onSubmit ="return check_booking_data()">
{% csrf_token %}
	 {% if other_approve %}
	  <input type="hidden" id="other_approver_id" name="is_other_approver_id" value="{{other_approve.id}}" />
	 {% endif %}
<input type="submit" name="approved" class="btn btn-success btn-sm" value="APPROVE INVOICE # {{selected_invoice.pay_app_number}} NOW" />
	 <button type="button" name="reject" class="btn btn-danger btn-sm" onclick="add_reject_note()" >REJECT </button>
	 <input type="hidden" id="reject_notes" name="reject_notes" />
 </form>
	</div>
<br>
<hr>
<h3>OR</h3>
<br>
<hr>
<h3>Make Changes</h3>


 <form id="changes_form" action="{% url 'subcontract_invoices' subcontract.id selected_invoice.id %}" method="post"  >
{% csrf_token %}
	 	 {% if other_approve %}
	  <input type="hidden" id="other_approver_id" name="is_other_approver_id" value="{{other_approve}}" />
	 {% endif %}
<input type="hidden" id="change_notes" name="change_notes" >
<div class="table-responsive">
		<table id="detail_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Description</th>
					<th>Ordered Qnty</th>
					<th>Ordered $</th>
					<th>Billed Qnty</th>
					<th>Billed $</th>
					<th>Current Qnty</th>
					<th>Current $</th>
					<th>Total Percentage</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				{% if items %}
				{% for item in items %}
				<tr>
					<td>{{item.SOV_description}}</td>
					{% if item.SOV_is_lump_sum == True %}
						<td><div id="quantity_ordered{{item.id}}" >1 Lump Sum</div></td>
						<td><input type="hidden" id="total_cost{{item.id}}" value="{{item.total_cost}}" />${{item.total_cost}}</td>
						<td><input type="hidden" id="quantity_billed{{item.id}}" value="{{item.total_cost}}" />{{item.quantity_billed}}</td>
						<td><input type="hidden" id="previous{{item.id}}" value="{{item.total_billed}}" />${{item.total_billed}}</td>

							{% if item.invoiced == True %}
								{% for x in invoice_items %}
									{% if x.sov_item.id == item.id %}
										<td><div id="current_total{{item.id}}" >{{item.special}}%</div></td>
										<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" value={{x.quantity|floatformat}} size="5" step="1" onchange="update_percentage(event)" /></td>
										<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
										<td><input type="text"  name="note{{item.id}}" size="40" value="{{x.notes}}"/></td>
									{% endif %}
								{% endfor %}
							{% else %}
								<td><div id="current_total{{item.id}}" >{{item.special}}</div></td>
								<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" placeholder={{item.remainingcost|floatformat}} size="5" step="1" onchange="update_percentage(event)" /></td>
								<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
								<td><input type="text"  name="note{{item.id}}" size="40" /></td>
							{% endif %}
					{% else %}
						<td><input type="hidden" id="quantity_ordered{{item.id}}" value="{{item.SOV_total_ordered}}" />{{item.SOV_total_ordered}} {{item.SOV_unit}}</td>
						<td><input type="hidden" id="total_cost{{item.id}}" value="{{item.total_cost}}" />${{item.total_cost}}</td>
						<td><input type="hidden" id="quantity_billed{{item.id}}" value="{{item.quantity_billed}}" />{{item.quantity_billed}} {{item.SOV_unit}}</td>
						<td><input type="hidden" id="previous{{item.id}}" value="{{item.total_billed}}" />${{item.total_billed}}</td>
							{% if item.invoiced == True %}
								{% for x in invoice_items %}
									{% if x.sov_item.id == item.id %}
										<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" value={{x.quantity|floatformat}} size="5" step="1" onchange="update_percentage(event)" /></td>
										<td><div id="current_total{{item.id}}" >${{item.special}}</div></td>
										<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
										<td><input type="text"  name="note{{item.id}}" size="40" value="{{x.notes}}"/></td>
									{% endif %}
								{% endfor %}
							{% else %}
								<td><input type= "number" name="quantity{{item.id}}" id="{{item.id}}" placeholder={{item.remainingqnty|floatformat}} size="5" step="1" onchange="update_percentage(event)" /></td>
								<td><div id="current_total{{item.id}}" >${{item.special}}</div></td>
								<td><div id="percentage{{item.id}}" ></div>{{item.percentage}}%</td>
								<td><input type="text"  name="note{{item.id}}" size="40" /></td>
							{% endif %}

					{% endif %}
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
</div>
	 <button type="button" name="form6" class="btn btn-primary btn-sm" onclick="made_changes_note()" >APPROVED WITH THE ABOVE CHANGES</button>
    </form>

{% else %}

<br><hr>
<div class="demo-html" style="width:90%">
		<div class="container">
		<h4 class="text-center">Invoice Details</h4>
</div>
		<table id="detail_table" class="display" style="width:90%">
			<thead>
				<tr>
					<th>Description</th>
					<th>Billed</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>

				{% if invoice_items %}
				{% for x in invoice_items %}
				<tr>
					<td>{{x.sov_item.SOV_description}}</td>
					{% if x.sov_item.SOV_is_lump_sum == True %}
						<td>${{x.quantity}}</td>
					{% else %}
						<td>{{x.quantity}} {{x.sov_item.SOV_unit}}</td>
					{% endif %}
					<td>{{x.notes}}</td>
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
</div>
{% endif %}
{% endif %}
</body>
</html>

{% endblock %}
