{% extends 'base.html' %}
{% load static %}
{% block nav_item_rentals %}active{% endblock nav_item_rentals %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
  <link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">
function Previous() {
window.history.back()
}

window.onload = function() {
if ('{{rental.rep}}' == 'None'){
document.getElementById("rep_info").style.display = "none"
}
else {
document.getElementById("rep_info").style.display = "block"
document.getElementById("more_rep_info").innerHTML = '{{rental.rep.name}}'
};
}

        function clear_select_pm() {
                rental_change.select_pm.value = "add_new";
        }
function check_booking_data(){
            if (rental_change.select_pm.value == "add_new"){
                if (rental_change.new_pm.value ==""){
                alert('Please enter the new reps name')
                rental_change.new_pm.scrollIntoView();
                return false;
                }
            }
                	var name=prompt("Please make any notes about this:");
    	if (name!=null){
       		document.getElementById("rental_notes").value = name
   		}
}
function change_rep(){
if (rental_change.select_pm.value == "no_rep"){document.getElementById("rep_info").style.display = "none"}
else if (rental_change.select_pm.value == "add_new"){
document.getElementById("rep_info").style.display = "block"
document.getElementById("more_rep_info").innerHTML = "Enter New below:"
                    rental_change.new_pm_phone.value = ""
                    rental_change.new_pm_email.value = ""
                    rental_change.new_pm.value = ""
                    rental_change.new_pm_phone.placeholder = "Phone"
                    rental_change.new_pm_email.placeholder = "Email"
                    rental_change.new_pm.placeholder = "Name"
}
else {
document.getElementById("rep_info").style.display = "block"
document.getElementById("more_rep_info").innerHTML = "Rep Info:"
            $.ajax({
                method: 'GET',
                url: '/rentals/rental_ajax',
                data: {'rep_id':rental_change.select_pm.value},
                success: function (data) {
                    parsedData = JSON.parse(data);
                    rental_change.new_pm_phone.value = parsedData.phone
                    rental_change.new_pm_email.value = parsedData.email
                    rental_change.new_pm.value = parsedData.name
                }})
}
}
function off_rent_note_now(){
            var name=prompt("Please provide any notes");
            if (name!=null){
                call_off_rent.off_rent_note.value = name;
                }
              call_off_rent.submit()
}
	</script>
</head>
<body>
  <nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="#">Rentals</a>
    <div id="navbarNavDropdown2">
      <ul class="sub-nav-list navbar-nav ">
        <li><a class="nav-item nav-link" href="{% url 'rentals_home' %}">Home</a></li>
        <li><a class="nav-item nav-link" href="{% url 'rental_new' 'ALL' %}">New</a></li>
        <li><a class="nav-item nav-link active" href="#">{{rental.job_number}} {{rental.item}}</a></li>
    </ul>
  </div>
</nav>
  <div class ="container">
 <form  id="call_off_rent" action="{% url 'rental_page' rental.id 'NO' %}" method="post" >
{% csrf_token %}

     <input type="hidden" id="off_rent_note" name="off_rent_note" >
                <button type="button" class="btn btn-danger" onclick="off_rent_note_now()" value="Call Off Rent" />Request Off Rent</button>
     </form>
  </div>
 <form name = rental_change id=rental_change action="{% url 'rental_page' rental.id 'NO' %}" method="post"  onSubmit = "return check_booking_data()">
{% csrf_token %}
<div class ="container">
    <div class = "row">
        <div class ="col-sm-12">
<a href="{% url 'job_page' rental.job_number.job_number %}">Job: {{rental.job_number}}</a>
        </div>
    </div>
<br>
    <div class = "row">
        <div class ="col-sm-12">
Vendor: {{rental.company.company_name}}
        </div>
    </div>
    <div class = "row">
{% if rental.company.company_phone %}
        <input  type= "text" id="company_phone" name="company_phone" class="form-control" value = "{{rental.company.company_phone}}" size="30" />
        {% else %}
        <input  type= "text" id="company_phone" name="company_phone" class="form-control" placeholder = "Phone" size="30" />
        {% endif %}
    </div>
        <div class = "row">
        {% if rental.company.company_email %}
        <input  type= "text" id="company_email" name="company_email" class="form-control" value = "{{rental.company.company_email}}" size="30" />
        {% else %}
        <input  type= "text" id="company_email" name="company_email" class="form-control" placeholder = "Email" size="30" />
        {% endif %}
    </div>
            <br>
    <div class = "row">
        <div class ="col-sm-12">
<label>Please select rep</label>
<select class="form-control" id="select_pm" name="select_pm" onchange="change_rep()" >
    {% if rental.rep  %}
    <option value="{{rental.rep.id}}">{{rental.rep.name}}</option>
    {% endif %}
    <option value="no_rep">No Specific Rep</option>
    <option value="add_new">Add New</option>
    {% if reps %}
    {% for rep in reps %}
    <option value={{rep.id}}>{{rep.name}}</option>
    {% endfor %}
    {% endif %}
</select>
        </div>
    </div>
</div>



<div class="container">

    <div id="rep_info" class="content">
                <div class ="row" style="margin-top: 22px">
                    <div id="more_rep_info" class ="col-sm-12">Enter New below: </div>
                </div>
                <div class ="row" style="margin-top: 22px">
                    <div id="pm_name" class ="col-sm-12">
                        {% if rental.rep == None %}
                        <input  type= "text" id="new_pm" name="new_pm" class="form-control" placeholder="rep name" size="30" />
                    {% else %}
                        <input  type= "text" id="new_pm" name="new_pm" class="form-control" value="{{rental.rep.name}}" size="30" />
                        {% endif %}
                    </div>
                </div>

                <div class ="row">
                    <div class ="col-sm-12">
                        {% if rental.rep == None %}
                        <input style="margin-top: 22px" class="form-control" type= "tel" name="new_pm_phone" id="new_pm_phone" placeholder="phone Number" size="30"/>
                        {% else %}
                        <input style="margin-top: 22px" class="form-control" type= "tel" name="new_pm_phone" id="new_pm_phone" value="{{rental.rep.phone}}" size="30"/>
                        {% endif %}
                    </div>
                </div>
                <div class ="row">
                    <div class ="col-sm-12">
                        {% if rental.rep == None %}
                        <input style="margin-top: 22px" class="form-control" type= "email" name="new_pm_email" id="new_pm_email" placeholder="email" size="30"/>
                        {% else %}
                        <input style="margin-top: 22px" class="form-control" type= "email" name="new_pm_email" id="new_pm_email" value="{{rental.rep.email}}" size="30"/>
                        {% endif %}
                    </div>
                </div>
            </div>
</div>
<br>
<div class ="container">
    <div class = "row">
        <div class ="col-sm-12">
Item: {{rental.item}}
        </div>
    </div>
<br>
    <div class = "row">
        <div class ="col-sm-12">
{% if rental.purchase_order == None %}
Purchase Order: <input type= "text" name="purchase_order" id="purchase_order" placeholder="Purchase Order #" size="30" />
{% else %}
 <input type="hidden" name="purchase_order" value = ''/>
Purchase Order: {{rental.purchase_order}}
 {% endif %}
        </div>
    </div>
            <br>
    <div class = "row">
        <div class ="col-sm-12">
 {% if rental.day_price == None %}
                          <label for="day_price">Daily Price: $</label>
                            <input type="text" name="day_price"  maxlength="250" id="day_price">
 {% else %}
  <input type="hidden" name="day_price" value = ''/>
 Price Per Day: ${{rental.day_price}}
  {% endif %}
        </div>
    </div>
            <br>
    <div class = "row">
        <div class ="col-sm-12">
 {% if rental.week_price == None %}
                         <label for="week_price">Weekly Price: $</label>
                            <input type="text" name="week_price"  maxlength="250" id="week_price">
  {% else %}
  <input type="hidden" name="week_price" value = ''/>
Price Per Week: ${{rental.week_price}}
  {% endif %}
        </div>
    </div>
            <br>
    <div class = "row">
        <div class ="col-sm-12">
 {% if rental.month_price == None %}
                         <label for="month_price">Monthly Price: $</label>
                            <input type="text" name="month_price"  maxlength="250" id="month_price">
  {% else %}
  <input type="hidden" name="month_price" value = ''/>
Price Per Month: ${{rental.month_price}}
  {% endif %}
        </div>
    </div>
<br>
    <div class = "row">
        <div class ="col-sm-12">
On Rent Date: {{rental.on_rent_date}}
        </div>
    </div>
<br>
    <div class = "row">
        <div class ="col-sm-12">
 {% if rental.off_rent_date == None %}
	                     <label for="off_rent_date">Off Rent Date:</label>
                    <input type="date" id="off_rent_date" name="off_rent_date">
	 {% else %}
  <input type="hidden" name="off_rent_date" value = ''/>
Off Rent Date: {{rental.off_rent_date}}
	  {% endif %}
        </div>
    </div>
            <br>
    <div class = "row">
        <div class ="col-sm-12">
  {% if rental.off_rent_number == None %}
Off Rent Number: <input type= "text" name="off_rent_number" id="off_rent_number" placeholder="Off Rent Number" size="30" />
	 {% else %}
  <input type="hidden" name="off_rent_number" value = ''/>
Off Rent Number: {{rental.off_rent_number}}
	  {% endif %}
        </div>
    </div>
            <br>
    <div class = "row">
        <div class ="col-sm-12">
  {% if rental.is_closed == False %}
<input type="checkbox" name ="is_closed" id="is_closed"  /> <label for="is_closed"> Billed </label>
	 {% else %}
<input type="checkbox" name ="is_closed" id="is_closed" checked /> <label for="is_closed"> Billed </label>
	  {% endif %}
        </div>
    </div>
	 <br>
<input type="hidden" id="rental_notes" name = "rental_notes" value="" />
	 <input type="submit" name="form_1" class="btn-primary" value="Update Information" />
    </form>
 <br>
<hr>
  <h4>NOTES</h4>
   <form name = rental_change2 action="{% url 'rental_page' rental.id 'NO' %}" method="post" >
        	{% csrf_token %}
    <div class = "row">
        <div class ="col-sm-12">
			<label for="rental_note"> Make a note:  </label> <br>
			<textarea id="rental_note" name="rental_note" rows="1" cols="100" required ></textarea>
			<br>
			<input type="submit" class="btn-warning" value="Add Note" />
			</form>
			</div>
	</div>
      <div class = "row">
        <div class ="col-sm-12">
  	{% if notes %}


{% for note in notes %}
<h7>[{{note.date}}- {{note.user}}] {{note.note}}</h7>
<br>
{% endfor %}
{% endif %}
        </div>
      </div>
  <hr>
  <br>
    <div class = "row">
        <div class ="col-sm-12">
              <h4>DOCUMENTS & PICTURES</h4>
				<font color = "red" >Upload Documents (Pictures, Etc.) For This Rental</font>
				<form name = add_file action="{% url 'rental_page' rental.id 'NO' %}" method="post" enctype="multipart/form-data">
        			{% csrf_token %}
					Attachment: <input type= "file" name="upload_file" id="upload_file" />
					<input type="submit" class="btn-info" value="Upload File" />
				</form>
			</div>
		</div>
		<div class ="row">
			<div class ="col-sm-12">
				<font color = "red" >Here are the documents that have been uploaded for this rental</font>
				<br>
			{% for x in foldercontents %}
				<a style="color: blue; cursor: pointer;" name="get_directory_contents" href="{% url 'get_directory_contents' rental.id x 'rentals' %}" target="_blank">{{x}}</a>
				<br>
			{% endfor %}
			</div>
		</div>
			</form>



<hr>
  <br><br>
{%if reverse == 'YES' %}
  <button onclick="Previous()">Back to Previous Page</button>
{% endif %}
</div>
                <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body>
</html>

{% endblock %}
