{% extends 'base.html' %}
{% load static %}
{% block nav_item_jobs %}active{% endblock nav_item_jobs %}


{% block extra_head %}
	<style type="text/css" class="init">

	</style>
<link rel="stylesheet" href="{% static 'project_styles.css' %}">
    {% endblock %}

{% block sub_nav %}
{% include 'jobs_nav.html' with page_label="Change Superintendent" %}
{% endblock %}

{% block content %}


 <form name = booking_input action="{% url 'change_gpsuper' jobs.job_number previous_page %}" method="post">
	{% csrf_token %}
	             <div class ="container">
                    <div class ="row" style="height: 100px">
                        <div class ="col-sm-6">
                                <label>Please select Superintendent</label>
                            <select class="form-control" id="select_gpsuper" name="select_gpsuper"  >
                                <option value="please_select">"Please Select"</option>
                                {% if employees %}
                                {% for employee in employees %}
                                    <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
					 <div class ="row" style="height: 100px"> <div class ="col-sm-6"><input type="submit" value="Save" /></div></div>
				 </div>


    </form>


{% endblock %}
