{% extends 'base.html' %}
{% load static %}
{% block nav_item_jobs %}active{% endblock nav_item_jobs %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Trinity GP</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


	</script>
</head>
<body>
	<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
		<div id="navbarNavDropdown2">
		  <ul class="sub-nav-list navbar-nav ">
		<li><a class="nav-item nav-link" href="{% url 'jobs_home' %}">Home</a></li>
        <li><a class="nav-item nav-link active" href="#">Start Date for {{jobs.job_name}}</a></li>
    </ul>
  </div>
</nav>
 <form name = booking_input action="{% url 'change_start_date' jobs.job_number previous_page selected_super selected_filter %}" method="post">
{% csrf_token %}
	                     <label for="start_date">Start date:</label>
                    <input type="date" id="start_date" name="start_date" value="{{formatdate}}">
<input type="hidden" id="previous_page" name="previous_page" value = {{previous_page}}/>
<br>
{% if jobs.is_active == True %}
	 <input type="checkbox" name ="is_active" id="is_active" checked /> <label for="is_active">Remove this job from Upcoming Jobs List </label>
{% else %}
	 	 <input type="checkbox" name ="is_active" id="is_active" /> <label for="is_active">Remove this job from Upcoming Jobs List</label>
{% endif %}
	 <br>
	         <label for="date_note">Explain This Change: </label> <br>
        <textarea id="date_note" name="date_note" rows="4" cols="100" ></textarea>
<br>

	 <input type="submit" value="Update Now" />
	 <br>
	 <input type="submit" name="follow_up" value="Follow Up in 30 Days" />
    </form>

  <button onclick="Previous()">Back to Previous Page</button>
<br><hr>
<div class="demo-html" style="width:90%">
		<table id="notes_table" class="display table" style="width:90%">
			<thead>
				<tr>
					<th scope="col">By</th>
					<th scope="col">Date</th>
					<th scope="col">Note</th>
				</tr>
			</thead>
			<tbody>
			{% if notes %}
			{% for x in notes %}
			<tr><td>{{x.user}}</td><td>{{x.date}}</td><td>{{x.note}}</td></tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
</div>



</body>
</html>

{% endblock %}
