{% extends 'base.html' %}
{% load static %}
{% block nav_item_jobs %}active{% endblock nav_item_jobs %}
{% block content %}
<!-- Include all compiled plugins (below), or include individual files as needed-->


<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
  <link rel="stylesheet" href="{% static 'project_styles.css' %}">
	<script type="text/javascript" src="/media/js/site.js?_=1d5abd169416a09a2b389885211721dd" data-domain="datatables.net" data-api="https://plausible.sprymedia.co.uk/api/event"></script>
	<script src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Fevents_live.html" async></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


function changed_client() {

    if (booking_input.select_company.value == "please_select") {
        document.getElementById("client_info").style.display = "none"
        return;
    }
else if (booking_input.select_company.value == "add_new") {
        document.getElementById("client_info").style.display = "block"
        document.getElementById("client_title").innerHTML = "New Client Info"
        booking_input.new_client.value = '{{new_client}}'
        booking_input.new_client_phone.value = '{{new_pm_phone}}'
        booking_input.new_client_bid_email.value = '{{new_pm_email}}'
        return;
    }
    else {

        document.getElementById("client_info").style.display = "block"
        document.getElementById("client_title").innerHTML = "Client Info"
        booking_input.new_pm.value =""
        booking_input.new_super.value =""
        booking_input.new_pm_phone.value =""
        booking_input.new_super_phone.value =""
        booking_input.new_pm_email.value =""
        booking_input.new_super_email.value =""
        $.ajax({
        method: 'GET',
        url: '/rentals/rental_ajax',
        data: {'client_id':booking_input.select_company.value},
        success: function (data) {
            parsedData = JSON.parse(data);
            booking_input.new_client_phone.value = parsedData.phone
            booking_input.new_client_bid_email.value = parsedData.email
            booking_input.new_client.value = parsedData.name
        }})
        let selectedcompany = booking_input.select_company.value
        let rolodex = JSON.parse("{{data|escapejs}}");
        //console.log(selectedcompany)
        //alert()
        for(let i = booking_input.select_pm.options.length; i >= 0; i--) {
            booking_input.select_pm.remove(i);
        }
        for(let i = booking_input.select_super.options.length; i >= 0; i--) {
            booking_input.select_super.remove(i);
        }
        booking_input.select_pm.options[0] = new Option("Please Select","please_select");
        booking_input.select_super.options[0] = new Option("not sure","not_sure");
        booking_input.select_pm.options[1] = new Option("Add New","add_new");
        booking_input.select_super.options[1] = new Option("Add New","add_new");
        let b=2
        for(let i =0; i < rolodex.length; i++){
            if (rolodex[i].id == selectedcompany){
                booking_input.select_pm.options[b] = new Option(rolodex[i].name,rolodex[i].person_pk);
                booking_input.select_super.options[b] = new Option(rolodex[i].name,rolodex[i].person_pk);
                b=b+1
            }
        }
        document.getElementById("pm_info").style.display = "none"
        document.getElementById("super_info").style.display = "none"
    }
 }


window.onload = function() {
if ('{{client}}'){
        document.getElementById("client_info").style.display = "block"
        document.getElementById("client_title").innerHTML = "Client Info"
}
if ('{{pm}}'){
        document.getElementById("pm_info").style.display = "block"
        document.getElementById("pm_title").innerHTML = "PM Info"
}
if ('{{super}}'){
        document.getElementById("super_info").style.display = "block"
        document.getElementById("super_title").innerHTML = "Super Info"
}
};

        function check_booking_data() {
            if (booking_input.select_gpestimator.value == "please_select"){
                booking_input.select_gpestimator.scrollIntoView();
                alert("please select the Gerloff Painting Estimator")
                return false;
            }
            if (booking_input.select_company.value == "please_select"){
                booking_input.select_company.scrollIntoView();
                alert("please select the client name")
                return false;
            }

            if (booking_input.select_company.value == "add_new"){
                if (booking_input.new_client.value == ""){
                    booking_input.new_client.scrollIntoView();
                    alert("please type the new client name")
                    return false;
                }
                if (booking_input.select_pm.value == "please_select"){
                    booking_input.select_pm.scrollIntoView();
                    alert("For a new company, you have to enter a PM for that company")
                    return false;
                }
            }
            if (booking_input.select_pm.value == "please_select"){
                    booking_input.select_pm.scrollIntoView();
                    alert("Please select PM")
                    return false;
                }
            if (booking_input.select_super.value == "please_select"){
                    booking_input.select_super.scrollIntoView();
                    alert("Please select client superintendent")
                    return false;
                }
            if (booking_input.select_pm.value == "add_new"){
                if (booking_input.new_pm.value == ""){
                    booking_input.select_pm.scrollIntoView();
                    alert("enter pm name")
                    return false;
                }
            }
            if (booking_input.select_super.value == "add_new"){
                if (booking_input.new_super.value == ""){
                    booking_input.new_super.scrollIntoView();
                    alert("enter super name")
                    return false;
                }
            }
        }
function changed_pm(){

    if (booking_input.select_pm.value == "please_select") {
        document.getElementById("pm_info").style.display = "none"
        return;
    }
    else if (booking_input.select_pm.value == "add_new") {
        document.getElementById("pm_info").style.display = "block"
        document.getElementById("pm_title").innerHTML = "New PM Info"
        booking_input.new_pm.value = '{{new_pm_name}}'
        booking_input.new_pm_phone.value = '{{new_pm_phone}}'
        booking_input.new_pm_email.value = '{{new_pm_email}}'
        return;
    }
    else {
        document.getElementById("pm_info").style.display = "block"
        document.getElementById("pm_title").innerHTML = "PM Info"
        $.ajax({
        method: 'GET',
        url: '/rentals/rental_ajax',
        data: {'client_pm_id':booking_input.select_pm.value},
        success: function (data) {
            parsedData = JSON.parse(data);
            booking_input.new_pm_phone.value = parsedData.phone
            booking_input.new_pm_email.value = parsedData.email
            booking_input.new_pm.value = parsedData.name
        }})
    }
}
function changed_super(){
    if (booking_input.select_super.value == "not_sure") {
        document.getElementById("super_info").style.display = "none"
        return;
    }
   else if (booking_input.select_super.value == "please_select") {
        document.getElementById("super_info").style.display = "none"
        return;
    }
    else if (booking_input.select_super.value == "add_new") {
        document.getElementById("super_info").style.display = "block"
        document.getElementById("super_title").innerHTML = "New Super Info"
        booking_input.new_super.value = '{{new_super_name}}'
        booking_input.new_super_phone.value = '{{new_super_phone}}'
        booking_input.new_super_email.value = '{{new_super_email}}'
        return;
    }
    else {
        document.getElementById("super_info").style.display = "block"
        document.getElementById("super_title").innerHTML = "Super Info"
        $.ajax({
        method: 'GET',
        url: '/rentals/rental_ajax',
        data: {'client_pm_id':booking_input.select_super.value},
        success: function (data) {
            parsedData = JSON.parse(data);
            booking_input.new_super_phone.value = parsedData.phone
            booking_input.new_super_email.value = parsedData.email
            booking_input.new_super.value = parsedData.name
        }})
    }
}


function clicked_duplicate(){
    if(booking_input.duplicate.checked){
     booking_input.new_super.value = booking_input.new_pm.value
     booking_input.new_super_phone.value =booking_input.new_pm_phone.value
     booking_input.new_super_email.value=booking_input.new_pm_email.value
        b=booking_input.select_pm.options.length
        booking_input.select_super.options[b] = new Option("Same as PM",'duplicate');
        booking_input.select_super.value='duplicate'
    }
    else{
            booking_input.new_super.value =""
            booking_input.new_super_phone.value =""
            booking_input.new_super_email.value =""
            }

}


    </script>

</head>

  <body>
    <div>
    <nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
        <a style="padding-left: 14px;" class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
        <div id="navbarNavDropdown2">
          <ul class="sub-nav-list navbar-nav ">
              <li><a class="nav-item nav-link" href="{% url 'job_page' 'ALL' %}">Home</a></li>
              <li><a class="nav-item nav-link" href="{% url 'super_home' 'AUTO' %}">Superintendent View</a></li>
              <li><a class="nav-item nav-link active" href="#">Uploading Job Info</a></li>
          </ul>
        </div>
      </nav>
<!--<div style="padding-top: 50px" class="row align-items-center justify-content-center align-middle">-->
<!--	#Job Name-->
    <div class="container">
    <div class="col-10">
            <form name = booking_input action="{% url 'upload_new_job' %}" method="post" class="form-group" onSubmit = "return check_booking_data()">
                {% csrf_token %}
                <div class ="row">
                    <div class="col-sm-12">
                        <h3>{{job_name}} - {{job_number}}</h3>
                    </div>
                </div>
        </div>
    </div>
<!--#Select Client Drop Down-->
        <div class ="container" style="background-color:red;"> <!#pick client>
                    <div class ="row" style="height: 50px">
                        <div class ="col-sm-12">

                                <label>{% if client %} Selected Company was {{client}} {% else %} Couldn't Find Company: {{new_client}} {% endif %}</label>
                            <select class="form-control" id="select_company" name="select_company" onChange="changed_client()" >
                                {% if client %}<option value="{{client.id}}">{{client}}</option>{% else %} <option value="please_select">Please Select</option>{% endif %}
                                <option value="add_new">Add New</option>
                                {% if all_clients %}
                                {% for client in all_clients %}
                                    <option value="{{client.id}}">{{client.company}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

<br><br>
<!--#Client Email and Phone-->

        <div id="client_info" class="content">
                    <div class ="row" style="margin-top: 40px">
                        {% if client %}
                        <div class ="col-sm-12" id="client_title"> Client Info: </div>
                        {% else %}
                        <div class ="col-sm-12" id="client_title"> New Client Info: </div>
                        {% endif %}
                    </div>
                    <div class ="row" style="margin-top: 22px" >
                        <div class ="col-sm-12">  
                            {% if client %}
                            <input class="form-control" type= "text" name="new_client" value = '{{client.company}}' size="30" />
                            {% else %}
                            <input class="form-control" type= "text" name="new_client" placeholder="Company Name" size="30" />
                            {% endif %}
                        </div>
                    </div>
                    <div class ="row" style="margin-top: 22px" >
                        <div class ="col-sm-12">
                            {% if client and client.phone != "" %}
                            <input class="form-control" type= "tel" name="new_client_phone" value = '{{client.phone}}' size="30"/>
                       {% else %}
                            <input class="form-control" type= "tel" name="new_client_phone" placeholder="Phone" size="30"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class ="row" style="margin-top: 22px" >
                        <div class ="col-sm-12">
                            {% if client and client.bid_email != "" %}
                            <input class="form-control" type= "email" name="new_client_bid_email" value = '{{client.bid_email}}' size="30"/>
                                              {% else %}
                            <input class="form-control" type= "email" name="new_client_bid_email" placeholder='Email' size="30"/>
                            {% endif %}
                        </div>
                    </div>
    </div>
</div> <!pick client>
        <br><br>
<!--#Select PM Drop Down-->
    <div class ="container" style="background-color:grey;">
                    <div class = "row">
                        <div class ="col-sm-12">
                            <label for="select_pm">{% if pm %} Selected GC PM was {{pm}} {% else %} Couldn't Find GC PM: {{new_pm_name}} {% endif %}</label>
                            <select class="form-control" id="select_pm" name="select_pm" onchange="changed_pm()">
                                {% if pm %} <option value="{{pm.person_pk}}">{{pm}}</option>{% else %} <option value="please_select">Please Select</option>{% endif %}
                                <option value="add_new">Add New</option>
                                {% if pms_filter %}
                                {% for client in pms_filter %}
                                    <option value="{{client.person_pk}}">{{client.name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

	<br>
<!--#PM Email and Phone-->

        <div id="pm_info" class="content">
                    <div class ="row" style="margin-top: 22px">
                        {% if pm %}
                        <div id="pm_title" class ="col-sm-12">PM Info: </div>
                        {% else %}
                        <div id="pm_title" class ="col-sm-12">New Below: </div>
                        {% endif %}
                    </div>
                    <div class ="row" style="margin-top: 22px">
                        <div class ="col-sm-12">
                            {% if pm %}
                            <input  type= "text" name="new_pm" id="new_pm" class="form-control" value="{{pm.name}}" size="30" />
                        {% else %}
                            <input  type= "text" name="new_pm" id="new_pm" class="form-control" placeholder="Name" size="30" />
                            {% endif %}
                        </div>
                    </div>

                    <div class ="row">
                        <div class ="col-sm-12">
                            {% if pm and pm.phone != "" %}
                            <input style="margin-top: 22px" class="form-control" type= "tel" name="new_pm_phone" id="new_pm_phone" value="{{pm.phone}}" size="30"/>
                                                {% else %}
                            <input  type= "text" name="new_pm_phone" id="new_pm_phone" class="form-control" placeholder="Phone" size="30" />
                            {% endif %}
                        </div>
                    </div>
                    <div class ="row">
                        <div class ="col-sm-12">
                            {% if pm and pm.email != "" %}
                            <input style="margin-top: 22px" class="form-control" type= "email" name="new_pm_email" id="new_pm_email" value="{{pm.email}}" size="30"/>
                                                                        {% else %}
                            <input  type= "text" name="new_pm_email" id="new_pm_email" class="form-control" placeholder="Email" size="30" />
                            {% endif %}
                        </div>
                    </div>
    </div>
    </div>
<br>
<!--    #Super Drop Down-->
    <div class = "container" style="background-color:yellow;">
                    <div class = "row">
                        <div class ="col-sm-12">

                            <label for="select_pm">{% if super %} Selected GC Super was {{super}} {% elif new_super_name != None %} Couldn't Find GC Superintendent: {{new_super_name}} {% else %} Do Not Know GC Super Yet! {% endif %}</label>
                            <select class="form-control" id="select_super" name="select_super" onchange="changed_super()">
                                {% if super %} <option value="{{super.person_pk}}">{{super}}</option>{% elif new_super_name != None %} <option value="please_select">Please Select</option>{% endif %}
                                <option value="not_sure">Don't Know Yet</option>
                                <option value="add_new">Add New</option>
                                {% if pms_filter %}
                                {% for client in pms_filter %}
                                    <option value="{{client.person_pk}}">{{client.name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

<!--#Super Email and Phone-->

	<div id="super_info" class="content">
                    <div class ="row" style="margin-top: 22px">
                        {% if super %}
                        <div id="super_title" class ="col-sm-6">Super Info: </div>
                        {% else %}
                        <div id="super_title" class ="col-sm-6">Enter New below: </div>
                        {% endif %}
                    </div>
                       <div class ="row" style="margin-top: 22px">
                        <div class ="col-sm-12">
                            <label for="duplicate">Click Here if Same Person as PM Above </label>
                              <input type="checkbox" name ="duplicate" id="duplicate"  onClick="clicked_duplicate()" />
                        </div>
                    </div>
                    <div class ="row" style="margin-top: 22px">
                        <div class ="col-sm-12">
                            {% if super %}
                            <input type= "text" name="new_super" id="new_super" class="form-control" value="{{super.name}}" size="30" />
                                             {% else %}
                            <input type= "text" name="new_super" id="new_super" class="form-control" placeholder="Name" size="30" />
                        {% endif %}
                        </div>

                    </div>
                    <div class ="row">
                        <div class ="col-sm-12">
                            {% if super and super.phone != "" %}
                            <input style="margin-top: 22px" class="form-control" type= "tel" name="new_super_phone" id="new_super_phone" value="{{super.phone}}" size="30"/>
                                            {% else %}
                            <input style="margin-top: 22px" class="form-control" type= "tel" name="new_super_phone" id="new_super_phone" placeholder="Phone" size="30"/>
                        {% endif %}
                        </div>
                    </div>
                    <div class ="row">
                        <div class ="col-sm-12">
                            {% if super and super.email != "" %}
                            <input style="margin-top: 22px" class="form-control" type= "email" name="new_super_email" id="new_super_email" value="{{super.email}}" size="30"/>
                                            {% else %}
                            <input style="margin-top: 22px" class="form-control" type= "email" name="new_super_email" id="new_super_email" placeholder="Email" size="30"/>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                <br>
<!--#GP Estimator-->
                <div class ="container">
                    <label for="select_gpestimator">{% if estimator %} Selected GP Estimator was {{estimator}} {% else %} Couldn't Find GP Estimator {{estimator_name}} {% endif %}</label>
                    <select class="form-control" id="select_gpestimator" name="select_gpestimator" >
                        {% if estimator %} <option value="{{estimator.id}}">{{estimator}}</option>{% else %} <option value="please_select">Please Select</option>{% endif %}
                        {% if all_employees %}
                        {% for employee in all_employees %}
                        <option value={{employee.id}}>{{employee.first_name}} {{employee.last_name}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>


                </div>
    <br>
                <div class ="container">
                    <input type="submit" class="btn btn-primary btn-sm" name="book_job" value="Book Job Now" />
                </div>
            </form>
<!--</div>-->


<script src=”https://code.jquery.com/jquery-3.2.1.slim.min.js” integrity=”sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN” crossorigin=”anonymous”></script>

<script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js integrity=”sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q” crossorigin=”anonymous”></script>

<script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js” integrity=”sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl” crossorigin=”anonymous”></script>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
  </div>
</body>

</div>
{% endblock %}

