{% extends 'base.html' %}
{% load static %}
{% block nav_item_jobs %}active{% endblock nav_item_jobs %}
{% block content %}
{% load render_table from django_tables2 %}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>DataTables example - HTML (DOM) sourced data</title>
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=8f7cff5ee7757412879aedf3efbfaee01">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" class="init">
        $(document).ready(function () {
                        initial_search = document.getElementById("id_search2")
                        if(initial_search.options[initial_search.selectedIndex].text == "Open Jobs"){initial_search.value = 0}
                        var table = $('#tickets_table').DataTable({
                            columnDefs: [
                            {
                                    targets:0,
                                    render: function ( data, type, row, meta ) {
                                        if(type === 'display'){
                                            data = data;}
                                        return data;}}] });
                    });
                    $(document).ready(function () {
                        var table = $('#tickets_table1').DataTable({
                            columnDefs: [{
                                    targets:0,
                                    render: function ( data, type, row, meta ) {
                                        if(type === 'display'){
                                            data = '<a href="job_page/' + data + '">' + data + '</a>'; }
                                        return data;}}] });
                    });
                    $(document).ready(function () {
                        var table = $('#tickets_table2').DataTable({
                            columnDefs: [{
                                    targets:0,
                                    render: function ( data, type, row, meta ) {
                                        if(type === 'display'){
                                            data = '<a href="job_page/' + data + '">' + data + '</a>'; }
                                        return data;}}] });
                    });
                    $(document).ready(function () {

                        var table = $('#tickets_table3').DataTable({
                            columnDefs: [{
                                    targets:0,
                                    render: function ( data, type, row, meta ) {
                                        if(type === 'display'){
                                            data = '<a href="job_page/' + data + '">' + data + '</a>'; }
                                        return data;}}] });
                    });

window.onload = function() {
document.getElementById("show_new_pm").style.display = "none";
document.getElementById("show_new_super").style.display = "none";
};

function before_postpm(){
pmselect = pmform.select_pm.value
newpm = pmform.new_pm.value
if (pmselect == 'add_new'){
   if(newpm == ""){
     alert("You must type the new PM's name at least")
     return false
   }
}
if (pmselect == 'please_select'){
    alert("You must select a PM")
    return false
}}
function before_postsuper(){
superselect = modalform.select_super.value
newsuper = modalform.new_super.value
if (superselect == 'add_new'){
   if(newsuper == ""){
     alert("You must type the new Super's name at least")
     return false
   }
}
}


function new_pm1(){
existingPM= "{{job.client_Pm.person_pk}}"
newPM = pmform.select_pm.value
    if (newPM == "add_new"){
        document.getElementById("show_new_pm").style.display = "block";
        document.getElementById("show_existing_pm").style.display = "none";
}
else if (existingPM != newPM){
     document.getElementById("show_new_pm").style.display = "none";
     document.getElementById("show_existing_pm").style.display = "none";
}
else {
    document.getElementById("show_new_pm").style.display = "none";
    document.getElementById("show_existing_pm").style.display = "block";
    }
}

function new_super1(){
existingPM= "{{job.client_Super.person_pk}}"
newPM = modalform.select_super.value
    if (newPM == "add_new"){
        document.getElementById("show_new_super").style.display = "block";
        document.getElementById("show_existing_super").style.display = "none";
}
else if (existingPM != newPM){
     document.getElementById("show_new_super").style.display = "none";
     document.getElementById("show_existing_super").style.display = "none";
}
else {
    document.getElementById("show_new_super").style.display = "none";
    document.getElementById("show_existing_super").style.display = "block";
    }
}

function closemodaltest(){
   $('#employee-modal').modal('toggle');
    $('#employee-modal2').modal('toggle');
}
function showEmployeeData(status, client, client_email, client_phone,pm,superintendent,super_phone,super_email, pm_phone,pm_email) {
    if (status == 'CLIENT'){
        $('[href="#3a"]').tab('show')
    }
    if (status == 'PM'){
        $('[href="#1a"]').tab('show')
    }
    if (status == 'SUPERINTENDENT'){
        $('[href="#2a"]').tab('show')
    }
    document.getElementById("title").innerHTML = client;
    let text = "<table border='1' class='table display'>";
    text += "<tr><td>Company: " + client + "</td></tr>";
    text += "<tr><td><a href='tel:+ " + client_phone + "'>Phone: " + client_phone + "</a></td></tr>";
                       text += "<tr><td><a href='mailto: " + client_email + "'>Email: " + client_email + "</a></td></tr>"
    text += "</table>"
    document.getElementById("client_info").innerHTML = text;
    text = "<table border='1' class='table display'>";
    text += "<tr><td>PM: " + pm + "</td></tr>";
    text += "<tr><td><a href='tel:+ " + pm_phone + "'>Phone: " + pm_phone + "</a></td></tr>";
    text += "<tr><td><a href='mailto: " + pm_email + "'>Email: " + pm_email + "</a></td></tr>";
    text += "</table>";
    document.getElementById("pm_info").innerHTML = text;
    text = "<table border='1' class='table display'>";
    text += "<tr><td>Superintendent: " + superintendent + "</td></tr>";
    text += "<tr><td><a href='tel:+ " + super_phone + "'>Phone: " + super_phone + "</a></td></tr>";
    text += "<tr><td><a href='mailto: " + super_email + "'>Email: " + super_email + "</a></td></tr>"
    text += "</table>"
    document.getElementById("super_info").innerHTML = text;
}

    </script>
    <style type="text/css" class="init">
        label {
            margin-right: 5px;
        }

                .nav-pills a {
            color: black;
        }
        .nav-pills li {
            padding: 2px;
            margin-left: 20px
        }
        .nav-pills .active {
            background-color: #6c757d !important;
            padding: 5px;
        }

                .tab-content * {
          color : black;
          background-color: white !important;
        }

        .active * {
            background-color: white !important;
        }
        select {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .btn {
            margin-top: 10px;
        }

        @media screen and (min-width: 800px) {
            .d-flex {
                width: 98%
            }
            .d-flex * {
                display: -webkit-box!important;
                display: -ms-flexbox!important;
                display: flex !important;
            }
            input {
                height: 35px;
            }
            select {
                height: 35px;
            }
            label {
                margin-right: 15px;
                margin-left: 15px;
                min-width: max-content;
            }
            .btn {
                margin-left: 10px;
                margin-top: 0px;
            }
        }
        .table td {
            max-width: 200px !important;
            overflow-x: hidden;
            text-wrap: nowrap !important;
            white-space: pre !important;
            -moz-overflow: hidden !important;
        }
        @-moz-document url-prefix() {
            .table td {
                overflow: hidden;
            }
        }


        .container {
            overflow-x: auto;
            -moz-overflow: auto !important;
        }
        @-moz-document url-prefix() {
            .container {
                overflow: auto;
            }
        }

    </style>
</head>
<body>
<nav class="sub-nav navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand sub-navbar-brand" href="#">Active Jobs</a>
    <div id="navbarNavDropdown2">
        <ul class="sub-nav-list navbar-nav ">
            {% if jobs == 'ALL' %}
            <li><a class="nav-item nav-link active" href="#">Home</a></li>
            {% else %}
            {% for job in jobs %}
            <li><a class="nav-item nav-link active" href="#">{{job.job_name}}</a></li>
            {% endfor %}
            {% endif %}
            <li><a class="nav-item nav-link" href="{% url 'book_new_job' %}">Book New Job</a></li>
        </ul>
    </div>
</nav>

{% if jobs == 'ALL' %}
{% if has_filter %}
<a href="{%  url 'job_page' 'ALL' %}">Clear Filter</a>
{% endif %}
<div style="margin: 12px;" class="row h-100 d-flex justify-content-left">
    <form method="get">
        {{ search_jobs.form }}
        <input type="submit" class="btn btn-primary btn-sm" value="Filter Jobs"/>
    </form>
</div>
<div class="table-responsive">
    {% render_table jobstable %}
</div>
{% else %}

<!-- Modal -->
<div class="modal fade" id="employee-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills">
                    <li>
                        <a href="#1a" class="active" data-toggle="tab">PM</a>
                    </li>
                    <li><a href="#2a" data-toggle="tab">Super</a>
                    </li>
                    <li><a href="#3a" data-toggle="tab">Company</a>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">
                        <div style="margin-top: 12px" class="table-responsive">
                            <div id="pm_info">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="2a">
                        <div style="margin-top: 12px" class="table-responsive">
                            <div id="super_info">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="3a">
                        <div style="margin-top: 12px" class="table-responsive">
                            <div id="client_info">
                            </div>
                        </div>
                    </div>
                </div>


                <button onclick = "closemodaltest()" class="btn btn-primary"> Change Client Information </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="employee-modal2" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Update information </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills">
                    <li>
                        <a href="#4a" class="active" data-toggle="tab">PM</a>
                    </li>
                    <li><a href="#5a" data-toggle="tab">Super</a>
                    </li>
                    <li><a href="#6a" data-toggle="tab">Company</a>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="4a">
                        <div style="margin-top: 12px" class="table-responsive">
                            <div id="pm_info">
                             <form id="pmform" action="{% url 'job_page' job.job_number %}" method="post" onSubmit="return before_postpm()">
                            {% csrf_token %}
                                <table>
                                    <tr><td>
                                        <label for="select_pm">Change PM</label>
                                         <select id="select_pm" name="select_pm" onchange="new_pm1()">
                                        {% if job.client_Pm %}
                                        <option value={{job.client_Pm.person_pk}}>{{job.client_Pm.name}}</option>
                                        {% else %}
                                        <option value="please_select">Please Select</option>
                                        {% endif %}
                                        <option value="add_new">Add New</option>
                                        {% if client_employees %}
                                        {% for employee in client_employees %}
                                        <option value={{employee.person_pk}}>{{employee.name}}</option>
                                        {% endfor %}
                                        {% endif %}
                                        </select>
                                    </td></tr>
                                </table>
                                <table id="show_new_pm">
                                    <tr><td>New Person: <input type= "text" name="new_pm" id="new_pm" placeholder="Name" size="30" /></td></tr>
                                    <tr><td>Email: <input type= "text" name="new_pm_email" id="new_pm_email" placeholder="Email" size="30" /></td></tr>
                                    <tr><td>Phone: <input type= "text" name="new_pm_phone" id="new_pm_phone" placeholder="Phone" size="30" /></td></tr>
                                </table>
                                <table id="show_existing_pm">
                                    <tr><td>Company Email: <input type= "text" name="pm_email" id="pm_email" {% if job.client_Pm.email %}value='{{job.client_Pm.email}}' {% else %} placeholder="Email" {% endif %} size="30" /></td></tr>
                                    <tr><td>Main Phone: <input type= "text" name="pm_phone" id="pm_phone" {% if job.client_Pm.phone %}value='{{job.client_Pm.phone}}' {% else %} placeholder="Main Phone" {% endif %} size="30" /></td></tr>
                                </table>
                                <table><tr><td><input type="submit" name="submit_pm" class="btn btn-danger" value="Save Changes to PM" /></td></tr></table>
                             </form>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="5a">
                        <div style="margin-top: 12px" class="table-responsive">
                            <div id="super_info">
                                <form id="modalform" action="{% url 'job_page' job.job_number %}" method="post" onSubmit="return before_postsuper()">
                                    {% csrf_token %}
                                    <table>
                                        <tr><td>
                                            <label for="select_super">Change Super</label>
                                            <select id="select_super" name="select_super" onchange="new_super1()">
                                            {% if job.client_Super %}
                                            <option value={{job.client_Super.person_pk}}>{{job.client_Super.name}}</option>
                                            {% endif %}
                                            <option value="not_sure">Not Sure</option>
                                            <option value="add_new">Add New</option>
                                            {% if client_employees %}
                                            {% for employee in client_employees %}
                                            <option value={{employee.person_pk}}>{{employee.name}}</option>
                                            {% endfor %}
                                            {% endif %}
                                            </select>
                                        </td></tr>
                                    </table>
                                    <table id="show_new_super">
                                        <tr><td>New Person: <input type= "text" name="new_super" id="new_super" placeholder="Name" size="30" /></td></tr>
                                        <tr><td>Email: <input type= "text" name="new_super_email" id="new_super_email" placeholder="Email" size="30" /></td></tr>
                                        <tr><td>Phone: <input type= "text" name="new_super_phone" id="new_super_phone" placeholder="Phone" size="30" /></td></tr>
                                    </table>
                                    <table id="show_existing_super">
                                        <tr><td>Company Email: <input type= "text" name="super_email" id="super_email" {% if job.client_Super.email %}value='{{job.client_Super.email}}' {% else %} placeholder="Email" {% endif %} size="30" /></td></tr>
                                        <tr><td>Main Phone: <input type= "text" name="super_phone" id="super_phone" {% if job.client_Super.phone %}value='{{job.client_Super.phone}}' {% else %} placeholder="Main Phone" {% endif %} size="30"  /></td></tr>
                                    </table>
                                     <table><tr><td><input type="submit" name="submit_super" class="btn btn-danger" value="Save Changes to Super" /></td></tr></table>
                                 </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="6a">
                        <div style="margin-top: 12px" class="table-responsive">
                            <div id="client_info">
                                 <form id="clientform" action="{% url 'job_page' job.job_number %}" method="post" >
                                    {% csrf_token %}
                                    <table>
                                        <tr><td>Company Email: <input type= "text" name="client_bid_email" id="client_bid_email" {% if job.client.bid_email %}value='{{job.client.bid_email}}' {% else %} placeholder="Email" {% endif %} size="30" /></td></tr>
                                        <tr><td>Main Phone: <input type= "text" name="client_phone" id="client_phone" {% if job.client.phone %}value='{{job.client.phone}}' {% else %} placeholder="Main Phone" {% endif %} size="30" /></td></tr>
                                    </table>
                                    <table><tr><td><input type="submit" name="submit_client" class="btn btn-danger" value="Save Changes to Client" /></td></tr></table>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close without Saving</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col"><b>Job Name:</b> {{job.job_name}}</div>
        <div class="col"><b>Job Number:</b> {{job.job_number}}</div>
        <div class="col"><b>Address:</b> {{job.address}} {{job.city}} {{job.state}}</div>
    </div>
    <div class="row">

        <div class="col"data-toggle="modal" data-target="#employee-modal"><a href ="#" onclick="showEmployeeData( 'CLIENT','{{ job.client }}', '{{ job.client.bid_email }}','{{ job.client.phone }}', '{{ job.client_Pm }}', '{{ job.client_Super }}', '{{ job.client_Super.phone }}', '{{ job.client_Super.email }}', '{{ job.client_Pm.phone }}', '{{ job.client_Pm.email }}');"><b>Client:</b> {{job.client}}</a></div>
        <div class="col"data-toggle="modal" data-target="#employee-modal"><a href ="#" onclick="showEmployeeData('PM',  '{{ job.client }}', '{{ job.client.bid_email }}','{{ job.client.phone }}', '{{ job.client_Pm }}', '{{ job.client_Super }}', '{{ job.client_Super.phone }}', '{{ job.client_Super.email }}', '{{ job.client_Pm.phone }}', '{{ job.client_Pm.email }}');"><b>GC PM:</b> {{job.client_Pm}}</a></div>
        <div class="col"data-toggle="modal" data-target="#employee-modal"><a href ="#" onclick="showEmployeeData( 'SUPERINTENDENT','{{ job.client }}', '{{ job.client.bid_email }}','{{ job.client.phone }}', '{{ job.client_Pm }}', '{{ job.client_Super }}', '{{ job.client_Super.phone }}', '{{ job.client_Super.email }}', '{{ job.client_Pm.phone }}', '{{ job.client_Pm.email }}');"><b>GC Super:</b> {{job.client_Super}} </a></div>
    </div>

    <div class="row">
        <div class="col-sm-4"><a href="{% url 'change_start_date' job.job_number 'jobpage' 'ALL' 'JOB' %}"><b>Start
            Date:</b> - {{job.start_date}}</a></div>
        <div class="col-sm-4"><a href="{% url 'change_gpsuper' job.job_number 'jobpage' %}"><b>Gerloff Super:</b> -
            {{job.superintendent}}</a></div>
        <div class="col-sm-4"><b>Gerloff Estimator:</b> {{job.estimator}}</div>
    </div>
    <div class="row">
        <div class="col"><b>Contract Amount:</b> {% if job.is_t_m_job == True %} T&M {% else %}
            {{job.contract_amount}}{% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{% url 'update_job_info' job.job_number %}"><input type="submit" class="btn btn-info btn-sm"
                                                                             value="Update Job Information"/></form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <form action="{% url 'change_order_new' job.job_number %}"><input type="submit" class="btn btn-primary btn-sm" value="New Change Order"/>
            </form>
        </div>
                <div class="col-sm-2">
            <form action="{% url 'request_pickup' jobnumber=job.job_number item='ALL' pickup='ALL' status='ALL' %}"><input type="submit" class="btn btn-primary btn-sm" value="Request Job Pickup"/>

            </form>
        </div>
    </div>
</div>

<button type="button" class="collapsible">Job Notes</button>
<div class="content">
    <div class="row">
        <div class="col">

            <form action="{% url 'job_page' job.job_number %}" method="post">
                {% csrf_token %}

              <br>
               <label for="add_note">ADD A NOTE: </label> <br>

                <textarea class="form-control" id="add_note" name="add_note" rows="2" cols="10" ></textarea>

                <input type="submit" name="Form3" value="Add Note"/>
            </form>

        </div>
    </div>
    <form style="padding-top: 24px" method="get">
        <div class="row">
            <div class="col-sm-2">
                {% if admin %}
                Admin<input type="checkbox" name="admin" checked/>
                {% else %}
                Admin<input type="checkbox" name="admin"/>
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if start %}
                Start<input type="checkbox" name="start" checked/>
                {% else %}
                Start<input type="checkbox" name="start"/>
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if field %}
                Field<input type="checkbox" name="field" checked/>
                {% else %}
                Field<input type="checkbox" name="field"/>
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if change_order %}
                Change Order<input type="checkbox" name="change_order" checked/>
                {% else %}
                Change Order<input type="checkbox" name="change_order"/>
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if submittal %}
                Submittal<input type="checkbox" name="submittal" checked/>
                {% else %}
                Submittal<input type="checkbox" name="submittal"/>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Filter"/>
            </div>
        </div>
    </form>
    <div class="demo-html" style="width:90%">
        <table id="notes_table" class="display table" style="width:90%">
            <thead>
            <tr>
                <th scope="col">By</th>
                <th scope="col">Date</th>
                <th scope="col">Note</th>
            </tr>
            </thead>
            <tbody>
            {% if notes %}
            {% for x in notes %}
            <tr>
                <td>{{x.user}}</td>
                <td>{{x.date}}</td>
                <td>{{x.note}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
<hr>
<br>
{% if tickets %}
<button type="button" class="collapsible">Outstanding Extra Work Tickets</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table" class="display table" style="width:90%">
            <thead>
            <tr>
                <th>CO#</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
            <tr>
                <td><a href="{% url 'extra_work_ticket' ticket.id %}">{{ticket.cop_number}}</a></td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% if open_cos %}
<hr>
<button type="button" class="collapsible">Pending Change Orders Not Approved Yet</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table1" class="display table" style="width:90%">
            <thead>
            <tr>
                <th>CO#</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for open_co in open_cos %}
            <tr>
                <td><a href="{% url 'extra_work_ticket' open_co.id %}">{{open_co.cop_number}}</a></td>
                <td>{{open_co.description}}</td>
                <td>{{open_co.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


{% if approved_cos %}
<hr>
<button type="button" class="collapsible">Approved Change Orders</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table2" class="display" style="width:90%">
            <thead>
            <tr>
                <th>CO#</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for approved_co in approved_cos %}
            <tr>
                <td>{{approved_co.cop_number}}</td>
                <td>{{approved_co.description}}</td>
                <td>{{approved_co.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if equipments %}
<hr>
<button type="button" class="collapsible">Equipment</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table3" class="display" style="width:90%">
            <thead>
            <tr>
                <th>Type</th>
                <th>Item</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for equipment in equipments %}
            <tr>
                <td>{{equipment.inventory_type}}</td>
                <td><a href="{% url 'equipment_page' equipment.id %}">{{equipment.item}}</a></td>
                <td>{{equipment.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if rentals %}
<hr>
<button type="button" class="collapsible">Rentals</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table4" class="display" style="width:90%">
            <thead>
            <tr>
                <th>Item</th>
                <th>On Rent Date</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for rental in rentals %}
            <tr>
                <td><a href="{% url 'rental_page' rental.id 'YES' %}">
                    <div style="height:100%;width:100%">
                        {{rental.item}}
                    </div>
                </a></td>
                <td>{{rental.on_rent_date}}</td>
                <td>{{rental.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if wc_not_ordereds %}
<hr>
<button type="button" class="collapsible">Wallcovering Not Ordered</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table5" class="display" style="width:90%">
            <thead>
            <tr>
                <th>Code</th>
                <th>Vendor</th>
                <th>Pattern</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>c
            {% for wc_not_ordered in wc_not_ordereds %}
            <tr>
                <td>{{wc_not_ordered.code}}</td>
                <td>{{wc_not_ordered.vendor.company_name}}</td>
                <td>{{wc_not_ordered.pattern}}</td>
                <td>{{wc_not_ordered.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if wc_ordereds %}
<hr>
<button type="button" class="collapsible">Wallcovering Ordered But Not Received</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table6" class="display" style="width:90%">
            <thead>
            <tr>
                <th>Description</th>
                <th>Date Ordered</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for wc_ordered in wc_ordereds %}
            <tr>
                <td>{{wc_ordered.item_description}}</td>
                <td>{{wc_ordered.order.date_ordered}}</td>
                <td>{{wc_ordered.order.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if packages %}
<hr>
<button type="button" class="collapsible">Received Wallcovering</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table7" class="display" style="width:90%">
            <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Notes</th>
                <th>Sent to Job</th>
            </tr>
            </thead>
            <tbody>
            {% for package in packages %}
            <tr>
                <td>{{package.description}}
                    {% if package.order_item1.wallcovering.code != None %}
                    {{package.order_item1.wallcovering.code}} {{package.qnty_item1}} {{package.unit_item1}}
                    {% endif %}
                    {{package.order_item2.wallcovering.code}} {{package.qnty_item2}} {{package.unit_item2}}
                    {% if package.order_item3.wallcovering.code != None %}
                    {{package.order_item3.wallcovering.code}} {{package.qnty_item3}} {{package.unit_item3}}
                    {% endif %}
                    {% if package.order_item4.wallcovering.code != None %}
                    {{package.order_item4.wallcovering.code}} {{package.qnty_item4}} {{package.unit_item4}}
                    {% endif %}
                    {% if package.order_item5.wallcovering.code != None %}
                    {{package.order_item5.wallcovering.code}} {{package.qnty_item5}} {{package.unit_item5}}
                    {% endif %}
                </td>
                <td>{{package.quantity_received}} {{package.unit}}</td>
                <td>{{package.notes}}</td>
                <td>
                    {% if deliveries %}
                    {% for delivery in deliveries %}

                    {% if delivery.package == package %}
                    {{delivery.description}} {{delivery.quantity_sent}} {{delivery.outgoing_event.date}}
                    {% endif %}

                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if submittals %}
<hr>
<button type="button" class="collapsible">Submittals</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table8" class="display" style="width:90%">
            <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Date Sent</th>
                <th>Date Returned</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for submittal in submittals %}
            <tr>
                <td>{{submittal.submittal_number}}</td>
                <td>{{submittal.description}}</td>
                <td>{{submittal.date_sent}}</td>
                <td>{{submittal.date_returned}}</td>
                <td>{{submittal.notes}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if subcontracts %}
<hr>
<button type="button" class="collapsible">Subcontractors</button>
<div class="content">
    <div class="demo-html" style="width:90%">
        <table id="tickets_table9" class="display" style="width:90%">
            <thead>
            <tr>
                <th>PO #</th>
                <th>Company</th>
                <th>Description</th>

            </tr>
            </thead>
            <tbody>
            {% for subcontract in subcontracts %}
            <tr>
                <td>{{subcontract.po_number}}</td>
                <td>{{subcontract.subcontractor.company}}</td>
                <td>{{subcontract.description}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>

</body>
</html>

{% endblock %}
