{% extends 'base.html' %}
{% load static %}
{% block nav_item_jobs %}active{% endblock nav_item_jobs %}


{% block extra_head %}
  <link rel="stylesheet" href="{% static 'project_styles.css' %}">
{% endblock %}

{% block sub_nav %}
{% include 'jobs_nav.html' with page_label="Upload Job" %}
{% endblock %}

{% block content %}

					<form name = add_file action="{% url 'upload_new_job' %}" method="post" enctype="multipart/form-data">
        			{% csrf_token %}
					<!--Attachment: <input type= "file" name="upload_file" id="upload_file" onchange="addAttachment(this)" placeholder="" multiple/>-->
					Attachment: <input type= "file" name="upload_file" id="upload_file" />
                        <br>
<!--                        Job Number: <input type= "text" name="job_number" id="job_number" />-->
                        <br>

					<input type="submit" value="Upload File" />


				</form>


{% endblock %}

{% block extra_scripts %}
  <script>    $( ".book_new_job" ).addClass("active");  </script>
    <script type="text/javascript">

    </script>
{% endblock %}